<app-header class="bg-white" [title]="'Made To Shopping'"></app-header>
<div *ngIf="Products$ | async as products">
  <div class="relative mx-10 bg-white-100 px-4 pt-1 pb-5 sm:px-6 ">
      <button class="font-garamond bg-white" [matMenuTriggerFor]="menu" mat-flat-button matTooltip="Select Category"
        aria-label="menu">
        <span class="font-garamond text-2xl font-bold">Filter</span>
        <mat-icon [svgIcon]="'heroicons_outline:filter'"></mat-icon>
      </button>
      <span class="font-garamond m-2 pb-1 text-2xl">{{currentCategory}}</span>
      <!-- menu selected -->
      <mat-menu class="side-nav" #menu="matMenu">
        <ul *ngIf="this.Category$| async as party">
          <ui class="side-nave__item" *ngFor="let item of party">
            <button mat-menu-item (click)="onRefreshName(item.name)" xPosition="after">
              {{item.name}}
            </button>
          </ui>
        </ul>
      </mat-menu>
  </div>
  <div class="relative bg-white px-4 pt-1 pb-5 sm:px-6">
    <div class="grid grid-cols-1 mx-10 gap-y-10 gap-x-6 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 xl:gap-x-8">
      <li *ngFor="let product of products ">
        <shop-card [product]="product"></shop-card>
      </li>
    </div>
  </div>
</div>