
    <div class="py-14 px-3">
      <div
        class="lg:max-w-[1200px] md:max-w-[744px] max-w-[375px] mx-auto bg-white"
      >
        <div class="bg-white lg:px-10 md:px-6 px-4 py-7">
          <p
            class="lg:text-4xl md:text-3xl text-3xl text-center font-semibold  text-gray-800"
          >
          Women’s Apparel
          </p>
          <p class="text-base text-center text-gray-600 mt-4">Buy your outfit now from our exciting range of casual-wear!</p>
          <div class="swiper mySwiper_carousel_15">
            <div class="swiper-wrapper">
              <div class="swiper-slide mt-8">
                  <div>
                    <img
                      src="https://tuk-cdn.s3.amazonaws.com/can-uploader/hands%20in%20pockets.png"
                      alt="nike shoes" class=""
                    />
                  </div>
              </div>
              <div class="swiper-slide mt-8">
                <div>
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/bricksss.png"
                    alt="nike shoes" class=""
                  />
                </div>
            </div>

            <div class="swiper-slide mt-8">
                <div>
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/curls.png"
                    alt="nike shoes" class=""
                  />
                </div>
            </div>

            <div class="swiper-slide mt-8">
                <div>
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/klkkl.png"
                    alt="nike shoes" class=""
                  />
                </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>


