<mat-card>
<div class="flex">
  <img class="flex-none w-12 h-12 p-2" src='assets/img/dnd/ic-upload-file.svg'>
  <span class="flex-1 text-3xl text-bold">Image Upload Files</span>
</div>
<div mat-dialog-content>
  <form [formGroup]="formGroup" #myForm="ngForm">
    <div class="container" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)" />

        <h3>Drag and drop file here</h3>
      <h3>or</h3>
      <label for="fileDropRef">Browse for file</label>

    </div>
    <div class="files-list">
      <div class="single-file" *ngFor="let file of files; let i = index">
        <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
        <div class="info">
          <h4 class="name">
            {{ file?.name }}
          </h4>
          <p class="size">
            {{ formatBytes(file?.size) }}
          </p>
          <app-progress [progress]="file?.progress"></app-progress>
        </div>
        <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
      </div>
    </div>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="onCreate()" mat-flat-button color="primary" class="transition duration-150 ease-in-out">
      Update
    </button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
      Close
    </button>
  </div>
</div>
</mat-card>
