<script async src="https://www.googletagmanager.com/gtag/js?id=G-WGMMJK9NR3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WGMMJK9NR3');
</script>

<div (click)="onRefreshName(category.name)">
 <mat-chip-listbox aria-label="category selection">
  <mat-chip color="accent" variant="outlined">
    <img matChipAvatar [src]="category.image" [alt]="category.name"/>
    {{category.name}}
  </mat-chip>
  </mat-chip-listbox>
</div>


<!-- </div> -->
