<div class="column has-text-centered">
  <div class="img-row lg: w-full h-auto lg:h-[350px] lg:w-[350px] rounded-t-sm cursor-zoom-in" *ngFor="let image of albums; let i=index">
    <img class="img-frame w-60 h-60" [src]="image.thumb" (click)="open(i)"/>
  </div>
</div>
<div class="huge-margin-top column has-text-centered">
    <div class="img-row " *ngFor="let image of albums; let i = index">
        <img class="img-frame lg: w-full h-auto lg:h-[350px] lg:w-[350px] rounded-t-sm cursor-zoom-in" [src]="image.thumb" (click)="open(i)"/>
    </div>
</div>

