// FONT$default-font-size: 1.6rem;
$Broadridge_Blue: #00578e;

.kanban_title {
  height: 4rem;
  padding: 4px;
  border-left: solid 6px $Broadridge_Blue;
  color: white;
  background-color: #00578e;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 16px;
  margin: 1px;
  text-transform: uppercase;

  &__heading {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left-center;
    background-color: rgb(235, 195, 215);
    position: absolute;
    top: 0rem;
    right: 2rem;
    width: 75%;
  }
}

.container {
  width: 100%;
  background-color: rgb(131, 36, 36);
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  // grid-auto-rows: 400px;
  grid-template-rows: 912px;

  .item {
    color: rgb(14, 1, 1);
    font-family: sans-serif;
    font-size: 30px;
    &--1 {
      background: rgb(245, 246, 250);
    }

    &--2 {
      background: rgb(245, 246, 250);
    }

    &--3 {
      background: rgb(245, 246, 250);
    }

    &--4 {
      background: rgb(245, 246, 250);
    }
  }
}



.list {
  // border: dashed 1px rgb(81, 50, 139);
  background: rgb(245, 246, 250);
  font-size: 10px;
  overflow: hidden;
  min-height: 60vh;
  display: block;
  margin: 0;
  align-items: left;
}

.cdk-drop-list {
  padding: 0.5rem;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 8px 8px 10px 1px rgba(155, 34, 34, 0.14)
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 500ms cubic-bezier(0.2, 0.2, 0.2, 0.2);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 500ms cubic-bezier(1, 1, 0.2, 1);
}

.side-drawer {
  width: 600px;
}

.ag-grid-container {
  width: 100%;
  margin: 1px auto;
  background: rgb(245, 246, 250);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  min-height: 100vh;

  .item {
    padding: 0px;
    background-color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;

    &--1 {
      background-color: orangered;
    }

    &--2 {
      background-color: yellowgreen;
    }

    &--3 {
      background-color: blueviolet;
    }

    &--4 {
      background-color: palevioletred;
    }
  }
}

.mat-drawer {
  background: rgb(245, 246, 250);
}

.mat-raise-button {
  margin: 5px;
}
.mat-button {
  margin: 5px;
}
.mat-flat-button {
  margin: 5px;
}

.mat-card {
  margin: 10px;
  width: 500px;
}
.mat-radio-button {
  margin: 5px;
}