<mat-toolbar class="flex flex-wrap items-center justify-between  text-white bg-gray-700 mb-1">
  <div class="flex items-center flex-shrink-0 mr-6 text-white">
    <span class="text-3xl tracking-tight">Blog </span>
  </div>

  <div class="flex-grow block w-full lg:flex lg:items-center lg:w-auto">

  </div>

  <span class="fill-space"></span>

  <button (click)="onClickRefresh()" mat-icon-button matTooltip="Refresh" aria-label="refresh">
    <mat-icon [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
  </button>

  <button (click)="onClickClone()" mat-icon-button matTooltip="Clone" aria-label="clone">
    <mat-icon [svgIcon]="'mat_outline:content_copy'"></mat-icon>
  </button>
  <button (click)="onClickAdd()" mat-icon-button matTooltip="Add" aria-label="Delete">
    <mat-icon class="side-nav__icon" [svgIcon]="'mat_outline:note_add'"></mat-icon>
  </button>
  <button (click)="onClickDelete()" mat-icon-button matTooltip="Delete" aria-label="Delete">
    <mat-icon class="side-nav__icon" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
  </button>

</mat-toolbar>
