<!-- side bar -->
<div class="container relative h-screen">
  <aside aria-label="Sidebar">
    <div class="px-3 py-10 text-gray-100 bg-gray-100 rounded w-50 dark:bg-gray-800">
      <div class="ml-4">
        <img src="assets/madetologo-black.svg" alt="logo">
      </div>
      <ul class="space-y-2">

        <ng-container *ngIf="show_admin_menu === false">
          <li>
            <a routerLink="home" (click)="onClose()"
              class="flex items-center p-2 pr-5 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-300 dark:hover:bg-gray-300 ">
              <mat-icon [svgIcon]="'mat_outline:dashboard_customize'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Home</span>
            </a>
          </li>

          <li>
            <a (click)="onShop()" (click)="onClose()"
              class="flex items-center p-2 pr-5 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-300 dark:hover:bg-gray-300 hover:cursor-pointer">
              <mat-icon [svgIcon]="'mat_outline:shopping_cart'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Shop</span>
            </a>
          </li>
          <li>
            <a routerLink="blog" (click)="onClose()"
              class="flex items-center p-2 pr-5 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-300 dark:hover:bg-gray-300 hover:cursor-pointer">
              <mat-icon (onclick)="onClose()" [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Thoughts</span>
            </a>
          </li>
          <li>
            <a routerLink="collections" (click)="onClose()"
              class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-300 dark:hover:bg-gray-300">
              <mat-icon [svgIcon]="'mat_outline:shop_2'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Collections</span>
            </a>
          </li>

          <li>
            <a (click)="onWishList()"
              class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl pr- grow hover:bg-gray-300 dark:hover:bg-gray-300 hover:cursor-pointer">
              <mat-icon [svgIcon]="'heroicons_outline:gift'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Wish List</span>
            </a>
          </li>

          <li>
            <a (click)="onCart()"
              class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl pr- grow hover:bg-gray-300 dark:hover:bg-gray-300 hover:cursor-pointer">
              <mat-icon [svgIcon]="'mat_outline:shopping_cart'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap" [matBadge]=cartCount [matBadgeHidden]="cartCount===0">Shopping
                Cart</span>
            </a>
          </li>
          <li>
            <a routerLink="profile" (click)="onClose()"
              class="flex items-center p-2 pr-5 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-300 dark:hover:bg-gray-100">
              <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Profile</span>
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="(userService.roles$ | async) as roles">
          <ng-container *ngIf="roles.admin">
            <li class="mt-5 text-gray-500">Administration</li>
            <li>
              <a routerLink="admin/company"
                class="flex items-center p-2 pr-5 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-300 dark:hover:bg-gray-300">
                <mat-icon [svgIcon]="'mat_outline:dashboard_customize'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Company</span>
              </a>
            </li>

            <li>
              <a routerLink="blog-admin"
                class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl pr- grow hover:bg-gray-300 dark:hover:bg-gray-300">
                <mat-icon [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Thoughts</span>
              </a>
            </li>

            <li>
              <a routerLink="collections-admin"
                class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl pr- grow hover:bg-gray-300 dark:hover:bg-gray-300">
                <mat-icon [svgIcon]="'mat_outline:shop_2'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Collections</span>
              </a>
            </li>
            <li>
              <a routerLink="admin/inventory"
                class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl pr- grow hover:bg-gray-300 dark:hover:bg-gray-300">
                <mat-icon [svgIcon]="'mat_outline:shopping_cart'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Inventory</span>
              </a>
            </li>

            <li>
              <a routerLink="admin/contact-grid"
                class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl pr- grow hover:bg-gray-300 dark:hover:bg-gray-300">
                <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Contacts</span>
              </a>
            </li>

            <li>
              <a routerLink="admin/category"
                class="flex items-center p-2 pr-5 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-300 dark:hover:bg-gray-300">
                <mat-icon (onclick)="onClose()" [svgIcon]="'mat_outline:category'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Category</span>
              </a>
            </li>
            <li>
              <a routerLink="admin/gallery"
                class="flex items-center p-2 pr-5 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-300 dark:hover:bg-gray-300">
                <mat-icon [svgIcon]="'mat_outline:album'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Images</span>
              </a>
            </li>
            <li>
              <a routerLink="policy"
                class="flex items-center p-2 pr-5 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-300 dark:hover:bg-gray-300">
                <mat-icon [svgIcon]="'mat_outline:policy'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Policy</span>
              </a>
            </li>
          </ng-container>
        </ng-container>
        <!-- </ng-container> -->
      </ul>
    </div>
  </aside>
</div>
