<div class="h-screen">
  <grid-menubar
    [inTitle]="sTitle"
    (notifyParentRefresh)="Refresh()"
    (notifyParentDelete)="Delete()"
    (notifyParentAdd)="Add()"
    (notifyParentClone)="Clone()"
  >
  </grid-menubar>
  <mat-drawer-container>
    <mat-drawer
      #drawer
      [opened]="false"
      mode="side"
      [position]="'end'"
      [disableClose]="false"
    >
      <mat-card>
        <div
          mat-card-title
          class="card-title"
          [ngStyle]="{ 'border-left': '10px solid' + cRAG }"
        >
          {{ sTitle }}
        </div>
        <div mat-card-content>
          <!-- <form [formGroup]="imageGroup" (ngSubmit)="onUpdate(imageGroup.value)" class="form">
        </form> -->
        </div>
      </mat-card>
    </mat-drawer>
    <mat-drawer-content>
      <div cdkDropListGroup class="grid grid-cols-5 gap-4">
        <!-- NOT_USED -->
        <div
          class="item--1 lg-rounded"
          style="height: 900px; overflow-y: auto"
          cdkScrollable >
          <div class="kanban_title">Unused Images</div>
          <div cdkDropList #notused="cdkDropList"  [id]="NOT_USED" [cdkDropListData]="not_used" (cdkDropListDropped)="drop($event)" >
            <div *ngFor="let item of not_used" cdkDrag>
              <app-image-card [url]="item.imageSrc" [file_name]="item.caption" ></app-image-card>
            </div>
          </div>

        </div>
        <!-- FEATURED -->
        <div
          class="item--2 lg-rounded"
          style="height: 900px; overflow-y: auto"
          cdkScrollable >
          <div class="kanban_title">FEATURED</div>
          <div
            class="block h-screen"
            cdkDropList
            #feature="cdkDropList"
            [id]="FEATURED"
            [cdkDropListData]="featured"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of featured" cdkDrag>
              <app-image-card
                [url]="item.imageSrc"
                [file_name]="item.caption">
              </app-image-card>
            </div>
          </div>
        </div>
        <!-- CREATIONS -->
        <div
          class="item--3"
          style="height: 900px; overflow-y: auto"
          cdkScrollable >
          <div class="kanban_title">CREATIONS</div>
          <div
            cdkDropList
            #creation="cdkDropList"
            [id]="COLLECTIONS"
            [cdkDropListData]="creations"
            class="list"
            (cdkDropListDropped)="drop($event)" >
            <div *ngFor="let item of creations" cdkDrag>
              <app-image-card
                [url]="item.imageSrc"
                [file_name]="item.caption">
              </app-image-card>
            </div>
          </div>
        </div>
        <!-- COLLECTIONS -->
        <div
          class="item--4"
          style="height: 900px; overflow-y: auto"
          cdkScrollable
        >
          <div class="kanban_title">collections</div>
          <div cdkDropList
            #collection="cdkDropList"
            [cdkDropListData]="collections"
            [id]="CREATIONS"
            class="list"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of collections" cdkDrag>
              <app-image-card
                [url]="item.imageSrc"
                [file_name]="item.caption"
              ></app-image-card>
            </div>
          </div>
        </div>
        <!-- GALLERY -->
        <div style="height: h-screen; overflow-y: auto" cdkScrollable>
          <div class="kanban_title uppercase lg-rounded">GALLERY</div>
          <div
            cdkDropList
            #galleries="cdkDropList"
            [cdkDropListData]="gallery"
            [id]="GALLERY"
            class="list"
            (cdkDropListDropped)="drop($event)" >
            <div *ngFor="let item of gallery" cdkDrag>
              <app-image-card
                [url]="item.imageSrc"
                [file_name]="item.caption"
              ></app-image-card>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
