<div class="h-screen">
  <mat-drawer-container>
    <mat-drawer class="w-3/8 lg:w-3/8 md:w-3/4 sm:w-full bg-white-100" #drawer [opened]="false" mode="over" [position]="'end'" [disableClose]="false">
    <mat-card class="flex flex-col w-full text-gray-700 filter-article filter-interactive">
      <div mat-dialog-title [ngStyle]="{ 'border-left': '10px solid' + cRAG }">
        {{ sTitle }}
      </div>
      <div mat-dialog-content>
          <form [formGroup]="imageGroup" (ngSubmit)="onUpdate(imageGroup.value)" class="form">
            <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '100%' }">
              <input matInput placeholder="Caption" formControlName="caption" />
            </mat-form-field>
          </form>
        </div>
      </mat-card>
    </mat-drawer>
    <mat-drawer-content>
      <div cdkDropListGroup class="grid grid-cols-5 gap-4">
        <!-- NOT_USED -->
        <div class="item--1 lg-rounded" style="height: 900px; overflow-y: auto" cdkScrollable>
          <div class="sticky top-0 z-50 image_title">Unused Images</div>
          <div cdkDropList
            #notused="cdkDropList"
            [id]="IN_NOT_USED"
            [cdkDropListData]="not_usedImages"
            class="list drag-drop-list"
            (cdkDropListDropped)="drop($event)" >
            <div *ngFor="let item of not_usedImages" cdkDrag>
              <div class="drop-placeholder" *cdkDragPlaceholder></div>
              <app-image-card (notifyOpenImageCard)="onOpenDrawer($event)" [url]="item.imageSrc" [file_name]="item.caption"></app-image-card>
            </div>
          </div>
        </div>
        <!-- FEATURED -->
        <div class="item--2 lg-rounded" style="height: 900px; overflow-y: auto" cdkScrollable >
          <div class="sticky top-0 z-50 image_title">FEATURED</div>
            <div
            cdkDropList #featured="cdkDropList"
            [id]="IN_FEATURED"
            [cdkDropListData]="featuredImages"
            class="list"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of featuredImages" cdkDrag>
              <app-image-card  [url]="item.imageSrc" [file_name]="item.caption"> </app-image-card>
            </div>
          </div>
        </div>
        <!-- CREATIONS -->
        <div class="item--3 lg-rounded" style="height: 900px; overflow-y: auto" cdkScrollable >
          <div class="sticky top-0 z-50 image_title">CREATIONS</div>
            <div cdkDropList #creations="cdkDropList" [id]="IN_CREATION" [cdkDropListData]="creationsImages" class="list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of creationsImages" cdkDrag>
              <app-image-card [url]="item.imageSrc" [file_name]="item.caption"> </app-image-card>
            </div>
          </div>
        </div>
        <!-- COLLECTIONS -->
        <div class="item--4 lg-rounded" style="height: 900px; overflow-y: auto" cdkScrollable >
          <div class="sticky top-0 z-50 uppercase image_title lg-rounded">collections</div>
          <div cdkDropList #collections="cdkDropList" [id]="IN_COLLECTION" [cdkDropListData]="collectionsImages"  class="list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of collectionsImages" cdkDrag>
              <app-image-card [url]="item.imageSrc"  [file_name]="item.caption"></app-image-card>
            </div>
          </div>
        </div>
        <!-- GALLERY -->
        <div class="item--5 lg-rounded" style="height: 900px; overflow-y: auto" cdkScrollable >
          <div class="sticky top-0 z-50 uppercase image_title lg-rounded">gallery</div>
          <div
             cdkDropList #gallerys="cdkDropList"
             [cdkDropListData]="galleryImages"
             [id]="IN_GALLERY"
             class="list"
             (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of galleryImages" cdkDrag>
              <app-image-card [url]="item.imageSrc" [file_name]="item.caption"></app-image-card>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
