 <ng-container *ngIf="featuredList$ | async as galleryList">

  <section id="hero" class="bg-gray-800 z-1" >
    <button mat-icon-button (click)="onMenuToggle()" class="visible pl-10 text-white -pt-10 xl:invisible">
      <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
    </button>


    <div class="container h-screen max-w-8xl">

      <!-- <land-header></land-header> -->
      <!-- Menu/Logo Container -->

      <nav class="z-50 flex flex-wrap items-center justify-between text-2xl text-gray-900">
        <button (click)="onMenuToggle()" class="invisible pl-10 xl:visible">
          <img class="h-40 w-80 hover:caret-context-menu" src="assets/made-to-logo-white.svg" />
        </button>

        <!-- Logo -->
        <!-- Menu -->
        <button mat-icon-button (click)="onMenuToggle()" class="visible pl-10 text-white -pt-10 xl:invisible">
          <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>

        <span class="fill-space"></span>
        <div class="hidden h-10 mr-4 text-3xl sm:flex md:space-x-6">
          <div class="text-gray-100 uppercase 50 group font-garamond">
            <button (click)="onAboutUs()" class="p-1 -mt-5 uppercase font-garamond hover:border-b hover:text-gray-100"> About Us</button>
          </div>

            <div class="text-gray-100 uppercase text-1xl group">
            <button (click)="onService()" class="p-1 -mt-5 uppercase font-garamond hover:border-b hover:text-gray-100"> Services</button>
          </div>

          <div class="text-gray-100 uppercase text-1xl group">
            <button (click)="onFollowing()" class="p-1 -mt-5 uppercase font-garamond hover:border-b hover:text-gray-100"> Follow</button>
          </div>

          <div class="text-gray-100 uppercase text-1xl group">
            <button class="p-1 -mt-5 uppercase font-garamond hover:border-b hover:text-gray-100" routerLink="/home/contacts"> Contact</button>
          </div>

          <div class="text-gray-100 uppercase text-1xl group">
          <button class="p-1 -mt-5 uppercase font-garamond hover:border-b hover:text-gray-100" routerLink="/blog">Thoughts</button>
          </div>

          <div class="text-gray-100 uppercase text-1xl group">
            <button class="p-1 -mt-5 uppercase font-garamond hover:border-b hover:text-gray-100" routerLink="/shop">shop</button>
          </div>

          <div class="text-gray-100 uppercase text-1xl group">
            <button class="p-1 -mt-5 uppercase font-garamond hover:border-b hover:text-gray-100" routerLink="/blog"routerLink="/profile">profile</button>
          </div>

        </div>
      </nav>

      <div class="max-w-3xl m-2 text-gray-100 uppercase border-2 font-garamond md:p-5 md:m-3 md:mx-10 md:text-4xl">
        {{ titleMessage }}
      </div>

      <div class="container flex flex-col pb-1 mx-auto bg-gray-600 sm:bg-transparent t-10 mpt-5 px:-2 md:flex-row">
        <div (click)="onFeatured()" class=" hover:cursor-pointer block py-6 mx-auto text-center p-x-4 max-w-7xl sm:px-6 lg:py-10 lg:px-8 w-[400px] transition duration-300 ease-in-out hover:opacity-70">
          <img src="./assets/images/cta_knitting_200x200.png" class="rounded-lg hover:" width="400" height="400">
            <div class="p-2 mb-2 -mt-20 text-3xl tracking-tight text-gray-100 centered sm:text-3xl hover:text-gray-900">
              <span class="uppercase font-garamond">{{mainPageDoc.cta_left}}</span>
            </div>
        </div>

        <div  (click)="onLastestBlog()"  class="hover:cursor-pointer block px-4 py-6 mx-auto text-center max-w-7xl sm:px-6 lg:py-10 lg:px-8 w-[400px] transition duration-300 ease-in-out hover:opacity-50">
            <img src="./assets/images/cta_scissors_200x200.png" class="rounded-lg" width="400" height="400" >
            <div class="p-2 mb-2 -mt-20 text-3xl tracking-tight hover:opacity-100 sm:text-3xl">
              <span class="uppercase font-garamond">{{mainPageDoc.cta_center}}</span>
            </div>

        </div>

        <div (click)="onContactUs()" class="hover:cursor-pointer block px-4 py-6 mx-auto text-center max-w-7xl sm:px-6 lg:py-10 lg:px-8 w-[400px] transition duration-300 ease-in-out hover:opacity-50">
          <img src="./assets/images/cta_note_200x200.png" class="rounded-lg hover:bg-black" width="400" height="400">
            <div class="mb-2 -mt-20 text-3xl tracking-tight text-gray-100 uppercase sm:text-3xl hover:text-gray-100">
            <span class="uppercase font-garamond">{{mainPageDoc.cta_right}}</span>
            </div>

        </div>
      </div>
    </div>
    <!-- CTA END -->
  </section>
  <!--
  <section>
    <app-lastest-blog></app-lastest-blog>
  </section> -->

  <!-- <section class="scroll-mt-20" id="feature">
    <div class="container px-6 mx-auto my-32 text-gray-900 max-w-7xl md:px-0">

      <div class="relative justify-center my-20 mb-20 md:justify-between">
        <p class="text-4xl text-center uppercase font-garamond md:text-left md:text-5xl">
          About Us
        </p>

        <div class="hidden md:block sm:block">
          <button (click)="scrollToId('services')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-900 align-middle rounded-lg right-10 btn hover:text-gray-900 hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-down'"></mat-icon>
          </button>

          <button (click)="scrollToId('hero')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-900 align-middle rounded-lg right-1 btn hover:text-gray-900 hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-up'"></mat-icon>
          </button>
        </div>
      </div>

      <div (click)="onClickAboutUs()"
        class="container relative flex flex-col max-w-6xl px-6 mx-auto my-32 text-gray-900 cursor-pointer md:flex-row md:px-0">


        <img [src]="about_us" alt="features" class="hidden duration-200 w-400 md:block group-hover:scale-110"
          height="800" width="800" />


        <img [src]="about_us" alt="features" class="w-full md:hidden" height="400" width="400" />


        <div class="pr-0 bg-white top-48 md:absolute md:right-0 md:py-20 md:pl-20">
          <h2
            class="max-w-lg mt-10 mb-6 text-4xl text-center text-gray-900 uppercase font-garamond md:text-5xl md:mt-0 md:text-left">
            {{this.mainPageDoc.features_header}}
          </h2>

          <p class="mr-10 text-center font-garamond md:text-left">
            {{this.mainPageDoc.features_subheader}}
          </p>
        </div>
      </div>
    </div>

  </section> -->

  <!-- <section class="scroll-mt-20" id="services">

    <div class="container px-6 mx-auto my-32 text-gray-900 max-w-7xl md:px-0">
      <div (click)="onServices('home/knitting')" class="group item">
          <img [src]="services_one" alt="" class="hidden duration-200 h-120 md:block group-hover:scale-110" height="400"
            width="300" />

          <img [src]="services_one" alt="services" class="w-full md:hidden" />

          <div class="item-gradient"></div>

          <h5>Bespoke Tailoring</h5>
        </div>


        <div (click)="onServices('home/knitting')" class="group item">

          <img [src]="services_two" alt="" class="hidden duration-200 h-120 md:block group-hover:scale-110" height="400"
            width="300" />

          <img [src]="services_two" alt="" class="w-full md:hidden" />

          <div class="item-gradient"></div>

          <h5>Bespoke Knitwear</h5>
        </div>


        <div (click)="onServices('home/repairs')" class="group item">

          <img [src]="services_three" alt="" class="hidden duration-200 h-120 md:block group-hover:scale-110"
            height="400" width="300" />

          <img [src]="services_three" alt="" class="w-full md:hidden" />

          <div class="item-gradient"></div>

          <h5>Mending and Repairs</h5>
        </div>


        <div (click)="onServices('home/ready-to-wear')" class="group item">

          <img [src]="services_four" alt="" class="hidden duration-200 h-120 md:block group-hover:scale-110">
          <img [src]="services_four" alt="" class="w-full md:hidden" />

          <div class="item-gradient"></div>

          <h5>Ready to Wear</h5>
        </div>
      </div>

  </section> -->

  <!-- Gallery Section -->
  <!-- <section class="scroll-mt-20" id="gallery">

    <div class="container px-6 mx-auto my-16 text-gray-900 max-w-7xl md:px-0">

      <div class="relative justify-center my-1 mb-20 md:justify-between">
        <p class="text-4xl text-center uppercase md:text-left md:text-5xl font-garamond">
          Follow Us on Social Media
        </p>

        <div class="hidden md:block sm:block">
          <button (click)="scrollToId('swipe')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-900 align-middle rounded-lg right-10 btn hover:text-gray-900 hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-down'"></mat-icon>
          </button>

          <button (click)="scrollToId('hero')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-900 align-middle rounded-lg right-1 btn hover:text-gray-900 hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-up'"></mat-icon>
          </button>
        </div>
      </div>

      <div class="flex items-center justify-center px-4 py-1 2xl:contianer 2xl:mx-auto lg:px-4 md:px-4">
        <div
          class="flex flex-col items-start space-y-5 md:w-auto lg:flex-row lg:justify-center lg:items-center lg:space-x-2">
          <div class="flex flex-col items-start justify-start space-y-2">
            <h1 class="text-xl leading-5 text-gray-800 md:text-2xl lg:text-4xl md:leading-6 lg:leading-9 font-garamond">
              Social Media</h1>
            <p class="text-base max-w-[280px] leading-2 text-gray-600">To see what we’re making in the atelier today,
              please have a look at our social media!</p>
            <a class="pb-px text-lg text-gray-600 border-transparent leading-2 hover:bg-gray-600 hover:text-gray-900 hover:rounded"
              href="https://www.facebook.com/profile.php?id=100083068317439">@Facebook</a>
            <a class="text-lg text-gray-600 border-transparent leading-2 m-1pb-px hover:bg-gray-600 hover:text-gray-900 hover:rounded"
              href="https://www.instagram.com/made.to.atelier/">@made.to.atelier</a>
            <a class="pb-px text-lg text-gray-600 leading-2 hover:bg-gray-600 hover:text-gray-900 hover:rounded"
              href="https://www.instagram.com/cassandra_harada/">@cassandra_harada</a>
          </div>
          <div class="flex items-center justify-center">
            <app-gallery [imageCollection]="galleryList"></app-gallery>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section id="swipe" class="scroll-mt-20">
    <div class="container px-6 mx-auto my-16 text-gray-900 max-w-7xl md:px-0">
      Made To
      <div class="relative justify-center my-1 mb-20 md:justify-between">
        <p class="text-4xl text-center uppercase font-garamond md:text-left md:text-5xl">
          Images
        </p>
        <div class="hidden md:block sm:block">
          <button mat-icon-button class="uppercase" (click)="scrollToId('hero')"
            class="absolute top-0 items-center text-2xl font-normal text-gray-900 align-middle rounded-lg right-1 btn hover:text-gray-900 hover:bg-gray-700 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_solid:arrow-up'"></mat-icon>
          </button>
        </div>
      </div>
      <app-swiper></app-swiper>
    </div>
  </section> -->
</ng-container>


