<mat-tab-group #tabGroup (selectedTabChange)="onTabClick()">
    <mat-tab label="Inventory List">
      <ng-template matTabContent>
        <div class="container">
          <order-list></order-list>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Blog List">
      <ng-template matTabContent>
        <div class="container">
          <blog-list></blog-list>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Category">
      <ng-template matTabContent>
        <div class="container">
           <products-list></products-list>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Dependency">
      <ng-template matTabContent>
        <div class="container">
            <products-list></products-list>
        </div>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
