.mat-tab-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 0rem;
  }
  
  .mat-tab-label-container {
    overflow: hidden;
    z-index: 1;
    overflow-x: scroll !important;
  }
  

  