<mat-tab-group #tabGroup (selectedTabChange)="onTabClick()">
    <mat-tab label="Products">
      <ng-template matTabContent>
        <div class="container">
          <products-list></products-list>
        </div>
      </ng-template>
    </mat-tab>
  
    <mat-tab label="Orders">
      <ng-template matTabContent>
        <div class="container">
            <products-list></products-list>
        </div>
      </ng-template>
    </mat-tab>
  
    <mat-tab label="Category">
      <ng-template matTabContent>
        <div class="container">
           <products-list></products-list>
        </div>
      </ng-template>
    </mat-tab>
  
    <mat-tab label="Dependency">
      <ng-template matTabContent>
        <div class="container">
            <products-list></products-list>
        </div>
      </ng-template>
    </mat-tab>
  
  </mat-tab-group>
