
<footer class="p-4 bg-gray-100 rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://tokyo-made-to.com/" class="hover:underline">Property Mgmt™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a routerLink="home/about_us"  class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a routerLink="home/data-policy" class="mr-4 hover:underline md:mr-6">Data Policy</a>
        </li>
        <li>
            <a routerLink="home/tos" class="mr-4 hover:underline md:mr-6">Terms of Service</a>
        </li>
        <li>
            <a routerLink="home/contacts" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>
