<div class="2xl:px-20 px-6 py-8">
  <div class="flex md:flex-row flex-col-reverse md:items-stretch items-center justify-center">
      <div class="md:py-20 xl:w-1/2 sm:w-1/2 lg:mr-20 md:mr-6 flex flex-col md:items-end items-center justify-center xl:mr-28">
          <div class="flex flex-col items-center justify-center">
              <h1 class="md:text-5xl text-3xl font-garamond text-center text-gray-800">About Us
              <button mat-icon-button (click)="backToHome()"
                class="items-center text-gray-700 align-middle right-1 hover:text-white hover:bg-gray-500 dark:hover:bg-gray-700">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
              </button>
            </h1>
              <p class="sm:w-140 w-full mt-6 text-base leading-6 text-center text-gray-600">Established by Cassandra Harada, Made to is a tiny cooperative of artisans, technicians, and crafts people who are petitioning the world to slow down and think about why we wear what we wear.  We make hand-knitted, and hand-sewn clothing that are built to last, be worn heavily, and be the first garment you reach for, no matter the season.   We’re here to bask in the glory of the processes that build our wardrobes.  If you are a handmaker, or interested in craftsmanship, please visit us now and again to peek in at our “thoughts” on why we’re making what we’re making.

            </p>
              <div class="md:mt-14 mt-12 flex flex-col items-center">
                  <div class="w-20 h-20 bg-white shadow rounded-full flex items-center justify-center" role="img" aria-label="money">
                    <img src='assets/images/button.png' width="40">

                  </div>
                <p class="text-base leading-6 mt-6 text-center text-gray-600 sm:w-140 w-full">We are also here to have a conversation about what is just, equitable, sustainable and right in a world where everything we consume feels disposable, and is of mysterious origin.  While we'd like to talk deeply about these things, we also believe shame doesn't belong in this exchange.  (Lets face it, we all own at least one "$3 T-shirt") Here, we just want to encourage our customers and friends to do the best they can to understand ethical fashion choices, and strike a balance in their consumption between "new and exciting" and "comfort and familiarity".</p>
              </div>

              <div class="mt-7 flex flex-col items-center">
                  <div class="w-20 h-20 bg-white shadow rounded-full flex items-center justify-center" role="img" aria-label="ideas">
                    <img src='assets/images/button.png' width="40">
                  </div>
                  <p class="text-base leading-6 mt-6 text-center text-gray-600 sm:w-140 w-full">Cassandra Harada is a lifetime maker of things.  Cassandra spent a good portion of her youth studying fine arts and printmaking, but In 2006 she moved to Tokyo and realized quickly that there wasn’t much space for 2D art in the traditional sense, so she felt compelled to move toward a more utilitarian outlet to satisfy her drive to make.   She spent 10 years of her career teaching handknitting in her small yarn shop in West Tokyo but ultimately desired a close working relationship with other master craftspeople.   In 2019 she began studying with Master Teruo Hirokawa, and doing what she could to become a competent trouser maker.   She still writes the occasional knitting pattern for yarn companies and magazines, and is also involved in yarn design, however she spends most of her waking hours in her tiny studio in Fuchu crafting wool garments.   </p>
              </div>
              <div class="mt-7 flex flex-col items-center">
                  <div class="w-20 h-20 bg-white shadow rounded-full flex items-center justify-center" role="img" aria-label="bright ideas">
                    <img src='assets/images/button.png' width="40">
                  </div>
                  <p class="text-base leading-6 mt-6 text-center text-gray-600 sm:w-96 w-full"></p>
              </div>
          </div>
      </div>
      <div class="py-12 xl:w-1/2 lg:w-1/3 sm:w-1/2">
          <img src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/800%2F1A2E0767-193E-41C1-9E00-1F08CC0ECDAD_800x800.JPG?alt=media&token=f15c8152-20f5-4f2d-8a5b-1467ad515e4c" alt="Cassandra" class="h-full rounded-md object-cover object-center md:block hidden" />
          <img src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/800%2F1A2E0767-193E-41C1-9E00-1F08CC0ECDAD_800x800.JPG?alt=media&token=f15c8152-20f5-4f2d-8a5b-1467ad515e4c" alt="Cassandra" class="h-auto w-auto md:hidden block" />
      </div>
  </div>
</div>
