<div class="h-screen">
<grid-menubar
[inTitle]="sTitle"
(notifyParentRefresh)="Refresh()"
(notifyParentDelete)="Delete()"
(notifyParentAdd)="Add()"
(notifyParentClone)="Clone()">
</grid-menubar>
<mat-drawer-container class="flex-col h-full">
  <mat-drawer class="w-3/8 bg-white-100" #drawer [opened]="false" mode="side" [position]="'end'" [disableClose]="false">
    <mat-card class="text-base bg-white-100">
      <div mat-dialog-title [ngStyle]="{'border-left': '10px solid' + cRAG  }">{{sTitle}}</div>
      <div mat-dialog-content>
        <form [formGroup]="blogGroup" (ngSubmit)="onUpdate(blogGroup.value)" class="form">

          <mat-form-field class="form-element m-1" [ngStyle]="{ width: '30%' }">
            <input matInput placeholder="Title" formControlName="title" />
          </mat-form-field>

          <mat-form-field class="form-element m-1" [ngStyle]="{ width: '30%' }">
            <input matInput placeholder="Created Date" type="date" id="date_created" formControlName="date_created" />
          </mat-form-field>

          <mat-form-field class="form-element m-1" [ngStyle]="{ width: '30%' }">
            <input matInput placeholder="Updated Date" type="date" id="date_updated" formControlName="date_updated" />
          </mat-form-field>


          <!-- <div class="flex-1">
            <img class="m-1 w-60 h-60" [src]="current_Url" *ngIf="current_Url" [ngStyle]="{ width: '100%'}">
          </div> -->

          <ng-image-slider [imagePopup]="true" [images]="imgCollection" [imageSize]="{width: 'auto', height: 'auto'}" #nav></ng-image-slider>

          <mat-tab-group #tabGroup >
            <mat-tab label="Introduction">
              <ng-template matTabContent>
                <mat-form-field class="mat-form-field" [ngStyle]="{ width: '100%' }">
                  <textarea matInput formControlName="paragraph" [ngStyle]="{ height: '12em' }">
                  </textarea>
                </mat-form-field>
              </ng-template>
            </mat-tab>

            <mat-tab label="Main">
              <ng-template matTabContent>
                <mat-form-field class="mat-form-field" [ngStyle]="{ width: '100%' }">
                  <textarea matInput  formControlName="body" [ngStyle]="{ height: '12em' }">
                  </textarea>
                </mat-form-field>
              </ng-template>
            </mat-tab>

            <mat-tab label="Conclusions">
              <ng-template matTabContent>
                <mat-form-field class="mat-form-field" [ngStyle]="{ width: '100%' }">
                  <textarea matInput  formControlName="conclusion" [ngStyle]="{ height: '12em' }">
                  </textarea>
                </mat-form-field>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
      <div mat-dialog-actions>
        <button mat-icon-button mat-flat-button (click)="onUpdate(blog)" color="primary" aria-label="Add">
          <mat-icon [svgIcon]="'mat_outline:update'"></mat-icon>
        </button>
        <button mat-icon-button (click)="onCreate()" mat-flat-button color="primary" [disabled]="!blogGroup.valid">
          <mat-icon [svgIcon]="'mat_outline:add'"></mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(blog)" mat-flat-button color="primary" [disabled]="!blogGroup.valid">
          <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
        </button>
        <button mat-icon-button (click)="onImages()" mat-flat-button color="primary" [disabled]="!blogGroup.valid">
          <mat-icon [svgIcon]="'mat_outline:design_services'"></mat-icon>
        </button>
        <button mat-icon-button (click)="closeDialog()" mat-flat-button color="warn">
          <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-drawer>

  <ng-container *ngIf="allBlogs$ | async as rows">
    <dx-data-grid flex id="imagesGrid" [dataSource]="rows" [columns]="columns" [showBorders]="true"
      [focusedRowEnabled]="true"
      [focusedRowIndex]="0"
      (onCellDblClick)="onCellDoublClicked($event)"
      [repaintChangesOnly]="true"
      (onSelectionChanged)="selectionChanged($event)"
      (onFocusedRowChanged)="onFocusedRowChanged($event)" keyExpr="id">
      <dxo-paging [pageSize]="20"> </dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 40, 50, 100]"> </dxo-pager>
      <dxi-column width="200px" dataField="title"> </dxi-column>
      <dxi-column width="500px" dataField="paragraph"> </dxi-column>
      <dxi-column dataField="body"> </dxi-column>
      <dxi-column dataField="conclusion"> </dxi-column>
      <dxi-column width="100px" dataField="date_created"> </dxi-column>
      <dxi-column width="100px" dataField="date_updated"> </dxi-column>
    </dx-data-grid>

</ng-container>
</mat-drawer-container>
</div>
