
<ng-container *ngIf="imageCollection.length > 0">
<div class="container relative flex flex-col max-w-6xl mx-auto text-gray-900 md:flex-row md:px-0">
   <div class="overflow-hidden text-gray-700">
              <div class="flex flex-wrap -m-1 md:-m-2">
                <div class="flex flex-wrap w-1/2">
                  <div class="w-1/2 p-1 md:p-2" *ngIf="imageCollection.length > 0">
                    <img  alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                      (click)="onPreviewImage(0)"
                      [src]="imageCollection[0].imageSrc">
                  </div>
                  <div class="w-1/2 p-1 md:p-2" *ngIf="imageCollection.length > 1">
                    <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                    (click)="onPreviewImage(1)"
                    [src]="imageCollection[1].imageSrc">
                  </div>
                  <div class="w-full p-1 md:p-2" *ngIf="imageCollection.length > 2">
                    <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                    (click)="onPreviewImage(2)"
                    [src]="imageCollection[2].imageSrc">
                  </div>
                </div>
                <div class="flex flex-wrap w-1/2">
                  <div class="w-full p-1 md:p-2" *ngIf="imageCollection.length > 3">
                    <img   alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                    (click)="onPreviewImage(3)" [src]="imageCollection[3].imageSrc">
                  </div>
                  <div class="w-1/2 p-1 md:p-2" *ngIf="imageCollection.length > 4">
                     <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                     (click)="onPreviewImage(4)" [src]="imageCollection[4].imageSrc">
                  </div>
                  <div class="w-1/2 p-1 md:p-2" *ngIf="imageCollection.length > 5">
                     <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                      (click)="onPreviewImage(5)"  [src]="imageCollection[5].imageSrc">
                  </div>
                </div>
              </div>
   </div>
</div>
</ng-container>





