<mat-card class="m-4 max-w-3/8  filter-article filter-interactive text-gray-700">
  <div mat-dialog-title [ngStyle]="{ 'border-left': '10px solid' }">
    {{ sTitle }}
  </div>
  <div mat-dialog-content>
    <form  [formGroup]="ServicesGroup"  (ngSubmit)="onUpdate(ServicesGroup.value)" class="form"
    >
      <mat-form-field class="form-element m-1" [ngStyle]="{ width: '100%' }">
        <input matInput placeholder="Landing Page Hero" formControlName="title" />
      </mat-form-field>

      <mat-form-field class="form-element m-1" [ngStyle]="{ width: '100%' }">
        <input matInput placeholder="Features Header" formControlName="description" />
      </mat-form-field>

      <mat-form-field class="form-element m-1" [ngStyle]="{ width: '100%' }">
        <input matInput placeholder="Sub Header" formControlName="rich_description" />
      </mat-form-field>

      <mat-form-field class="form-element m-1" [ngStyle]="{ width: '49%' }">
        <mat-radio-group>
          <mat-radio-button class="m-1" value="true">Active</mat-radio-button>
          <mat-radio-button class="m-1" value="false">InActive</mat-radio-button>
        </mat-radio-group>
      </mat-form-field>

    </form>
  </div>
  <div mat-dialog-actions class="mt-10">
    <button class="m-1"  mat-flat-button (click)="onUpdate(ServicesPage)"   color="primary" aria-label="Add" >
      <mat-icon [svgIcon]="'mat_outline:update'"></mat-icon>
      Update
    </button>
    <button class="m-1" mat-flat-button (click)="onCreate()" color="primary"  [disabled]="!ServicesGroup.valid"       >
      <mat-icon [svgIcon]="'mat_outline:add'"></mat-icon>
      Create
    </button>
    <button class="m-1" mat-flat-button (click)="onDelete(ServicesPage)" color="primary"  [disabled]="!ServicesGroup.valid"        >
      <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
      Delete
    </button>
    <button class="m-1" mat-flat-button (click)="onImages()" color="primary" [disabled]="!ServicesGroup.valid" >
      <mat-icon [svgIcon]="'mat_outline:design_services'"></mat-icon>
      Images
    </button>
  </div>
</mat-card>


