<div class="container pt-16 mx-auto lg:w-11/12">
  <div class="w-11/12 mx-auto mb-12 xl:w-full lg:w-full">
      <h1 class="pt-4 mb-4 text-3xl font-extrabold text-gray-100 xl:text-5xl xl:pt-0 xl:text-left">Recent Thoughts Posts</h1>
      <p class="mx-auto text-xl text-gray-200 xl:w-7/12 xl:mx-0">Have a read of our latest contributions. </p>
  </div>
  <div class="flex-wrap lg:flex md:flex sm:flex xl:justify-around md:justify-around sm:justify-around lg:justify-around">
      <div class="w-11/12 mx-auto mb-8 xl:mb-0 lg:w-1/4 xl:w-1/4 xl:mx-0 sm:w-2/5 md:w-5/12 sm:mx-auto xl:pr-4 lg:pl-0 lg:pr-4 xl:pl-0">
          <div class="h-48 bg-cover rounded">
              <img src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/clothpromotionalstorage%2F800%2F23-01%20harada_0012-IN_800x800.jpeg?alt=media&token=df704e5e-f952-479f-98a5-38832cfe2472" alt="" class="object-cover w-full h-full overflow-hidden rounded shadow" />


          </div>
          <div class="px-4 pt-4 pb-5 bg-white border-b border-gray-300">
              <p class="pb-3 text-sm text-center text-indigo-700 uppercase">Thoughts</p>
              <p class="pb-4 text-xl font-semibold text-center">Thinking too much is dangerous</p>
              <p class="text-sm text-center text-gray-600">
                  May 13, 2023 by
                  <a href="javascript:void(0)"><span class="text-indigo-700 cursor-pointer">Time Zone</span></a>
              </p>
          </div>
      </div>
      <div class="w-11/12 mx-auto mb-8 xl:mb-0 lg:w-1/4 xl:w-1/4 xl:mx-0 sm:w-2/5 md:w-5/12 sm:mx-auto xl:pr-4 lg:pl-0 lg:pr-4 xl:pl-0">
        <div class="h-48 bg-cover rounded">
            <img src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/clothpromotionalstorage%2F800%2F23-01%20harada_0012-IN_800x800.jpeg?alt=media&token=df704e5e-f952-479f-98a5-38832cfe2472" alt="" class="object-cover w-full h-full overflow-hidden rounded shadow" />


        </div>
        <div class="px-4 pt-4 pb-5 bg-white border-b border-gray-300">
            <p class="pb-3 text-sm text-center text-indigo-700 uppercase">Thoughts</p>
            <p class="pb-4 text-xl font-semibold text-center">Thinking too much is dangerous</p>
            <p class="text-sm text-center text-gray-600">
                May 13, 2023 by
                <a href="javascript:void(0)"><span class="text-indigo-700 cursor-pointer">Time Zone</span></a>
            </p>
        </div>
    </div>    <div class="w-11/12 mx-auto mb-8 xl:mb-0 lg:w-1/4 xl:w-1/4 xl:mx-0 sm:w-2/5 md:w-5/12 sm:mx-auto xl:pr-4 lg:pl-0 lg:pr-4 xl:pl-0">
      <div class="h-48 bg-cover rounded">
          <img src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/clothpromotionalstorage%2F800%2F23-01%20harada_0012-IN_800x800.jpeg?alt=media&token=df704e5e-f952-479f-98a5-38832cfe2472" alt="" class="object-cover w-full h-full overflow-hidden rounded shadow" />


      </div>
      <div class="px-4 pt-4 pb-5 bg-white border-b border-gray-300">
          <p class="pb-3 text-sm text-center text-indigo-700 uppercase">Thoughts</p>
          <p class="pb-4 text-xl font-semibold text-center">Thinking too much is dangerous</p>
          <p class="text-sm text-center text-gray-600">
              May 13, 2023 by
              <a href="javascript:void(0)"><span class="text-indigo-700 cursor-pointer">Time Zone</span></a>
          </p>
      </div>
  </div>    <div class="w-11/12 mx-auto mb-8 xl:mb-0 lg:w-1/4 xl:w-1/4 xl:mx-0 sm:w-2/5 md:w-5/12 sm:mx-auto xl:pr-4 lg:pl-0 lg:pr-4 xl:pl-0">
    <div class="h-48 bg-cover rounded">
        <img src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/clothpromotionalstorage%2F800%2F23-01%20harada_0012-IN_800x800.jpeg?alt=media&token=df704e5e-f952-479f-98a5-38832cfe2472" alt="" class="object-cover w-full h-full overflow-hidden rounded shadow" />


    </div>
    <div class="px-4 pt-4 pb-5 bg-white border-b border-gray-300">
        <p class="pb-3 text-sm text-center text-indigo-700 uppercase">Thoughts</p>
        <p class="pb-4 text-xl font-semibold text-center">Thinking too much is dangerous</p>
        <p class="text-sm text-center text-gray-600">
            May 13, 2023 by
            <a href="javascript:void(0)"><span class="text-indigo-700 cursor-pointer">Time Zone</span></a>
        </p>
    </div>
</div>
  </div>
</div>

