<ng-container >
  <div class="flex items-center justify-center w-full">
    <div
      class="flex flex-col items-start justify-start px-4 py-0 md:w-10/12 lg:w-8/12 xl:w-full md:px-6 xl:px-20 2xl:container 2xl:mx-auto">
      <span>
      </span>
      <div
        class="flex flex-col items-start mt-5 space-y-8 jusitfy-start xl:items-center xl:flex-row xl:space-y-0 xl:space-x-8">
        <div class="flex flex-col items-stretch w-full mt-5 jusitfy-start xl:flex-row gap-y-4 xl:gap-y-0 xl:space-x-8">
          <div class="flex flex-row items-start justify-start">
            <ng-container>
              <div
                class="grid grid-cols-2 gap-y-2 md:gap-y-0 md:grid-cols-3 xl:grid-cols-1 justify-items-start gap-x-2 xl:gap-x-0 xl:gap-y-12">
                <ng-container *ngFor="let p of images">
                  <img class="rounded-lg w-30" (click)="setImage(p.imageSrc)" [src]="p.imageSrc" width="200" height="200"
                    alt="image" />
                </ng-container>
              </div>
            </ng-container>
          </div>
              <div>
                <img class="hidden rounded-lg w-[600px] xl:block" [src]="mainImage" width="400" height="400"
                  alt="main-image" priority />
                <img class="w-full xl:hidden" [src]="mainImage" width="800" height="800" alt="main-image"
                  priority />
              </div>
          </div>
        </div>
      </div>
  </div>
</ng-container>
