.toolbar-spacer { flex: 1 1 auto; }

*{
  margin: 0px;
}

.body {
    font-size: 24px;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: #5070B5;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.flex-main {
    display: flex;
    flex: 1;
}

.flex-nav {
    background-color: var(--bg-secondary);
    flex: 1 1 5rem;
    padding-top: 1rem;
}

.flex-article {
    // background-color: #81A43C;
    flex: auto;
    padding-top: 1rem;
}

@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
    }
}
