<div class="flex justify-start items-start py-10 px-4 md:px-6 ">
  <h1 class="text-4xl font-garamond font-semibold leading-9 text-gray-800"> {{title}} </h1>
  <p class="text-lg font-garamond font-semibold leading-9 text-gray-400"> {{sub_title}} </p>

  <button
    mat-icon-button
    (click)="onBack()"
    class="sm:visible border-transparent absolute text-gray-700 w-10 pl-5 top-9 mb-20 items-left text-3xl font-semibold align-middle rounded-lg sm:right-30 btn hover:text-white hover:bg-gray-400 dark:hover:bg-gray-400">
    <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
  </button>
</div>
