<div class="h-screen">
  <app-header [title]="'Image Maintenance'"> </app-header>

  <!-- <app-image-menubar
    (notifyParentRefresh)="RefreshList()"
    (notifyParentAdd)="createImageOnce()"
    (notifyParentDelete)="DeleteDupes()"
    (notifyParentRefreshImage)="RefreshImages()"
    [title]="'Image Management Selection'">
  </app-image-menubar> -->

  <mat-drawer-container>
    <mat-drawer class="lg:w-1/4 sm:h-full sm:w-full bg-white-100" #drawer [opened]="false" mode="side"
      [position]="'end'" [disableClose]="false">
    </mat-drawer>
    <mat-drawer-content>
      <div cdkDropListGroup class="grid grid-cols-14 gap-1">
        <!-- NOT USED -->
        <div class="col-start-1 col-end-2  lg-rounded" cdkScrollable>
          <div class="sticky m-1 h-8 text-left p-1  bg-gray-200 top-0 z-50">Available Images</div>
          <div cdkDropList #notused="cdkDropList" [id]="IN_NOT_USED" [cdkDropListData]="not_usedImages"
            (cdkDropListDropped)="drop($event)">
            <div class="flex flex-wrap">
              <div *ngFor="let item of not_usedImages" cdkDrag>
                <div class="flex-none object-cover p-1">
                  <image-maintenance-card (imageSelected)="UpdateInventoryItem($event)" [productId]="productId"
                    [image]="item">
                  </image-maintenance-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COLLECTION -->
        <div class="col-start-2 col-end-4 lg-rounded" cdkScrollable>
          <div class="sticky m-1 h-8 text-center p-1  bg-gray-200 top-0 z-50">Collection Images</div>
          <div cdkDropList #collections="cdkDropList" [id]="IN_COLLECTION" [cdkDropListData]="collectionsImages"
            class="list" (cdkDropListDropped)="drop($event)">
            <div class="flex flex-wrap">
              <div *ngFor="let item of collectionsImages" cdkDrag>
                <div class="flex-none object-cover p-1">
                  <image-maintenance-card (imageSelected)="UpdateInventoryItem($event)" [productId]="IN_COLLECTION"
                    [image]="item">
                  </image-maintenance-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- GALLERY -->
        <div class="col-start-4 col-end-6 lg-rounded" cdkScrollable>
          <div class="sticky m-1 h-8 text-center p-1  bg-gray-200 top-0 z-50">Gallery Images</div>
          <div cdkDropList #collections="cdkDropList" [id]="IN_GALLERY" [cdkDropListData]="galleryImages"
            class="list" (cdkDropListDropped)="drop($event)">
            <div class="flex flex-wrap">
              <div *ngFor="let item of galleryImages" cdkDrag>
                <div class="flex-none object-cover p-1">
                  <image-maintenance-card
                    (imageSelected)="UpdateInventoryItem($event)" [productId]="IN_GALLERY"
                    [image]="item">
                  </image-maintenance-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- PRODUCTS -->
        <div class="col-start-6 col-end-8 lg-rounded" cdkScrollable>
          <div class="sticky m-1 h-8 text-center p-1  bg-gray-200 top-0 z-50">Assigned Product Images</div>
          <div cdkDropList #collections="cdkDropList" [id]="IN_PRODUCTS" [cdkDropListData]="productsImages"
            class="list" (cdkDropListDropped)="drop($event)">
            <div class="flex flex-wrap">
              <div *ngFor="let item of productsImages" cdkDrag>
                <div class="flex-none object-cover p-1">
                  <image-maintenance-card
                    (imageSelected)="UpdateInventoryItem($event)" [productId]="IN_PRODUCTS"
                    [image]="item">
                  </image-maintenance-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
