<app-header [title]="'Image Maintenance'"> </app-header>

<app-image-menubar (notifyParentRefresh)="RefreshList()" (notifyParentAdd)="createImageOnce()" [title]="'Image Buckets'"></app-image-menubar>


  <mat-tab-group class="mt-2 items-centered" mat-stretch-tabs="false">
    <mat-tab class="m-1 text-bold" label="Inventory">
      <inventory-img-selection></inventory-img-selection>
    </mat-tab>
    <mat-tab class="m-1 text-bold" label="Collections">
      <collection-img-selection></collection-img-selection>
    </mat-tab>
    <mat-tab class="m-1 text-bold" label="Thoughts">
      <thoughts-img-selection></thoughts-img-selection>
    </mat-tab>
    <mat-tab class="m-1 text-bold" label="Gallery">
      <gallery-img-selection></gallery-img-selection>
    </mat-tab>
    <mat-tab class="m-1 text-bold" label="Details">
      <image-maintenance></image-maintenance>
    </mat-tab>
  </mat-tab-group>




