<ng-container *ngIf="Category$ | async as cats else loading" class="bg-white">
  <div class="bg-gray-200">
    <app-header class="bg-white hidden sm:block" [title]="sTitle"></app-header>
    <app-header class="bg-white block sm:hidden" [title]="sMobileTitle"></app-header>

    <div class="flex flex-row gap-4 w-100 bg-gray-200 justify-around items-center flex-wrap">
      <div *ngFor="let item of cats" class="m-2">
        <app-shop-landing-card [category]="item"></app-shop-landing-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex flex-col items-center justify-center h-[800] mt-20">
    <mat-spinner class="mat-spinner-color" [diameter]="100"></mat-spinner>
    <p class="text-gray-500 text-2xl">Loading...</p>
  </div>
</ng-template>
