<ng-container>
  <div class="flex flex-col sm:flex-row sm:space-x-4 md:ml-20 mr-20 mt-10 sm:ml-2">
    <h1
      class="flex-auto sm:w-auto font-garamond focus:outline-none font-bold text-1x1 md:text-3xl lg:text-4xl leading-tight text-gray-800 dark:text-white">
      {{ sTitle }}
    </h1>
    <span class="flex-auto"></span>
    <button mat-icon-button class="invisible sm:visible bg-gray-300 hover:bg-gray-500 hover:text-gray-100"
      (click)="onBackToInventory()" matTooltip="Back to Inventory">
      <mat-icon class="mb-2" [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
    </button>
  </div>

  <mat-card [class.mat-elevation-z8]="true"
            class="m-10 flex flex-col text-gray-700 filter-article filter-interactive">
    <mat-tab-group class="mt-2 items-centered " mat-stretch-tabs="false">
      <mat-tab class="text-bold m-1" label="Title">
        <ng-template matTabContent>
          <div mat-dialog-content>
            <form [formGroup]="policyGroup" (ngSubmit)="onUpdate()" class="m-2">
              <div class="flex flex-col sm:flex-col">
                <mat-label class="ml-2 text-base">Title</mat-label>
                <mat-form-field class="m-1 grow" appearance="outline">
                  <input matInput placeholder="Description" formControlName="description" />
                </mat-form-field>
              </div>
              <mat-checkbox color="primary" formControlName="show_allowed">
                Document is Allowed
              </mat-checkbox>
            </form>
          </div>
          <div mat-dialog-actions>
            <button mat-icon-button (click)="onUpdate()" color="primary" aria-label="Add" matTooltip="Update Item">
              <mat-icon [svgIcon]="'mat_outline:update'"></mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(product)" color="primary"
                    matTooltip="Delete Item">
              <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
            </button>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Document Details">
        <ng-template matTabContent>
          <!-- <text-editor [valueContent]="para" ></text-editor> -->
          <dx-html-editor height="600px" [(value)]="rich_description">
            <dxo-toolbar>
              <dxi-item name="undo"></dxi-item>
              <dxi-item name="redo"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="size" [acceptedValues]="[
                    '8pt',
                    '10pt',
                    '12pt',
                    '14pt',
                    '18pt',
                    '24pt',
                    '36pt'
                  ]"></dxi-item>
              <dxi-item name="font" [acceptedValues]="[
                    'Arial',
                    'Courier New',
                    'Georgia',
                    'Impact',
                    'Times New Roman',
                    'Verdana'
                  ]"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="bold"></dxi-item>
              <dxi-item name="italic"></dxi-item>
              <dxi-item name="strike"></dxi-item>
              <dxi-item name="underline"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="alignLeft"></dxi-item>
              <dxi-item name="alignCenter"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="link"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="alignRight"></dxi-item>
              <dxi-item name="alignJustify"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="orderedList"></dxi-item>
              <dxi-item name="bulletList"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="header" [acceptedValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="color"></dxi-item>
              <dxi-item name="background"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="clear"></dxi-item>
              <dxi-item name="codeBlock"></dxi-item>
              <dxi-item name="blockquote"></dxi-item>
            </dxo-toolbar>
          </dx-html-editor>
        </ng-template>
      </mat-tab>
      <mat-tab label="Preview">
        <ng-template matTabContent>
          <p style="text-decoration:circle;" class="align-text-top h-full m-2 list-square text-1xl" [innerHTML]="rich_description | safe : 'html'"></p>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</ng-container>
