<div class="px-4 2xl:mx-auto 2xl:container md:py-12 lg:px-20 md:px-6 py-9">
  <div class="flex flex-col items-start justify-start">
      <div class="flex items-end justify-between w-full mt-4">
          <div class="flex flex-col sm:flex-row sm:space-x-4">
              <div>
                  <p class="text-3xl font-semibold leading-7 tracking-tight text-gray-800 lg:text-4xl lg:leading-9">
                    Shopping Details</p>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="2xl:container 2xl:mx-auto px-4 sm:px-12 lg:px-20 py-12">
  <div class="w-full hidden lg:block">
    <img class="w-full" src="https://i.ibb.co/VDSdXXz/Group-74-2.png" alt="large screen group of photos" />
  </div>
  <div class="w-full hidden md:block lg:hidden">
    <img class="w-full" src="https://i.ibb.co/qC4SF1c/Group-74-3.png" alt="medum screen group of photos" />
  </div>
  <div class="w-full md:hidden">
    <img class="w-full" src="https://i.ibb.co/BZzK66D/Group-2497.png" alt="small screen group of images" />
  </div>
  <div class="flex flex-col lg:flex-row sm:justify-between pt-6 lg:pt-12 space-y-12 lg:space-y-0 lg:space-x-12 2xl:space-x-36">
    <div class="flex flex-col">
      <div>
        <p class="text-sm leading-none text-gray-600">RF293</p>
        <p class="text-2xl font-semibold leading-normal text-gray-800 py-2 lg:py-4">Parmigiani Fleurier</p>
        <p class="text-lg font-medium leading-none text-gray-800">$20,000</p>
      </div>
      <div class="pt-10 sm:pt-12 lg:pt-14">
        <p class="text-lg font-medium leading-none text-gray-800 pb-4">Colors</p>
        <div class="flex flex-row gap-2">
          <div class="p-1 border border-transparent hover:border-gray-900">
            <div class="w-6 h-6 cursor-pointer hover:bg-gray-900 focus:bg-gray-900 bg-gray-800"></div>
          </div>
          <div class="p-1 border border-transparent hover:border-green-900">
            <div class="w-6 h-6 cursor-pointer hover:bg-green-900 focus:bg-green-900 bg-green-800"></div>
          </div>
          <div class="p-1 border border-transparent hover:border-blue-800">
            <div class="w-6 h-6 cursor-pointer hover:bg-blue-800 focus:bg-blue-800 bg-blue-700"></div>
          </div>
          <div class="p-1 border border-transparent hover:border-red-900">
            <div class="w-6 h-6 cursor-pointer hover:bg-red-900 focus:bg-red-900 bg-red-800"></div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-80 2xl:w-96 pt-10 sm:pt-12 flex flex-col gap-3">
        <button class="bg-gray-900 hover:bg-gray-800 focus:outline-none focus:ring-2 border border-gray-900 focus:ring-gray-800 text-white items-center w-full py-5 px-2">Add to cart</button>
        <div class="w-full flex flex-col sm:flex-row gap-3 justify-between">
          <button class="bg-transparent text-gray-900 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-900 focus:ring-opacity-50 border border-gray-900 flex flex-row gap-2 justify-center items-center text-center lg:px-4 py-5 lg:py-4 w-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#424242" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="12" cy="11" r="3" />
              <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
            </svg>
            <p>Find in store</p>
          </button>
          <button class="bg-transparent text-gray-900 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-900 focus:ring-opacity-50 border border-gray-900 flex flex-row gap-2 justify-center items-center text-center lg:px-4 py-5 lg:py-4 w-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#424242" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
            </svg>
            <p>Favourites</p>
          </button>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-8 justify-between lg:pt-0">
      <div class="flex flex-col gap-3">
        <p class="text-lg font-medium leading-none text-gray-800">About</p>
        <p class="sm:hidden text-base leading-normal text-gray-600">Parmigiani Fleurier is among the newer high-end watch brands. Michel Parmigiani established the Swiss watchmaker in Fleurier, Switzerland in 1996. Prince Charles is among the many who herald the brand as a favorite, even wearing a timepiece to Harry and Meghan's wedding.</p>
        <p class="hidden sm:block text-base leading-normal text-gray-600">Parmigiani Fleurier is among the newer high-end watch brands. Michel Parmigiani established the Swiss watchmaker in Fleurier, Switzerland in 1996. Prince Charles is among the many who herald the brand as a favorite, even wearing a timepiece to Harry and Meghan's wedding.</p>
      </div>
      <div class="flex flex-col gap-3">
        <p class="text-lg font-medium leading-none text-gray-800">Product information</p>
        <div class="inline-flex flex-col space-y-4 items-start justify-start md:w-96 h-44">
          <p class="text-base leading-none text-gray-600">Product Code: 8BN321AF2IF0NYA</p>
          <p class="text-base leading-none text-gray-600">Length: 13.2 inches</p>
          <p class="text-base leading-none text-gray-600">Height: 10 inches</p>
          <p class="text-base leading-none text-gray-600">Depth: 5.1 inches</p>
          <p class="w-full text-base leading-normal text-gray-600">Composition: 100% calf leather, inside: 100% lamb leather</p>
        </div>
      </div>
    </div>
  </div>
</div>

