<ng-container class="bg-white" *ngIf="wishList$ | async as wishItems">
  <app-header [title]="header_title" [sub_title]="'Wishlist products to remember'"></app-header>
  <!-- <div class="flex flex-row items-center justify-center px-4 space-y-8 2xl:mx-auto 2xl:container md:py-12 py-9 lg:px-20 md:px-6"> -->
    <div class="relative bg-white px-4 pt-1 pb-5 sm:px-6">
    <div class="grid grid-cols-1 mx-10 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <div *ngIf="wishItems.length > 0; else no_wish">
        <div *ngFor="let item of wishItems">
          <div class="flex flex-col items-start justify-center w-full space-y-4"></div>
            {{item.description}}
        </div>
      </div>
    </div>
  </div>
  <ng-template #no_wish>
    <div class="col-start-2 col-end-2 sm:col-start-1 sm:col-end-1">
      <div class="max-w-2xl px-4 pt-6 mx-auto sm:px-6 ">
        <h2 class="text-lg font-medium text-center text-gray-900">
          Currently nothing in your wishlist
        </h2>
        <button type="submit" (click)="backToShopping()"
          class="w-full px-4 py-3 text-base font-medium text-white bg-gray-800 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50">
          Continue to Shopping
        </button>
        <h2></h2>
      </div>
    </div>
  </ng-template>

</ng-container>
