<script async src="https://www.googletagmanager.com/gtag/js?id=G-HLTMW3M19H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-HLTMW3M19H');
</script>

<!-- <app-header class="bg-white" [title]="'Thoughts and Images'"
  [sub_title]="'Impressions of our life and work, living in Tokyo'"
  (notifyNavBarToggleMenu)="onToggleMenu()"></app-header> -->
<div class="h-full bg-white">
<div class="min-h-screen flex flex-col" *ngIf="collectionImages$ | async as images">
  <app-header class="bg-white hidden sm:block" [title]="'cinema-tokyo Collections'"></app-header>
  <app-header class="bg-white block  sm:hidden" [title]="'Collections'"></app-header>


    <div class="flex-1 flex flex-col sm:flex-row">
      <main class="flex-1 ">
        <div class="flex-row m-5 " >
          <collection-gallery [imageCollection]="images"></collection-gallery> 
        </div>
      </main>

      <nav class="order-first w-[450px] ">
        <div class="h-30 py-10 m-5 text-3xl font-roboto text-bold lg:text-4xl text-center text-gray-700">
          {{collection.title}}
        </div>
        <div class="ml-4 mr-2 text-3xl font-roboto lg:text-4xl leading-7 xl:leading-9 text-center text-gray-700"
          [innerHTML]="collection.body | safe: 'html'">
        </div>
      </nav>

    </div>

  </div>
</div>
