<div class="px-4 py-12">
  <div
    class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] mx-auto bg-white lg:px-10 md:px-6 px-4 py-12"
  >
    <div>
      <p
        class="text-3xl font-semibold leading-9 text-center text-gray-800 lg:text-4xl md:text-3xl"
      >
        Latest Creations Blog
      </p>
      <div class="justify-center gap-6 mt-4 md:flex lg:gap-8 lg:mt-8 md:mt-6">
        <div>
          <img
            src="assets/cassie_measuring.jpg"
            alt=""
            class="hidden lg:block md:hidden"
          />
          <img
            src="assets/cassie_scirrors_main.jpg"
            alt=""
            class="hidden lg:hidden md:block"
          />
          <img
            src="assets/cassie_buttons.jpg"
            alt=""
            class="block mt-6 md:hidden"
          />
          <div class="flex justify-between mt-6">
            <div class="items-center gap-2 lg:flex">
              <p class="text-base font-medium leading-none text-gray-800">
                Stylish Table Lamps
              </p>
              <p
                class="mt-2 text-base italic leading-none text-gray-600 font-italic lg:mt-0"
              >
                25 July 2022
              </p>
            </div>

            <button
              class="-mt-5 text-base font-semibold leading-none text-center text-gray-800 hover:underline lg:-mt-0 md:-mt-5"
            >
              Read more
            </button>
          </div>
        </div>
        <div>
          <img
            src="assets/cassie_suit_dummy.jpg"
            alt=""
            class="hidden lg:block md:hidden"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/ioi.png"
            alt=""
            class="hidden lg:hidden md:block"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/abc.png"
            alt=""
            class="block mt-6 md:hidden"
          />
          <div class="flex justify-between mt-6">
            <div class="items-center gap-2 lg:flex">
              <p class="text-base font-medium leading-none text-gray-800">
                Aesthetic Looking Interior
              </p>
              <p
                class="mt-2 text-base italic leading-none text-gray-600 font-italic lg:mt-0"
              >
                25 July 2022
              </p>
            </div>
            <button
              class="-mt-5 text-base font-semibold leading-none text-center text-gray-800 hover:underline lg:-mt-0 md:-mt-5"
            >
              Read more
            </button>
          </div>
        </div>
      </div>
      <div class="justify-center gap-6 mt-4 md:flex lg:gap-8 lg:mt-8 md:mt-6">
        <div>
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/backs.png"
            alt=""
            class="hidden lg:block md:hidden"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/ueryeis.png"
            alt=""
            class="hidden lg:hidden md:block"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/oug.png"
            alt=""
            class="block mt-6 md:hidden"
          />
          <div class="flex justify-between mt-6">
            <div class="items-center gap-2 lg:flex">
              <p class="text-base font-medium leading-none text-gray-800">
                The Decorated Ways
              </p>
              <p
                class="mt-2 text-base italic leading-none text-gray-600 font-italic lg:mt-0"
              >
                25 July 2022
              </p>
            </div>
            <button
              class="-mt-5 text-base font-semibold leading-none text-center text-gray-800 hover:underline lg:-mt-0 md:-mt-5"
            >
              Read more
            </button>
          </div>
        </div>
        <div>
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/erddf.png"
            alt=""
            class="hidden lg:block md:hidden"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/w33e43w.png"
            alt=""
            class="hidden lg:hidden md:block"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/mnbv.png"
            alt=""
            class="block mt-6 md:hidden"
          />
          <div class="flex justify-between mt-6">
            <div class="items-center gap-2 lg:flex">
              <p class="text-base font-medium leading-none text-gray-800">
                Cosy Sofa Seat
              </p>
              <p
                class="mt-2 text-base italic leading-none text-gray-600 font-italic lg:mt-0"
              >
                25 July 2022
              </p>
            </div>
            <button
              class="-mt-5 text-base font-semibold leading-none text-center text-gray-800 hover:underline lg:-mt-0 md:-mt-5"
            >
              Read more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
