<div class="flex items-center justify-center w-full h-full px-4 py-24 sm:py-8">
  <div class="relative flex items-center justify-center w-full">
    <button aria-label="slide backward"
      class="absolute left-0 z-30 ml-8 cursor-pointer focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
      (click)="goPrev()">
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 1L1 7L7 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
      <div id="slider"
        class="flex items-center justify-start h-full transition duration-700 ease-out lg:gap-8 md:gap-6 gap-14">
        <div *ngFor="let image of images">
          <div class="relative flex flex-shrink-0 w-full sm:w-auto">
            <img [src]="image" alt="black chair and white table" class="object-cover object-center w-80 h-120" />
            <div class="absolute w-full h-full p-6 bg-gray-800 bg-opacity-30">
              <h2 class="text-base leading-4 text-white lg:text-xl lg:leading-5">Catalog 1</h2>
              <div class="flex items-end h-full pb-6">
                <h3 class="text-xl font-semibold leading-5 text-white lg:text-2xl lg:leading-6">Minimal Interior</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button aria-label="slide forward"
      class="absolute right-0 z-30 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
      (click)="goNext()">
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L1 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</div>
