<app-header [title]="header_title"></app-header>

<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0 rounded">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2 lg-rounded">
      <img class="w-full object-cover lg:h-full" [ngSrc]="Cinema_image" width="800" height="600" alt="">
    </div>
  </div>

  <div class="relative px-4 pt-12 pb-16 sm:px-6 sm:pt-16 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div class="lg:col-start-2 lg:pl-8">
      <div class="mx-auto max-w-prose text-base lg:ml-auto lg:mr-0 lg:max-w-lg">
        <div class="font-roboto mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">
          Our Process
        </div>
        <div class="mt-8 text-lg text-gray-800"></div>
        <div class="font-roboto mt-5 text-gray-500 text-2xl">
          <div>
          </div>
      </div>
    </div>
  </div>
</div>
