<app-header [title]="header_title"></app-header>

<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0 rounded">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2 lg-rounded">
      <img class="w-full object-cover lg:h-full" [ngSrc]="Cinema_image" width="800" height="600" alt="">
    </div>
  </div>

  <div class="relative px-4 pt-12 pb-16 sm:px-6 sm:pt-16 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div class="lg:col-start-2 lg:pl-8">
      <div class="mx-auto max-w-prose text-base lg:ml-auto lg:mr-0 lg:max-w-lg">
        <div class="font-roboto mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">
          Our Process
        </div>
        <div class="mt-8 text-lg text-gray-800"></div>
        <div class="font-roboto mt-5 text-gray-500 text-2xl">
          <div>At cinema-tokyo, we are offering bespoke Cinema services, courtesy of Master Teruo Hirokawa. He has
            more
            than
            60 years experience in cutting, fitting and constructing beautiful hand made garments. No matter your shape,
            size or desired fit, Master Hirokawa can create a garment to suit your needs. </div>
          <div>The bespoke process requires a bit of patience and commitment.</div>
          <div>Because we want the perfect fit, it includes the following steps: </div>

          <div><strong>First consultation: </strong></div>
          <div>In this meeting, we discuss cloth, desired fit, details, and take a very thorough set of measurements.
          </div>

          <div><strong>First fitting:</strong></div>
          <div>During this appointment we will ask you to try on a “skeleton baste” of your new suit. This garment will
            resemble the finished piece, but will be stitched together with hand basting so the garment can be easily
            changed. </div>

          <div><strong>Second fitting:</strong></div>
          <div>At this fitting the garments pockets and major details will be complete but all major seams will be hand
            basted so we can assure we have the best fit we can achieve. If there are any major fit issues we will ask
            you back for a third fitting before the next and final step.
          </div>

          <div><strong>Final fitting:</strong></div>
          <div>During this appointment you will arrive to a completed garment that is ready for you to take home. We
            will
            ask you to try on your suit one final time to make sure you are pleased with the result and feel good in
            your new clothes. During this time we can also offer information on garment care and maintenance
          </div>

          <br>
          <div>Our bespoke suits feature cloth of our clients choosing. If a client already has cloth they would like to
            use, we would be happy to do that. Our garments feature natural linings made from tencel fibers, horse hair
            and wool interlining, genuine horn or shell buttons, deep, sturdy pocketing, hand stitched bar tacks,
            buttonholes and decorative stitching all in silk thread.</div>
          <br>
          <div>If you have any questions or would like to schedule a fitting, please contact cassandra@cinema-tokyo.com
            for more information or fill out our contact form on our home page. <a> <button
                (click)="onContacts()"><strong>Contacts</strong></button></a></div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>