<div class="gallery-lightbox-container">
    <div class="gallery">
        <mat-card
            cdkDropList
            
            *ngFor="let data of galleryData; let i=index" class="gallery-img" cdkDrag>
            <img (click)="onPreviewImage(i)" [src]="data.url" [alt]="data.name">
        </mat-card>

        <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
        </div> -->

    </div>
    <div *ngIf="showMask" class="lightbox" @animation2>
        <span *ngIf="showCount" class="count">
            {{currentIndex + 1}}/{{totalImageCount}}
        </span>

        <button *ngIf="controls" class="close-btn"  mat-icon-button (click)="onClosePreview()"  mat-flat-button  color="primary" >
          <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
        </button>

        <button *ngIf="controls" class="btn-lightbox-carousel btn-prev"  mat-icon-button (click)="prev()"  mat-flat-button  color="primary" >
          <mat-icon [svgIcon]="'heroicons_outline:arrow-circle-left'"></mat-icon>
        </button>


        <button *ngIf="controls" class="btn-lightbox-carousel btn-next"  mat-icon-button (click)="next()"  mat-flat-button  color="primary" >
            <mat-icon [svgIcon]="'heroicons_outline:arrow-circle-right'"></mat-icon>
        </button>

        <mat-card class="m-1">
        <div *ngIf="previewImage"
            [@animation]="{value: 'visible'}"
            (@animation.done)="onAnimationEnd($event)" >
            <img class="object-scale-down w-160"  [src]="currentLightboxImage.url" [alt]="currentLightboxImage.name">
        </div>
      </mat-card>
    </div>
</div>
