<mat-drawer-container class="flex-col h-[800px] m-2">
  <mat-drawer class="lg:w-1/4 sm:h-full sm:w-full bg-white-100" #drawer [opened]="false" mode="side" [position]="'end'"
    [disableClose]="false">
    <mat-card class="m-2 flex flex-col h-full max-w-120 filter-article filter-interactive text-gray-700">

      <div mat-dialog-content>
        <form [formGroup]="collectionGroup" (ngSubmit)="UpdateDescription(collectionGroup.value.description)" class="form">

          <div class="flex flex-col m-1">

            <div class="flex flex-col grow">
              <mat-label class="ml-2 text-base">Description</mat-label>
              <mat-form-field class="m-1 form-element grow" appearance="outline">
                <input type="text" matInput placeholder="Description" formControlName="Description" />
              </mat-form-field>
            </div>

            <div class="flex flex-col grow">
              <mat-label class="ml-2 text-base">Image URL</mat-label>
              <mat-form-field class="m-1 form-element grow" appearance="outline">
                <input type="text" matInput placeholder="Image URL" formControlName="URL" />
              </mat-form-field>
            </div>

          </div>
        </form>
      </div>
      <!-- <div class="form-val">
          {{collectionGroup.value | json }}
        </div> -->
      <div mat-dialog-actions class="mb-2">
        <button mat-icon-button (click)="UpdateDescription(collectionGroup.value.Description)" [disabled]="!collectionGroup.valid"
          matTooltip="Update" color="primary" aria-label="Add">
          <mat-icon [svgIcon]="'mat_outline:update'"></mat-icon>
        </button>

        <button mat-icon-button (click)="closeDrawer()" matTooltip="Close" color="warn">
          <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-drawer>

<div data-te-lightbox-init class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <div>
    <h1 class="h-20 py-10 text-3xl lg:text-4xl font-semibold leading-7 xl:leading-9 text-center text-gray-700">{{Title}}</h1>
    <p class="max-w-lg py-20 text-base text-center text-gray-700 md:text-left" [innerHTML]="collection.body | safe: 'html'"></p>
  </div>
  <div class="col-span-2">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 item-center">
      <div *ngFor="let image of collectionsImages">
        <mat-card class="w-full lg:w-[350px] ">
          <img  (dblclick)="EditTitle(image.id)"
          class="lg: w-full h-auto lg:h-[350px] lg:w-[350px] rounded-t-sm cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto"
          [src]="image.imageSrc200" alt="images">
          <div class="absolute bottom-0 px-4 py-2 bg-gray-500/50 w-full " >
            <h1 class="text-white font-normal text-sm">{{image.description}}</h1>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
</mat-drawer-container>

