<app-header [title]="'About Us'"></app-header>
<div class="2xl:px-20 px-6 py-8 bg-white">
  <div class="flex md:flex-row flex-col-reverse md:items-stretch items-center justify-center">
    <div
      class="md:py-20 xl:w-1/2 sm:w-1/2 lg:mr-20 md:mr-6 flex flex-col md:items-end items-center justify-center xl:mr-28">
      <div class="flex flex-col items-center justify-center">
        <div class="md:text-3xl text-2xl font-roboto text-center text-gray-800">cinema-tokyo</div>
        <p class="sm:w-140 w-full mt-6 text-2xl font-roboto leading-6 text-center text-gray-600">


        </p>
        <div class="md:mt-14 mt-12 flex flex-col items-center">
          <div class="w-20 h-20 bg-white shadow rounded-full flex items-center justify-center" role="img"
            aria-label="money">
            <img src='favicon.ico' width="40">

          </div>
          <p class="sm:w-140 w-full mt-6 text-2xl font-roboto leading-6 text-center text-gray-600">
            cinema-tokyo is a small company based in Tokyo, Japan. We are a small team of people who are passionate.
            </p>
        </div>
        <!--
        <div class="mt-7 flex flex-col items-center">
          <div class="w-20 h-20 bg-white shadow rounded-full flex items-center justify-center" role="img"
            aria-label="ideas">
            <img src='assets/images/button.png' width="40">
          </div>
          <p class="sm:w-140 w-full mt-6 text-2xl font-roboto leading-6 text-center text-gray-600">Cassandra Harada is
            a lifetime maker of things. Cassandra spent a good portion of her youth studying fine arts and printmaking,
            but In 2006 she moved to Tokyo and realized quickly that there wasn’t much space for 2D art in the
            traditional sense, so she felt compelled to move toward a more utilitarian outlet to satisfy her drive to
            make. She spent 10 years of her career teaching handknitting in her small yarn shop in West Tokyo but
            ultimately desired a close working relationship with other master craftspeople. In 2019 she began studying
            with Master Teruo Hirokawa, and doing what she could to become a competent trouser maker. She still writes
            the occasional knitting pattern for yarn companies and magazines, and is also involved in yarn design,
            however she spends most of her waking hours in her tiny studio in Fuchu crafting wool garments. </p>
        </div>
        <div class="mt-7 flex flex-col items-center">
          <div class="w-20 h-20 bg-white shadow rounded-full flex items-center justify-center" role="img"
            aria-label="bright ideas">
            <img src='assets/images/button.png' width="40">
          </div>
          <p class="text-base leading-6 mt-6 text-center text-gray-600 sm:w-96 w-full"></p>
        </div> -->
      </div>
    </div>
    <div class="mt-30 py-12  xl:w-1/2 lg:w-1/2 sm:w-1/4">
      <img src="assets/films_b_and_w.jpg" alt="Cassandra"
        class="h-full rounded-md object-cover object-center md:block hidden" />
    </div>
  </div>
</div>
