<div
  data-te-lightbox-init
  class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0 m-20">
  <div class="flex h-1/2 w-1/2 flex-1 flex-col">
    <img
      [src]="imageItems[0].imageSrc800" width="200" height="200"
      alt="Table Full of Spices"
      class="mb-5 w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
    <img
    [src]="imageItems[1].imageSrc800"
      alt="Coconut with Strawberries"
      class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
  </div>
  <div class="flex h-full w-full flex-1 flex-col m-20">
    <img
    [src]="imageItems[2].imageSrc800"
      alt="Coconut with Strawberries"
      class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
      <img
      [src]="imageItems[3].imageSrc800"
        alt="Coconut with Strawberries"
        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
  </div>
  <div class="flex h-full w-full flex-1 flex-col">
    <img
    [src]="imageItems[4].imageSrc800"
      alt="Coconut with Strawberries"
      class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
      <img
      [src]="imageItems[5].imageSrc800"
        alt="Coconut with Strawberries"
        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />

  </div>

</div>
