<mat-tab-group #tabGroup (selectedTabChange)="onTabClick()">
  <mat-tab label="Company Setup">
    <ng-template matTabContent>
      <div class="container">
        <admin-form></admin-form>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Blog Entries">
    <ng-template matTabContent>
      <div class="container">
        <blog-list></blog-list>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Inventory">
    <ng-template matTabContent>
      <div class="container">
        <inventory-list></inventory-list>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Orders">
    <ng-template matTabContent>
      <div class="container">
        <order-list></order-list>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Category">
    <ng-template matTabContent>
      <div class="container">
        <category-list></category-list>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Image Maintenance">
    <ng-template matTabContent>
      <div class="container">
        <image-maintenance></image-maintenance>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Image Gallery">
    <ng-template matTabContent>
      <div class="container">
        <app-gallery></app-gallery>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Swipe">
    <ng-template matTabContent>
      <div class="container">
        <app-inventory-content></app-inventory-content>
      </div>
    </ng-template>
  </mat-tab>


</mat-tab-group>
