.mat-raise-button {
    margin: 5px;
  }
.mat-button {
    margin: 5px;
  }

.mat-flat-button {
    margin: 5px;
  }

.mat-card {
    margin: 5px;
    width: 800px;
  }

.mat-radio-button {
    margin: 5px;
  }

