
<!-- <div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
  <div
    class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 sm:p-12 md:pl-16  sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
  
      <div class="mt-1 text-4xl text-gray-700 font-extrabold tracking-tight leading-tight">
        Sign In
      </div>


      <form class="mt-4" [formGroup]="signInForm">
  

        <div class="flex  flex-col ">        
         <p class="text-gray-700 text-base text-gray-800">eMail</p>
            <mat-form-field appearance="outline" class="border-gray-300">
              <input id="email" matInput type="email" [formControlName]="'email'" placeholder="eMail*"
                class="text-gray-700 border border-gray-300  w-full py-2 px-2 -mt-[20px] -mb-[15px] -ml-[10px] rounded " />
              <mat-error> eMail is required </mat-error>
            </mat-form-field>


            <p class="text-gray-700 text-base text-gray-800">Password</p>
            <mat-form-field appearance="outline">
              <input id="password" matInput type="password" [formControlName]="'password'" #passwordField
                placeholder="Password*"
                class="text-gray-700 border border-gray-300  w-full py-2 px-2 -mt-[15px] -mb-[15px] -ml-[10px] rounded " />
              <button mat-icon-button type="button"
                (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
                matSuffix>
                <mat-icon matSuffix class="text-gray-300 " *ngIf="passwordField.type === 'password'"
                  [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon matSuffix class="text-gray-300 " *ngIf="passwordField.type === 'text'"
                  [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
              </button>
              <mat-error> Password is required </mat-error>
            </mat-form-field>

          </div>

          <button class="fuse-mat-button-large w-full mt-6 bg-gray-700 text-gray-100" mat-flat-button
            [disabled]="signInForm.disabled" (click)="signInEmail()">
            <span *ngIf="!signInForm.disabled"> Sign In </span>
            <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24"
              [mode]="'indeterminate'"></mat-progress-spinner>
          </button>

          <button class="fuse-mat-button-large w-full mt-6 bg-gray-700 text-gray-100" mat-flat-button
          [disabled]="signInForm.disabled" (click)="resetPassword()">
          <span *ngIf="!signInForm.disabled"> Reset Password </span>
          <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
      </form>
    </div>
  </div>
  <div
    class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
  
    <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
      preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
      <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
        <circle r="234" cx="196" cy="23"></circle>
        <circle r="234" cx="790" cy="491"></circle>
      </g>
    </svg>
   
    <svg class="absolute -top-16 -right-16 text-gray-700" viewBox="0 0 220 192" width="220" height="192" fill="none">
      <defs>
        <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
          patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
        </pattern>
      </defs>
      <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
    </svg>
   
    <div class="z-10 relative w-full max-w-2xl">
      <div class="text-7xl font-bold leading-none text-gray-100">
        <div>Welcome to</div>
        <div>our community</div>
      </div>
      <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
        Made To brings together a community of crafts people and makers to share and encourage their skills at
        delivering high quality hand made products.
      </div>
      <div class="flex items-center mt-8">

        <div class=" font-medium tracking-tight text-gray-400">
          Many people and organization have joined us, it's your turn
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
  <div
    class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 sm:p-12 md:pl-16  sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <!-- Logo -->
     
      <div class="w-12">
        <img src="/favicon.ico" />
      </div>
      <!-- Title -->
      <div class="mt-1 text-4xl text-gray-400 font-extrabold tracking-tight leading-tight">
        Sign In 
      </div>
      <br>
      <h2 class="text-gray-400">Signing in will register you as a Made To users. </h2>


      <!-- Sign Up form -->
      <!-- <form class="mt-4" [formGroup]="signUpForm">
      

        <div class="flex  flex-col ">

          <div class="w-full mb-2">
            <div class="mt-2">
              <p class="text-gray-700 text-base text-gray-800">First Name</p>
              <input matInput type="text" [formControlName]="'first_name'" placeholder="Enter your first name*"
                class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-400 w-full py-4 px-4 rounded " />
            </div>
          </div>

          <div class="w-full mb-2">
            <div class="mt-2">
              <p class="text-gray-700 text-base text-gray-800">Last Name</p>
              <input matInput type="text" [formControlName]="'first_name'" placeholder="Enter your last name*"
                class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-400 w-full py-4 px-4 rounded " />
            </div>
          </div>
          
            <p class="text-gray-700 text-base text-gray-800">eMail</p>
            <mat-form-field appearance="outline" class="border-gray-300">
              <input id="email" matInput type="email" [formControlName]="'email'" placeholder="eMail*"
                class="text-gray-700 border border-gray-300  w-full py-2 px-2 -mt-[20px] -mb-[15px] -ml-[10px] rounded " />
              <mat-error> eMail is required </mat-error>
            </mat-form-field>


            <p class="text-gray-700 text-base text-gray-800">Password</p>
            <mat-form-field appearance="outline">
              <input id="password" matInput type="password" [formControlName]="'password'" #passwordField
                placeholder="Password*"
                class="text-gray-700 border border-gray-300  w-full py-2 px-2 -mt-[15px] -mb-[15px] -ml-[10px] rounded " />
              <button mat-icon-button type="button"
                (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
                matSuffix>
                <mat-icon matSuffix class="text-gray-300 " *ngIf="passwordField.type === 'password'"
                  [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon matSuffix class="text-gray-300 " *ngIf="passwordField.type === 'text'"
                  [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
              </button>
              <mat-error> Password is required </mat-error>
            </mat-form-field>
          </div>

         
          <div class="inline-flex items-end w-full mt-1.5">
            <mat-checkbox [color]="'primary'" [formControlName]="'agreements'">
              <span>I agree to the</span>
              <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">Terms of Service
              </a>
              <span>and</span>
              <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">Privacy Policy
              </a>
            </mat-checkbox>
          </div>

         
          <button class="fuse-mat-button-large w-full mt-6 bg-gray-700 text-gray-100" mat-flat-button
            [disabled]="signUpForm.disabled" (click)="signUp()">
            <span *ngIf="!signUpForm.disabled"> Create your free account </span>
            <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24"
              [mode]="'indeterminate'"></mat-progress-spinner>
          </button>
      </form> -->
      <div id="firebaseui-auth-container" class="text-gray-700 m-5 justify-center">
      </div>
    </div>
  </div>
  <div
    class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
    <!-- Background - @formatter:off -->
    <!-- Rings -->
    <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
      preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
      <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
        <circle r="234" cx="196" cy="23"></circle>
        <circle r="234" cx="790" cy="491"></circle>
      </g>
    </svg>
    <!-- Dots -->
    <svg class="absolute -top-16 -right-16 text-gray-700" viewBox="0 0 220 192" width="220" height="192" fill="none">
      <defs>
        <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
          patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
        </pattern>
      </defs>
      <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
    </svg>
    <!-- @formatter:on -->
    <!-- Content -->
    <div class="z-10 relative w-full max-w-2xl">
      <div class="text-7xl font-bold leading-none text-gray-100">
        <div>Welcome to</div>
        <div>our community</div>
      </div>
      <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
        Made To brings together a community of crafts people and makers to share and encourage their skills at
        delivering high quality hand made products.
      </div>
      <div class="flex items-center m-8">

      <div class=" font-medium tracking-tight text-gray-400 mb-10">
           It's your turn.
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>