
    <div class="px-4 py-12">
        <div
            class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] mx-auto bg-white lg:px-10 md:px-6 px-4 md:py-12  py-9">
            <div class="justify-center gap-8 md:flex">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%206.png" alt=""
                        class="hidden lg:block md:hidden">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%206%20%281%29.png" alt=""
                        class="hidden lg:hidden md:block">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/kettel.png" alt="" class="block md:hidden">
                </div>
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2016.png" alt=""
                        class="hidden lg:block md:hidden">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2016%20%281%29.png" alt=""
                        class="hidden lg:hidden md:block">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/kettel3.png" alt=""
                        class="block mt-4  md:hidden">
                </div>
            </div>
            <div class="justify-center gap-8 mt-8 md:flex">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2014.png" alt=""
                        class="hidden lg:block md:hidden">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2014%20%281%29.png" alt=""
                        class="hidden lg:hidden md:block">
                </div>
                <div class="bg-gray-100  lg:max-w-[405px] md:max-w-[319px]  xl:py-5 md:py-2 py-5 w-full">
                    <p
                        class="lg:text-4xl md:text-3xl text-3xl font-semibold text-center max-w-[246px] w-full mx-auto  text-[#1E293B]">
                        Follow us on Instagram</p>
                    <p
                        class="text-base font-normal hover:border-b border-[#4B5563] text-[#4B5563] text-center mt-8 cursor-pointer w-[130px] h-[23px] mx-auto">
                        @Instagramname</p>
                </div>

                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/dsds.png" alt=""
                        class="hidden lg:block md:hidden">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2019%20%281%29.png" alt=""
                        class="hidden lg:hidden md:block">
                </div>
            </div>
            <div>
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/kettel2.png" alt=""
                    class="block mt-4  md:hidden">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/kettel4.png" alt=""
                    class="block mt-4  md:hidden">
            </div>
            <div class="justify-center gap-8 mt-8 md:flex">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2015.png" alt=""
                        class="hidden lg:block md:hidden">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2015%20%281%29.png" alt=""
                        class="hidden lg:hidden md:block">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/kettel5.png" alt=""
                        class="block mt-4  md:hidden">
                </div>
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2018.png" alt=""
                        class="hidden lg:block md:hidden">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2018%20%281%29.png" alt=""
                        class="hidden lg:hidden md:block">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/k6.png" alt=""
                        class="block mt-4  md:hidden">
                </div>
            </div>
        </div>
    </div>

