 <div class="h-screen flex-container">
  <mat-sidenav-container class="flex-1 bg-white">
    <mat-sidenav class="flex-1 ml-1 bg-gray-700 rounded-lg " #drawer [mode]="'over'" closed
      [@onMainContentChange]="onSideNavChange ? 'open' : 'close'">
      <app-sidenav
      (notifyParentCloseDrawer)="closeDrawer()"
      (notifyNavBarToggleMenu)="onToggleMenu()"
      (notifyParentDrawerOpen)="openDrawer()">
      </app-sidenav>
    </mat-sidenav>
    <main class="max-h-content text-gray-800 bg-white rounded-lg flex-main">
      <article class="flex-article bg-white">
        <ng-content>
         
        </ng-content>
      </article>
    </main>
  </mat-sidenav-container>
</div> 
<footer class="bg-gray-100 mt-auto">
  <app-footer class="m-1"></app-footer> 
</footer>




