<div class="flex justify-start items-start py-10 px-4 md:px-6 ">
  <p class="text-4xl font-garamond font-semibold leading-9 text-gray-800"> Bespoke Tailoring </p>
  <button
    mat-icon-button
    (click)="onBackToLanding()"
    class="absolute text-gray-700 top-12 mb-20 items-left text-3xl font-semibold align-middle rounded-lg right-30 btn hover:text-white hover:bg-gray-500 dark:hover:bg-gray-800">
    <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
  </button>
</div>


<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0 rounded">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2 lg-rounded">
      <img class="w-full object-cover lg:h-full" ngSrc="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/800%2FE828E1CC-7973-4C8A-B42D-3212EF6CBBBA_800x800.JPG?alt=media&token=cdb3275e-b8a3-4a1b-b3ce-f1c8b3e4d665" width="800" height="600" alt="">
    </div>
  </div>

  <div class="relative px-4 pt-12 pb-16 sm:px-6 sm:pt-16 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div class="lg:col-start-2 lg:pl-8">
      <div class="mx-auto max-w-prose text-base lg:ml-auto lg:mr-0 lg:max-w-lg">
        <h3 class="font-garamond mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Our Process</h3>
        <p class="mt-8 text-lg text-gray-500"></p>
        <div class="font-garamond mt-5 text-gray-500">
          <p>At Made to, we are offering bespoke tailoring services, courtesy of Master Teruo Hirokawa.   He has more than 60 years experience in cutting, fitting and constructing beautiful hand made garments.   No matter your shape, size or desired fit, Master Hirokawa can create a garment to suit your needs.  </p>
          <p>The bespoke process requires a bit of patience and commitment.</p>
          <p>Because we want the perfect fit, it includes the following steps:  </p>

          <p><strong>First consultation: </strong></p>
          <p>In this meeting, we discuss cloth, desired fit, details, and take a very thorough set of measurements.  </p>

          <p><strong>First fitting:</strong></p>
          <p>During this appointment we will ask you to try on a “skeleton baste” of your new suit.   This garment will resemble the finished piece, but will be stitched together with hand basting so the garment can be easily changed.   </p>

          <p><strong>Second fitting:</strong></p>
          <p>At this fitting the garments pockets and major details will be complete but all major seams will be hand basted so we can assure we have the best fit we can achieve.  If there are any major fit issues we will ask you back for a third fitting before the next and final step.</p>

          <p><strong>Final fitting:</strong></p>
          <p>During this appointment you will arrive to a completed garment that is ready for you to take home.   We will ask you to try on your suit one final time to make sure you are pleased with the result and feel good in your new clothes.  During this time we can also offer information on garment care and maintenance</p>

          <br>
          <p>Our bespoke suits feature cloth of our clients choosing.  If a client already has cloth they would like to use, we would be happy to do that.   Our garments feature natural linings made from tencel fibers, horse hair and wool interlining, genuine horn or shell buttons, deep, sturdy pocketing, hand stitched bar tacks, buttonholes and decorative stitching all in silk thread.</p>
          <br>
          <p>If you have any questions or would like to schedule a fitting, please contact cassandra@tokyo-made-to.com for more information or fill out our contact form on our home page.  <a> <button (click)="onContacts()"><strong>Contacts</strong></button></a></p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
