
<div class="flex justify-start items-start py-10 px-4 md:px-6 ">
  <p class="text-4xl font-garamond font-semibold leading-9 text-gray-800"> Bespoke Tailoring </p>
  <button
    mat-icon-button
    (click)="onBackToLanding()"
    class="absolute text-gray-700 top-12 mb-20 items-left text-3xl font-semibold align-middle rounded-lg right-30 btn hover:text-white hover:bg-gray-500 dark:hover:bg-gray-800"
  >
    <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
  </button>
</div>

    <div class="px-4 py-12">
      <div
        class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] mx-auto bg-white py-12 lg:px-10 md:px-6 px-4"
      >
        <div class="lg:flex gap-8 justify-center">
          <div class="relative">
            <div class="">
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sofaaaa.png"
                alt="sofaaa"
                class="lg:block md:hidden hidden w-full"
              />
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/blurr.png"
                alt="blurr"
                class="lg:hidden md:block hidden w-full"
              />
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/smmmmm.png"
                alt="smmm"
                class="lg:hidden md:hidden block w-full"
              />
            </div>
            <div
              class="absolute xl:bottom-16 lg:bottom-12 md:bottom-6 bottom-8 xl:top-16 lg:top-12 md:top-10 top-4 md:left-6 left-2 right-2"
            >
              <p
                class="lg:text-4xl md:text-3xl text-3xl font-semibold text-white"
              >
                Don’t miss out!
              </p>
              <p
                class="text-base max-w-[400px] w-full text-white xl:mt-4 lg:mt-2 md:mt-4 mt-4"
              >
                Subscribe to your newsletter to stay in the loop. Our newsletter
                is sent once in a week on every friday so subscribe to get
                latest news and updates.
              </p>
              <div class="md:flex gap-4 items-center ">
                <div
                  class="border border-white py-2 xl:mt-8 lg:mt-3 md:mt-4 mt-4 px-3 relative"
                >
                  <input
                    type="email"
                    class="text-white focus:outline-none xl:max-w-[296px] lg:max-w-[250px] md:w-[452px] bg-inherit w-full py-1 pl-7 placeholder:text-white"
                    placeholder="Enter your email"
                  />
                  <div>
                    <svg
                      class="absolute bottom-4"
                      width="17"
                      height="16"
                      viewBox="0 0 17 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14.0781 3H2.92188C2.18837 3 1.59375 3.55964 1.59375 4.25V11.75C1.59375 12.4404 2.18837 13 2.92188 13H14.0781C14.8116 13 15.4062 12.4404 15.4062 11.75V4.25C15.4062 3.55964 14.8116 3 14.0781 3Z"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M3.71875 5L8.5 8.5L13.2812 5"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <div></div>
                </div>

                <button
                  class="bg-white lg:w-[126px] md:w-[132px] w-full py-3 xl:mt-8 lg:mt-4 md:mt-4 mt-4 text-base font-medium"
                >
                  Subscribe
                </button>
              </div>
            </div>
          </div>
          <div>
            <div class="lg:mt-0 md:mt-6 mt-4">
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2027%20%281%29.png"
                alt="s0faaa"
                class="lg:block md:hidden hidden"
              />
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/Rectangle%2027.png"
                alt=""
                class="lg:hidden md:block hidden"
              />
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/ggg.png"
                alt=""
                class="md:hidden block"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

