<ng-container *ngIf="featuredList$ | async as galleryList">
  <section id="hero">
    <div class="container h-screen px-6 py-4 max-w-8xl">
      <land-header></land-header>
      <!-- Menu/Logo Container -->
      <nav class="flex items-center justify-between text-2xl text-white">
        <!-- Logo -->
        <img class="h-40 w-100" src="assets/made-to-logo-white.svg" />
        <!-- Menu -->
        <div class="hidden h-10 text-2xl md:flex md:space-x-6">
          <div class="text-white font-bold uppercase text-1xl group font-garamond">
            <button (click)="scrollToId('feature')" class="uppercase "> About</button>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>
          <div class="text-white font-bold uppercase text-1xl group">
            <button (click)="scrollToId('services')" class="uppercase font-garamond"> Services</button>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>
          <div class="text-white font-bold uppercase text-1xl group">
            <button (click)="scrollToId('gallery')" class="uppercase font-garamond"> Follow</button>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>
          <div class="text-white font-bold uppercase text-1xl group">
            <button class="uppercase font-garamond" routerLink="/home/contacts"> Contact</button>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>
          <div class="text-white font-bold uppercase text-1xl group">
            <button class="uppercase font-garamond" routerLink="/blog">Thoughts</button>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>
          <div class="text-white font-bold uppercase text-1xl group">
            <button class="uppercase font-garamond" routerLink="/shop">shop</button>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>

        </div>
      </nav>
      <div class="max-w-3xl text-white uppercase border-2 font-garamond md:p-10 md:m-16 md:mx-0 md:text-4xl">
        {{ titleMessage }}
      </div>
      <!-- CTA Section -->
      <div class="container flex-col px-2 pb-12 mx-auto">
        <div class="px-4 py-6 mx-auto text-center md:block max-w-7xl sm:px-6 lg:py-16 lg:px-8">
          <h2 class="text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">
            <span class="sm:block font-garamond">{{mainPageDoc.cta_left}}</span>
          </h2>
          <div class="flex justify-center mt-4">
            <div class="rounded-md shadow md:block sm:inline-flex">
              <button (click)="scrollToId('services')"
                class="items-center justify-center px-5 py-3 font-medium text-gray-600 bg-gray-200 border border-transparent rounded-md md:block font-garamond hover:bg-gray-700 hover:text-gray-100">
                Made To Services
              </button>
            </div>
          </div>
        </div>
        <div class="px-4 py-6 mx-auto text-center max-w-7xl sm:px-6 lg:py-16 lg:px-8">
          <h2 class="text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">
            <span class="sm:block font-garamond">{{mainPageDoc.cta_right}}</span>
          </h2>
          <div class="flex justify-center mt-4">
            <div class="inline-flex ml-3">
              <button (click)="onContactUs()"
                class="items-center justify-center px-5 py-3 text-base font-medium text-gray-600 bg-gray-200 border border-transparent rounded-md sm:inline-flex font-garamond hover:bg-gray-700 hover:text-gray-100">
                Contact Made To
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End CTA -->

    </div>
  </section>
  <!-- About Us Section -->
  <section class="scroll-mt-20" id="feature">
    <div class="container max-w-7xl px-6 mx-auto my-32 text-gray-900 md:px-0">

      <div class="relative justify-center my-20 mb-20 md:justify-between">
        <p class="text-4xl text-center uppercase font-garamond md:text-left md:text-5xl">
          About Us
        </p>

        <div class="hidden md:block sm:block">
          <button (click)="scrollToId('services')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-700 align-middle rounded-lg right-10 btn hover:text-white hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-down'"></mat-icon>
          </button>

          <button (click)="scrollToId('hero')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-700 align-middle rounded-lg right-1 btn hover:text-white hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-up'"></mat-icon>
          </button>
        </div>
      </div>

      <div (click)="onClickAboutUs()"
        class="container relative flex flex-col max-w-6xl px-6 mx-auto my-32 text-gray-900 md:flex-row md:px-0 cursor-pointer">
        <!-- Image -->

        <img [src]="about_us" alt="features" class="hidden duration-200 w-400 md:block group-hover:scale-110"
          height="800" width="800" />
        <!-- Mobile Image -->

        <img [src]="about_us" alt="features" class="w-full md:hidden" height="400" width="400" />

        <!-- Text Container -->
        <div class="pr-0 bg-white top-48 md:absolute md:right-0 md:py-20 md:pl-20">
          <h2
            class="max-w-lg mt-10 mb-6 text-4xl text-center text-gray-900 uppercase font-garamond md:text-5xl md:mt-0 md:text-left">
            {{this.mainPageDoc.features_header}}
          </h2>

          <p class="text-center mr-10 font-garamond md:text-left">
            {{this.mainPageDoc.features_subheader}}
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="scroll-mt-20" id="services">
    <!-- Services -->
    <div class="container max-w-7xl px-6 mx-auto my-32 text-gray-900 md:px-0">
      <!-- Creations Header -->
      <div class="relative justify-center my-32 mb-20 md:justify-between">
        <p class="text-4xl text-center uppercase font-garamond md:text-left md:text-5xl">
          Services
        </p>

        <div class="hidden md:block sm:block">
          <button (click)="scrollToId('gallery')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-700 align-middle rounded-lg right-10 btn hover:text-white hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-down'"></mat-icon>
          </button>

          <button (click)="scrollToId('hero')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-700 align-middle rounded-lg right-1 btn hover:text-white hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-up'"></mat-icon>
          </button>
        </div>
      </div>

      <!-- Items Container -->
      <div class="item-container">
        <!-- Item 1 -->
        <div (click)="onServices('home/tailoring')" class="group item">
          <!-- Desktop Image -->
          <img [src]="services_one" alt="" class="hidden duration-200 h-120 md:block group-hover:scale-110" height="400"
            width="300" />
          <!-- Mobile Image -->
          <img [src]="services_one" alt="services" class="w-full md:hidden" />
          <!-- Item Gradient -->
          <div class="item-gradient"></div>
          <!-- Item Text -->
          <h5>Bespoke Tailoring</h5>
        </div>

        <!-- Item 2 -->
        <div (click)="onServices('home/knitting')" class="group item">
          <!-- Desktop Image -->
          <img [src]="services_two" alt="" class="hidden duration-200 h-120 md:block group-hover:scale-110" height="400"
            width="300" />
          <!-- Mobile Image -->
          <img [src]="services_two" alt="" class="w-full md:hidden" />
          <!-- Item Gradient -->
          <div class="item-gradient"></div>
          <!-- Item Text -->
          <h5>Bespoke Knitwear</h5>
        </div>

        <!-- Item 3 -->
        <div (click)="onServices('home/repairs')" class="group item">
          <!-- Desktop Image -->
          <img [src]="services_three" alt="" class="hidden duration-200 h-120 md:block group-hover:scale-110"
            height="400" width="300" />
          <!-- Mobile Image -->
          <img [src]="services_three" alt="" class="w-full md:hidden" />
          <!-- Item Gradient -->
          <div class="item-gradient"></div>
          <!-- Item Text -->
          <h5>Mending and Repairs</h5>
        </div>

        <!-- Item 4 -->
        <div (click)="onServices('home/ready-to-wear')" class="group item">
          <!-- Desktop Image -->
          <img [src]="services_four" alt="" class="hidden duration-200 h-120 md:block group-hover:scale-110"
            height="400" width="300" />
          <!-- Mobile Image -->
          <img [src]="services_four" alt="" class="w-full md:hidden" />
          <!-- Item Gradient -->
          <div class="item-gradient"></div>
          <!-- Item Text -->
          <h5>Ready to Wear</h5>
        </div>
      </div>
    </div>
  </section>

  <!-- Gallery Section -->
  <section class="scroll-mt-20" id="gallery">
    <!-- Creations Container -->
    <div class="container max-w-7xl px-6 mx-auto my-16 text-gray-900 md:px-0">
      <!-- Creations Header -->
      <div class="relative justify-center my-1 mb-20 md:justify-between">
        <p class="text-4xl text-center uppercase font-garamond md:text-left md:text-5xl">
          Follow Us on Social Media
        </p>

        <div class="hidden md:block sm:block">
          <button (click)="scrollToId('swipe')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-700 align-middle rounded-lg right-10 btn hover:text-white hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-down'"></mat-icon>
          </button>

          <button (click)="scrollToId('hero')" class="uppercase"
            class="absolute top-0 items-center text-2xl font-normal text-gray-700 align-middle rounded-lg right-1 btn hover:text-white hover:bg-gray-700 dark:hover:bg-gray-700"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_solid:arrow-up'"></mat-icon>
          </button>
        </div>
      </div>


      <div class="py-1 2xl:contianer 2xl:mx-auto lg:px-20 md:px-4 px-4 flex justify-center items-center">
        <div
          class="md:w-auto flex lg:flex-row flex-col lg:justify-center items-start lg:items-center space-y-10 lg:space-x-32">
          <div class="flex flex-col justify-start items-start space-y-4">
            <h1 class="text-xl md:text-2xl lg:text-4xl font-bold leading-5 md:leading-6 lg:leading-9 text-gray-800">
              Social Media</h1>
            <p class="text-base leading-6 text-gray-600">Follow us on instagram/Facebook</p>
            <a class="text-lg leading-6 pb-px border-b border-transparent hover:border-gray-500 text-gray-600"
              href="https://www.facebook.com/profile.php?id=100083068317439">@Facebook</a>
            <a class="text-lg leading-6 pb-px border-b border-transparent hover:border-gray-500 text-gray-600"
              href="https://www.instagram.com/made.to.atelier/">@made.to.atelier</a>
            <a class="text-lg leading-6 pb-px border-b border-transparent hover:border-gray-500 text-gray-600"
              href="https://www.instagram.com/cassandra_harada/">@cassandra_harada</a>
          </div>
          <div class="flex justify-center items-center">
            <app-gallery [imageCollection]="galleryList"></app-gallery>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="swipe" class="scroll-mt-20">
    <div class="container max-w-7xl px-6 mx-auto my-16 text-gray-900 md:px-0">
      Creations Header
      <div class="relative justify-center my-1 mb-20 md:justify-between">
        <p class="text-4xl text-center uppercase font-garamond md:text-left md:text-5xl">
          Images
        </p>
        <div class="hidden md:block sm:block">
          <button mat-icon-button class="uppercase" (click)="scrollToId('hero')"
            class="absolute top-0 items-center text-2xl font-normal text-gray-700 align-middle rounded-lg right-1 btn hover:text-white hover:bg-gray-700 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_solid:arrow-up'"></mat-icon>
          </button>
        </div>
      </div>
     <app-swiper></app-swiper>
    </div>
  </section> -->
</ng-container>