

<div class="h-screen">
    <ng-container *ngIf="allContacts$ | async as rows">
      <dx-data-grid
        flex id="contactGrid"
        [dataSource]="rows"
        [showBorders]="true"
        [focusedRowEnabled]="true"
        [focusedRowIndex]="0"
        (onCellDblClick)="onCellDoublClicked($event)"
        [repaintChangesOnly]="true"
        (onFocusedRowChanged)="onFocusedRowChanged($event)"
        keyExpr="id">
        <dxi-column width="200px" dataField="name"> </dxi-column>
        <dxi-column width="200px" dataField="email"> </dxi-column>
        <dxi-column width="200px" dataField="created_date"> </dxi-column>
        <dxi-column dataField="message"> </dxi-column>
      </dx-data-grid>
    </ng-container>

</div>
