.mat-card {
  margin: 1px;
}
:host {
  display: block;
  text-align: center;
}

.gallery-lightbox-container {
  position: relative;
  display: inline-block;
  padding: 1px;
}
.gallery-lightbox-container .gallery {
  line-height: 0;
  column-count: 3;
  column-gap: 30px;
}
.gallery-lightbox-container .gallery .gallery-img img {
  width: 100%;
  height: auto;
  cursor: zoom-in;
  border-radius: 0.35rem;
  margin-bottom: 5px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.21);
}
.gallery-lightbox-container .lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 53, 53, 0.85);
}
.gallery-lightbox-container .lightbox .count {
  position: absolute;
  top: 0;
  left: 0;
  width: 7%;
  height: 10%;
  color: rgb(177, 173, 173);
  opacity: 0.7;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.gallery-lightbox-container .lightbox .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  color: #fff;
  background: 0 0;
  border: 0;
  cursor: pointer;
  width: 7%;
  height: 10%;
  z-index: 2;
}
.gallery-lightbox-container .lightbox .close-btn .fa-times {
  font-size: 25px;
}
.gallery-lightbox-container .lightbox .btn-lightbox-carousel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 10%;
  height: 10%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
}
.gallery-lightbox-container .lightbox .btn-prev {
  left: 0;
}
.gallery-lightbox-container .lightbox .btn-next {
  right: 0;
}
.gallery-lightbox-container .lightbox .icon-lightbox-carousel {
  color: #fff;
  opacity: 0.5;
  transition: all 0.15s ease;
}
.gallery-lightbox-container .lightbox .icon-lightbox-carousel:hover {
  opacity: 0.9;
}
.gallery-lightbox-container .lightbox .icon-lightbox-carousel:active {
  opacity: 0.5;
}
.gallery-lightbox-container .lightbox .icon-prev, .gallery-lightbox-container .lightbox .icon-next {
  font-size: 30px;
}
.gallery-lightbox-container .lightbox .lightbox-img img {
  width: 100%;
  border-radius: 0.35rem;
}
@media screen and (max-width: 1024px) {
  .gallery-lightbox-container .gallery {
    column-count: 2;
    width: 100%;
  }
  .gallery-lightbox-container .gallery .gallery-img img {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .gallery-lightbox-container .gallery {
    column-count: 2;
  }
  .gallery-lightbox-container .gallery .gallery-img img {
    max-width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .gallery-lightbox-container .gallery {
    column-count: 1;
  }
  .gallery-lightbox-container .gallery .gallery-img img {
    width: 100%;
  }
}
