<div class="gallery-lightbox-container">
  <div class="gallery">
    <mat-card
      cdkDropList
      *ngFor="let data of galleryData; let i = index"
      class="gallery-img"
      cdkDrag>
      <img
        (click)="onPreviewImage(i)"
        [ngSrc]="data.url"
        width="200"
        height="200"
        [alt]="data.name"
      />
    </mat-card>
  </div>
  <div *ngIf="showMask" class="lightbox" @animation2>
    <span *ngIf="showCount" class="count">
      {{ currentIndex + 1 }}/{{ totalImageCount }}
    </span>

    <button
      *ngIf="controls"
      class="close-btn"
      mat-icon-button
      (click)="onClosePreview()"
      color="primary"    >
      <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
    </button>

    <button
      *ngIf="controls"
      class="btn-lightbox-carousel btn-prev"
      mat-icon-button
      (click)="prev()"
      color="primary"
    >
      <mat-icon [svgIcon]="'heroicons_outline:arrow-circle-left'"></mat-icon>
    </button>

    <button
      *ngIf="controls"
      class="btn-lightbox-carousel btn-next"
      mat-icon-button
      (click)="next()"
      color="primary" >
      <mat-icon [svgIcon]="'heroicons_outline:arrow-circle-right'"></mat-icon>
    </button>

    <mat-card class="m-1">
      <div
        *ngIf="previewImage"
        [@animation]="{ value: 'visible' }"
        (@animation.done)="onAnimationEnd($event)" >
        <img
          [src]="currentLightboxImage.url"
          width="600"
          height="600"
          [alt]="currentLightboxImage.name" />
      </div>
    </mat-card>
  </div>
</div>
