<!-- side bar -->
<div class="container relative h-screen">
  <aside aria-label="Sidebar">
    <div class="px-3 py-10 overflow-y-auto text-white bg-gray-700 rounded w-50 dark:bg-gray-800">
      <ul class="space-y-2">
        <li>
          <a routerLink="home"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:dashboard_customize'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Home</span>
          </a>
        </li>
        <li>
          <a routerLink="products"
            class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:shop_2'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Collections</span>
          </a>
        </li>
        <li>
          <a routerLink="shop"
            class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:shopping_cart'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Shop</span>
          </a>
        </li>

        <li>
          <a routerLink="blog"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Blog</span>
          </a>
        </li>
        <li>
          <a routerLink="dashboard"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:dashboard'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="schedule"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:schedule'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Schedule</span>
          </a>
        </li>
        <li>
          <a routerLink="image-design"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:design_services'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Pages</span>
          </a>
        </li>
        <li>
          <a routerLink="users"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
          </a>
        </li>

        <li>
          <a routerLink="sigin"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:login'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
          </a>
        </li>
        <li>
          <a routerLink="signup"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_outline:key'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
          </a>
        </li>
        <li>
          <a routerLink="animation"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_outline:bell'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Animation</span>
          </a>
        </li>
        <li>
          <a routerLink="cards"
            class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'heroicons_outline:bell'"></mat-icon>
            <span class="flex-1 ml-3 whitespace-nowrap">Cards</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
</div>
