<!-- <ng-container *ngIf="productItem$ | async as product"> -->
<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="onUpdate(formGroup.value)" class="form">
    <div class="py-12 px-4">
      <div
        class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] mx-auto bg-white relative lg:px-10 md:px-6 px-4 py-7">
        <div class="flex justify-center gap-8">

          <div class="w-full py-12 md:py-8 px-4 sm:px-0 md:px-6">
            <!-- <p class="lg:text-4xl md:text-2xl text-2xl font-semibold leading-9 text-gray-800 sm:mb-8 mb-8 md:mb-8">
              Check out
          </p> -->
            <p class="text-xl font-semibold leading-tight text-gray-800">
              Contact Information
            </p>

            <div class="flex flex-col md:flex-row  m-2">
              <div class="mt-2">
                <p class="text-base text-gray-800">eMail</p>
                <input matInput type="text" formControlName="email" placeholder="Enter your first name"
                  class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 w-full w-full py-3 px-3 rounded " />
              </div>
            </div>

            <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
              <div class="mt-2">
                <p class="text-gray-700 text-base text-gray-800">Phone Number</p>
                <input matInput type="text" formControlName="phone" placeholder="Enter your Phone Number"
                  class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
              </div>
            </div>

            <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row">


              <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
                <div class="mt-2">
                  <p class=" text-base text-gray-800">First Name</p>
                  <input matInput type="text" formControlName="first_name" placeholder="Enter your first name"
                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                </div>
              </div>

              <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
                <div class="mt-2">
                  <p class="text-gray-700 text-base text-gray-800">Last Name</p>
                  <input matInput type="text" formControlName="last_name" placeholder="Enter your last name"
                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-5"></div>
      </div>
      <div
        class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] mx-auto bg-white relative lg:px-10 md:px-6 px-4 py-7">
        <div class="flex lg:flex justify-center gap-8">

          <div class="w-full py-12 md:py-8 px-4 sm:px-0 md:px-6">

            <p class="text-xl font-semibold leading-tight text-gray-800">
              Shipping Details
            </p>

            <div class="flex  flex-col lg:flex-row">
              <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
                <div class="mt-2">
                  <p class=" text-base text-gray-800">First Name</p>
                  <input matInput type="text" formControlName="first_name" placeholder="Enter your first name"
                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                </div>
              </div>

              <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
                <div class="mt-2">
                  <p class="text-gray-700 text-base text-gray-800">Last Name</p>
                  <input matInput type="text" formControlName="last_name" placeholder="Enter your last name"
                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-5"></div>
      </div>

      <div class="w-full">
        <div class="w-full px-4 sm:px-0 md:px-6">
          <p class="text-xl font-semibold leading-tight text-gray-800">
            Shipping Details
          </p>

          <input name="address1" formControlName="address_line1"
            class="text-gray-700 pb-4  border-b border-gray-200 block w-full placeholder-gray-600 mt-6 focus:outline-0"
            placeholder="Address" />

          <input type="text" name="address2" formControlName="address_line2"
            class="text-gray-700 pb-4 rounded border-b border-gray-200 block w-full placeholder-gray-600 mt-6 focus:outline-0"
            placeholder="Address (Line 02)" />

          <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row">

            <input type="text" formControlName="city"
              class="text-gray-700 pb-4 rounded border-b border-gray-200 block w-full placeholder-gray-600 mt-6 focus:outline-0"
              placeholder="Town/City" />


            <input type="text" formControlName="province_state"
              class="text-gray-700 pb-4 rounded border-b border-gray-200 block w-full placeholder-gray-600 mt-6 sm:ml-8 md:ml-0 lg:ml-8 focus:outline-0"
              placeholder="State/Province" />

          </div>


          <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row">
            <input type="text" formControlName="country"
              class="text-gray-700 pb-4 rounded border-b border-gray-200 block w-full placeholder-gray-600 mt-6 sm:ml-8 md:ml-0 focus:outline-0"
              placeholder="Country" />
          </div>


          <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row ">
            <input type="phone" formControlName="postal_code"
              class="text-gray-700 pb-4 rounded border-b border-gray-200 block w-full placeholder-gray-600 mt-6 align-center align-middle"
              placeholder="Postal Code" />

            <input type="text" formControlName="phone_number"
              class="text-gray-700 pb-4 rounded border-b border-gray-200 block w-full placeholder-gray-600 mt-6 sm:ml-8 md:ml-0 lg:ml-8 focus:outline-0"
              placeholder="Phone Number" />
          </div>
        </div>

        <div class="relative md:pb-20 pb-9 px-4 sm:px-0 md:px-6">
          <div class="grid grid-cols-12">
            <div class="lg:col-start-1 md:col-start-0 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
              <div class="lg:mt-12 md:mt-8 mt-8 lg:ml-0 md:ml-0 ml-0 col-span-10">
                <div class="div flex w-full md:pt-12 pt-8">
                  <button (click)="onUpdateProfile()" [disabled]="updateBtnState [disabled]="!contactGroup.valid"
                    class="text-base font-medium disabled:bg-gray-400 leading-none text-white bg-gray-800 py-4 w-full hover:bg-gray-700 transform duration-300 ease-in-out">
                    Update Profile
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> -->

    </div>
  </form>
</mat-card>
<!-- </ng-container> -->
