<mat-card class="text-gray-700">
    <form [formGroup]="formGroup" class="flex flex-col">
        <div
            class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] mx-auto bg-white relative lg:px-10 md:px-6 px-4 py-7">
            <div class="flex lg:flex justify-center gap-8">
                <div class="w-full py-12 md:py-8 px-4 sm:px-0 md:px-6">
                    <p class="text-xl font-semibold leading-tight text-gray-800">
                        Profile Details
                    </p>

                    <div class="flex  flex-col md:flex-row">
                        <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
                            <div class="mt-2">
                                <p class="text-gray-700 text-base text-gray-800">eMail Address</p>
                                <input matInput type="text" formControlName="email"
                                    placeholder="Enter your phone email address as your ID"
                                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                            </div>
                        </div>

                        <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
                            <div class="mt-2">
                                <p class="text-gray-700 text-base text-gray-800">Phone Number</p>
                                <input matInput type="text" formControlName="phone"
                                    placeholder="Enter your phone number for Courier Service"
                                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                            </div>
                        </div>
                    </div>

                    <div class="flex  flex-col md:flex-row">
                     
                        <div class="flex flex-col sm:flex-row md:flex-col  lg:flex-row m-2">
                            <div class="mt-2">
                                <p class=" text-base text-gray-800">First Name</p>
                                <input matInput type="text" formControlName="first_name"
                                    placeholder="Enter your first name"
                                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                            </div>
                        </div>

                        <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
                            <div class="mt-2">
                                <p class="text-gray-700 text-base text-gray-800">Last Name</p>
                                <input matInput type="text" formControlName="last_name"
                                    placeholder="Enter your last name"
                                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                            </div>
                        </div>
                    </div>


                    <div class="flex  flex-col md:flex-row">
                     
                        <div class="flex flex-col sm:flex-row md:flex-col  lg:flex-row m-2">
                            <div class="mt-2">
                                <p class=" text-base text-gray-800">Town/City</p>
                                <input matInput type="text" formControlName="town_city"
                                    placeholder="Town or City"
                                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                            </div>
                        </div>

                        <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
                            <div class="mt-2">
                                <p class="text-gray-700 text-base text-gray-800">Province or State</p>
                                <input matInput type="text" formControlName="province_state"
                                    placeholder="Province or State"
                                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                            </div>
                        </div>

                    </div>

                    <div class="flex  flex-col md:flex-row">

                        <div class="flex flex-col sm:flex-row md:flex-col  lg:flex-row m-2">
                            <div class="mt-2">
                                <p class=" text-base text-gray-800">Country</p>
                                <input matInput type="text" formControlName="country"
                                    placeholder="Country"
                                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                            </div>
                        </div>

                     
                    
                        <div class="flex sm:flex-row md:flex-col flex-col lg:flex-row m-2">
                            <div class="mt-2">
                                <p class="text-gray-700 text-base text-gray-800">Postal Code</p>
                                <input matInput type="text" formControlName="postal_code"
                                    placeholder="Postal code"
                                    class="text-gray-700 placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded " />
                            </div>
                        </div>
                    </div>
                
                    <div class="m-2">
                        <div class="mt-10">
                            <button #send type="submit" [disabled]="!formGroup.valid"
                                class="bg-gray-800 focus:ring-2 h-14 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none  border rounded hover:bg-indigo-600 py-4 w-full"
                                type="submit" [disabled]="!formGroup.valid" mat-raised-button>
                                Update Registration Information
                                <mat-icon [svgIcon]="'mat_outline:add'"></mat-icon>
                                <span *ngIf="!formGroup.disabled"></span>
                                <mat-progress-spinner *ngIf="formGroup.disabled" [diameter]="24"
                                    [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-5"></div>
        </div>
    </form>
</mat-card>