<p style="text-align: left;"><span
        style="color: windowtext; background-color: transparent; font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 11pt;">Terms
        of Service </span></p>
<p style="text-align: left;"><span
        style="color: windowtext; background-color: transparent; font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 11pt;"> </span>
</p>
<p style="text-align: left;"><span
        style="color: windowtext; background-color: transparent; font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 11pt;">PLEASE
        REVIEW CAREFULLY </span></p>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">These
        terms were written to clarify the principles and procedures by which we operate and may be subject to change at
        any time, at our discretion. Any changes will be posted on this website and you should check them regularly to
        ensure you are happy with them. Please read them carefully and make sure that you understand them before placing
        an order. If you have any queries about these terms and conditions, or if you have any comments or feedback
        about our website, please contact us using one of the methods below. We welcome feedback as we are always trying
        to improve our product and services. </span></p>
<ul>
    <li style="text-align: left;"><span
            style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">Postal
            Address: 183-0052 Tokyo, Japan </span></li>
    <li style="text-align: left;"><span
            style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">Fuchu-shi
            Shinmachi 1-65-21 </span></li>
    <li style="text-align: left;"><span
            style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">Phone:
            +81 080 (3174) 5421 </span></li>
    <li style="text-align: left;"><span
            style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Email:
        </span><span
            style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(0, 0, 0);">cassandra@tokyo-made-to.com</span><span
            style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">  </span>
    </li>
</ul>
<p style="text-align: left;"><strong
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Orders: </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Currently
        we produce unique, studio designed knitwear pieces, vintage reproductions, and commissioned pieces.  Please do
        not ask for reproductions of current designer’s work. If the work is in the public domain we may make a vintage
        reproduction, but we will always reference the original designer/ wearer. We also produce handmade bespoke
        tailoring work alongside master tailor Teruo Hirokawa.    </span></p>
<p style="text-align: left;"><strong
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Measurements:  </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">
        For all knitted work, a set of measurements satisfactory to Made To must be provided. If we do not have these
        measurements we cannot produce a garment.  A provided copy garment is also acceptable.  </span></p>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">For
        all sewn work, Measurements </span><strong
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">satisfactory
        to Made To </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123); background-color: rgb(255, 255, 255);">must
        be provided and at least 2 in-person fittings to be held at made to, Kamata, or a location decided on and
        satisfactory to all parties. For sewn work, copy garments are </span><strong
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">not</strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123); background-color: rgb(255, 255, 255);">
        acceptable. We are NOT a factory that uses CAD, or other modern methods of production.  Measurements used for
        online shirtmakers or other factories will probably not be acceptable for our drafting methods.  If our creative
        head determines the measurements provided are not sufficient to produce a garment of acceptable quality, other
        measurements will need to be provided by the customer or the project will be canceled.  </span><strong
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">This
        is non-negotiable.   </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123); background-color: rgb(255, 255, 255);"> </span>
</p>
<p style="text-align: left;"><strong
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">   Pricing
        and Payment</strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);"> </span>
</p>
<ul>
    <li style="text-align: left;"><span
            style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">The
            prices payable for goods that you order will be agreed by email prior to the acceptance of your order. All
            prices are correct at the time of the agreement. The total cost of your order is the price of the products
            ordered plus packaging and delivery. </span></li>
    <li style="text-align: left;"><span
            style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">For
            bespoke orders a non-refundable deposit of the price of materials + 10% with your order will be required in
            order for production to proceed. The price of materials is</span><strong
            style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">
            NOT</strong><span
            style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123); background-color: rgb(255, 255, 255);">
            refundable. When the order is ready for despatch you will receive an email notifying you of the balance due.
            Goods will be despatched within 3 days of the full payment received and a further communication sent to
            notify you of despatch. Packaging and delivery will be calculated depending on the size and weight of the
            order and will be agreed by email prior to the acceptance of your order. </span></li>
</ul>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">Currently,
        for bespoke orders, payment options are Stripe, Paypal, or bank transfer. For in-store shopping, Stripe is the
        only available method of payment. All prices quoted are in USD. . </span></p>
<ul>
    <li style="text-align: left;"><span
            style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">We
            are not responsible for import duties you might be liable to, depending on your home country’s import
            laws. </span></li>
    <li style="text-align: left;"><span
            style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">If
            the balance due is unpaid after 14 days from email notification, the goods remain the property of Made To
            and may be sold elsewhere. </span></li>
</ul>
<p style="text-align: left;"><strong
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Price
        changes</strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);"> </span>
</p>
<ul>
    <li style="text-align: left;"><span
            style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">Quoted
            prices shall be valid for one month only, unless otherwise agreed by Made To in writing. The price of wool
            materials fluctuates based on currency exchange as most of our materials are imported from the UK and
            Europe.   </span></li>
</ul>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);"> </span><strong
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Bespoke
        design and colour matching</strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123); background-color: rgb(255, 255, 255);"> </span>
</p>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">Although
        every effort is made to ensure colours correspond to those in any sample presentations, due to the nature of the
        product supplied, minor variations can occur between samples and finished products.  </span></p>
<p style="text-align: left;"><strong
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Lead
        times and delivery</strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);"> </span>
</p>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">All
        orders are considered individually depending on the nature, complexity and quantity involved. An estimated lead
        time will be provided with the order confirmation. A bespoke jumper for example will take a minimum of 3 months
        from the date of the proposed timeline. All goods are made 100% by hand in the most archaic manner possible,
        therefore a cushion of one month will also be provided to the maker.  Good things take time.  Delivery will be
        by Kuroneko international or local delivery. Depending on customer location.   </span></p>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);"> </span><strong
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Allowances</strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123); background-color: rgb(255, 255, 255);"> </span>
</p>
<p style="text-align: left;"><strong
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">We
        make every effort to ensure that our clients are 100% satisfied with the garment they receive. Due to the nature
        of the product and production it is possible that some flaws may occur. If there are any adjustments required,
        we will do our best to make them so customers are pleased with the end product but some tiny imperfections are
        inevitable in handmade goods.  </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);"> </span>
</p>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">We
        make every effort to ensure that the cloth we produce is of the highest quality and all cloth is inspected
        before dispatch. Due to the nature of the product it is possible that some flaws may occur which cannot be
        mended. Cloth will be supplied with any flaws tagged and an industry standard allowance provided. Allowances are
        given as 0.2m per horizontal flaw and flaw length for vertical flaws. </span></p>
<p style="text-align: left;"><strong
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Claims: All
        garments are carefully inspected prior to despatch. The buyer should also inspect the finished garment carefully
        on arrival. All claims must be reported within 10 business days. Failure to make such claims within the
        specified time constitutes acceptance of the garments and quality thereof.  </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);"> </span>
</p>
<p style="text-align: left;"><strong
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">However,
        Every garment produced in house is subject to free lifetime mending (excluding shipping costs) so if something
        should be damaged with regular use, please contact us and return the garment for repair. We will retain or
        provide yarn for mending free of charge within reason.   </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);"> </span>
</p>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);"> </span><strong
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Returns: </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123); background-color: rgb(255, 255, 255);">No
        return will be accepted without prior written approval from Made To. Unless there is a problem with the goods ,
        i.e. defects, or error on our behalf, the Customer is liable for the cost of return shipment of the goods to
        Made To. </span></p>
<p style="text-align: left;"><span
        style="background-color: rgb(255, 255, 255); color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">A
        return can only be accepted under the following circumstances: </span></p>
<ul>
    <li style="text-align: left;"><span
            style="background-color: transparent; color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9pt;">Bespoke
            product that have been specifically manufactured for the Customer are not returnable unless faulty. </span>
    </li>
    <li style="text-align: left;"><span
            style="background-color: transparent; color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9pt;">Made
            To is notified by email within 7 days of receipt of products. </span></li>
    <li style="text-align: left;"><span
            style="background-color: transparent; color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9pt;">The
            product is returned in the same condition as supplied and products are securely wrapped for transportation.
            The return of products will NOT be accepted after the product has been cut, treated, marked, used and/or
            altered in any way. </span></li>
    <li style="text-align: left;"><span
            style="background-color: transparent; color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9pt;">Made
            To agrees to accept the return. </span></li>
    <li style="text-align: left;"><span
            style="color: windowtext; background-color: transparent; font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9pt;"> </span>
    </li>
</ul>
<p style="text-align: left;"><span
        style="background-color: transparent; color: rgb(125, 125, 123); font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt;">When
        Made To has agreed in writing to accept a return the products are required to be returned within 14 days of the
        written agreement. (If the shipment is international, receipt of shipment and a tracking number is required
        within 14 days   </span></p>
<p style="text-align: left;"><strong
        style="background-color: transparent; font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Liability: </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Please
        be aware that you visit this website at your own risk. Made To is not liable for any damage or loss to your
        computer or data caused by the internet or this website and cannot be held responsible should your computer
        contract any viruses or malware leading to the loss or damage of your computer or any stored data. </span></p>
<p style="text-align: left;"><strong
        style="background-color: transparent; font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Copyright: </strong><span
        style="font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Made
        To owns all copyright and related intellectual property in and relating to this website unless expressed
        otherwise. The content of this website including (but not limited to) the graphics, text, images, audio, video,
        design (including cloth and products) cannot be copied, reproduced, distributed, republished, downloaded,
        displayed, posted or transmitted in any form or by any means without prior written consent from Made
        To.   </span></p>
<p style="text-align: left;"><span
        style="background-color: transparent; font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">Please
        email us at </span><span
        style="background-color: transparent; font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(89, 89, 89);">cassandra@tokyo-made-to</span><span
        style="background-color: transparent; font-family: &quot;EB Garamond&quot;, &quot;EB Garamond_EmbeddedFont&quot;, &quot;EB Garamond_MSFontService&quot;, sans-serif; font-size: 9.5pt; color: rgb(125, 125, 123);">
        with any questions or concerns.   </span></p>
<p><br></p>