<mat-card class="flex flex-col-1 text-gray-700">
    <h1 class="p-2">Leave a comment</h1>

    <form [formGroup]="commentGroup" (ngSubmit)="onSubmit()">
    
      <div class="m-2">
        <div class="mt-2" hintLabel="Min 15 characters: ">
          <p class="text-base text-gray-800">Message</p>
          <textarea matInput #input maxlength="300" formControlName="message" type="text"
            placeholder="Enter a message"
            class="placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded "></textarea>
          <mat-hint class="text-sm" align="end"> {{ input.value.length }}/300</mat-hint>
        </div>
      </div>
      <div class="m-2">
        <div class="mt-10">
          <button #send type="submit" [disabled]="!commentGroup.valid"
            class="h-14  text-sm font-semibold leading-none text-white bg-gray-700 focus:outline-none disabled:bg-gray-400 border rounded hover:bg-gray-800 py-4 w-full"
            mat-raised-button>
            Add Comment
            <mat-icon [svgIcon]="'mat_outline:add'"></mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-card>
