.mainDiv {
      position: relative;
      height: 100%;
      padding: 0px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      content: "";
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: relative !important;
      top: 0 !important;
    }
    .swiper-slide:nth-child(n) {
      width: 70%;
    }

    .swiper-slide:nth-child(2n) {
      width: 70%;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    @media (min-width: 768px) {
      .mainDiv {
        position: relative;
        height: 100%;
        padding: 20px;
        width: 100%;
      }

      .swiper-button-next,
      .swiper-button-prev {
        position: relative;
        height: 40px;
        width: 40px;
      }

      .swiper-slide:nth-child(n) {
        width: 40%;
      }

      .swiper-slide:nth-child(2n) {
        width: 40%;
      }

      .swiper-slide:nth-child(3n) {
        width: 40%;
      }
    }

    @media (min-width: 1536px) {
      .mainDiv {
        position: relative;
        height: 100%;
        padding: 40px;
        width: 100%;
      }

      .swiper-button-next,
      .swiper-button-prev {
        height: 50px;
        width: 50px;
      }

      .swiper-slide:nth-child(n) {
        width: 30%;
      }

      .swiper-slide:nth-child(2n) {
        width: 30%;
      }

      .swiper-slide:nth-child(3n) {
        width: 30%;
      }

      .swiper-slide:nth-child(4n) {
        width: 30%;
      }

      .swiper-slide:nth-child(4n) {
        width: 30%;
      }
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      object-fit: cover;
    }
    @media (max-width: 768px) {
      .set {
        width: 400px;
      }
    }
