// .mat-dialog-content {
//     overflow: hidden;
//     height: auto;
//     padding: 10px;
//     width: 35rem;
//   }

.form-control {
  width: 100%;
}

.mat-dialog-title {
  border-left: solid 10px green;
}

mat-form-field {
  padding: 2px;
  font-size: medium;
  width: 50%;
}



.kanban-card {
  min-width: 450px;
  max-width: 720px;
  width: 100%;
  padding: 3px;
}