<ng-container class="bg-white" *ngIf="wishList$ | async as wishItems">
<div class="2xl:mx-auto 2xl:container md:py-12 py-9 lg:px-20 px-4 md:px-6 flex justify-center items-center flex-col space-y-8">
  <div class="flex items-end justify-between w-full mt-4">
    <div class="flex flex-col sm:flex-row sm:space-x-4">
      <div>
        <p class="text-3xl font-semibold leading-7 tracking-tight text-gray-800 lg:text-4xl lg:leading-9">Wishlist</p>
      </div>
    </div>
    <div class="hidden sm:block md:block">
      <button mat-icon-button (click)="backToHome()"
        class="absolute top-12 mb-20 items-left text-3xl font-semibold text-gray-700 align-middle rounded-lg right-30 btn hover:text-white hover:bg-gray-500 dark:hover:bg-gray-700">
        <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
      </button>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:px-20 md:px-0 md:grid-cols-2 xl:grid-cols-3 w-full justify-items-center gap-x-6 lg:gap-x-8 gap-y-12 xl:gap-y-0">
    <div *ngFor="let item of wishItems">
      <div class="flex w-full flex-col justify-center items-start space-y-4">

          <div class="group relative w-full flex justify-center items-center">
              <img class="w-full hidden lg:block" [src]="item.image" alt="watch-1" />
              <img class="w-full hidden md:block lg:hidden" [src]="item.image" alt="watch-1" />
              <img class="w-full md:hidden"  [src]="item.image" alt="watch-1" />
              <button (click)="onRemoveItem(item.id)" class="z-30 p-2 rounded-full bg-white absolute top-4 right-4 hover:text-red-600 text-gray-600">
                  <svg class="fill-stroke" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 8.75H25" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M12.5 13.75V21.25" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M17.5 13.75V21.25" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M6.25 8.75L7.5 23.75C7.5 24.413 7.76339 25.0489 8.23223 25.5178C8.70107 25.9866 9.33696 26.25 10 26.25H20C20.663 26.25 21.2989 25.9866 21.7678 25.5178C22.2366 25.0489 22.5 24.413 22.5 23.75L23.75 8.75" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M11.25 8.75V5C11.25 4.66848 11.3817 4.35054 11.6161 4.11612C11.8505 3.8817 12.1685 3.75 12.5 3.75H17.5C17.8315 3.75 18.1495 3.8817 18.3839 4.11612C18.6183 4.35054 18.75 4.66848 18.75 5V8.75" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
              </button>
              <button (click)="addToCart(item.product_id, item.id)" class="opacity-0 hover:text-black z-10 group-hover:opacity-100 transition duration-200 absolute bg-white flex justify-center items-center text-center py-3 text-base font-medium leading-4 bottom-8 w-5/6 text-gray-800">Add to cart</button>
              <div class="w-full h-full opacity-0 group-hover:opacity-25 transition duration-200 bg-gradient-to-t z-0 from-gray-800 to-opacity-0 absolute bottom-0"></div>
          </div>
          <div class="text-left">
              <p class="text-sm leading-3 text-gray-600">{{item.category}}</p>
              <h2 class="mt-1 text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-gray-800">{{item.description}}</h2>
          </div>
          <div class="text-left">
              <p class="text-xl font-medium leading-5 text-gray-600">${{item.price}}</p>
          </div>
      </div>
    </div>
  </div>
</div>
</ng-container>
