<!-- side bar -->
<div class="container relative h-screen">
  <aside aria-label="Sidebar">
    <div class="px-3 py-10 text-white bg-gray-700 rounded w-50 dark:bg-gray-800">
      <ul class="space-y-2">
        <ng-container *ngIf="admin === false">
            <li>
              <a routerLink="home" (click)="onClose()"
                class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
                <mat-icon [svgIcon]="'mat_outline:dashboard_customize'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Home</span>
              </a>
            </li>

            <li>
              <a (click)="onShop()"
                class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
                <mat-icon [svgIcon]="'mat_outline:shopping_cart'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Shop</span>
              </a>
            </li>


            <li>
              <a routerLink="blog" (click)="onClose()"
                class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
                <mat-icon (onclick)="onClose()" [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Thoughts</span>
              </a>
            </li>
            <li>
              <a routerLink="collections" (click)="onClose()"
                class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
                <mat-icon [svgIcon]="'mat_outline:shop_2'"></mat-icon>
                <span class="flex-1 ml-3 whitespace-nowrap">Collections</span>
              </a>
            </li>

<!--            <ng-container *ngIf="loggedIn === true">-->
              <li>
                <a (click)="onWishList()"
                  class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
                  <mat-icon [svgIcon]="'heroicons_outline:gift'"></mat-icon>
                  <span class="flex-1 ml-3 whitespace-nowrap">Wish List</span>
                </a>
              </li>
<!--            </ng-container>-->

<!--            <ng-container *ngIf="loggedIn === true">-->
              <li>
                <a (click)="onCart()"
                  class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
                  <mat-icon [svgIcon]="'mat_outline:shopping_cart'"></mat-icon>
                  <span class="flex-1 ml-3 whitespace-nowrap">Shopping Cart</span>
                </a>
              </li>
<!--            </ng-container>-->

            <ng-container *ngIf="admin_login === true">
            <li>
                <a routerLink="admin" (click)="onAdmin()"
                  class="flex items-center p-2 pr-5 font-normal text-gray-300
                  rounded-lg text-1xl grow hover:bg-gray-800
                  dark:hover:bg-gray-700">
                  <mat-icon [svgIcon]="'mat_outline:design_services'"></mat-icon>
                  <span class="flex-1 ml-3 whitespace-nowrap">Maintenance</span>
                </a>
              </li>
            </ng-container>
        </ng-container>


        <ng-container *ngIf="admin === true">
          <li>
            <a routerLink="admin" (click)="onAdmin()"
              class="flex items-center p-2 pr-5 font-normal text-gray-300
              rounded-lg text-1xl grow hover:bg-gray-800
              dark:hover:bg-gray-700">
              <mat-icon [svgIcon]="'mat_outline:design_services'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Main Menu</span>
            </a>
          </li>
          <li>
            <a routerLink="admin/company"
              class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
              <mat-icon [svgIcon]="'mat_outline:dashboard_customize'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Company</span>
            </a>
          </li>

          <li>
            <a routerLink="blog-admin"
              class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
              <mat-icon [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Thoughts</span>
            </a>
          </li>

          <li>
            <a routerLink="admin/inventory"
              class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
              <mat-icon [svgIcon]="'mat_outline:shopping_cart'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Inventory</span>
            </a>
          </li>

          <li>
            <a routerLink="admin/contact-grid"
              class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
              <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Contacts</span>
            </a>
          </li>

          <li>
            <a routerLink="admin/category"
              class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
              <mat-icon (onclick)="onClose()" [svgIcon]="'mat_outline:category'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Category</span>
            </a>
          </li>
          <!-- <li>
            <a routerLink="admin/images"
              class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
              <mat-icon [svgIcon]="'mat_outline:shop_2'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Swipe Images</span>
            </a>
          </li>

          <li>
            <a routerLink="admin/collections" (click)="onClose()"
              class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
              <mat-icon [svgIcon]="'mat_outline:design_services'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Collections</span>
            </a>

          <li>
            <a routerLink="admin/inventory-selection"
              class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
              <mat-icon [svgIcon]="'heroicons_outline:chart-square-bar'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Images</span>
            </a>
          </li>
            </li>-->
          <li>
            <a routerLink="admin/gallery"
              class="flex items-center p-2 pr-5 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
              <mat-icon [svgIcon]="'mat_outline:album'"></mat-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">Images</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </aside>
</div>
