<mat-card class="flex flex-col w-3/8 filter-article m-1">
  <div class="flex-none">
  <ng-container *ngFor="let image of blog.images;">
  <img
      class="h-20 w-20"
      [src]="image.thumbImage"
      alt="Card cover image">
  </ng-container>
</div>
  <div class="flex-1 m-8">
      <div class="mt-4">{{blog.title}}</div>
  </div>
  <div
  cdkDropList
  [cdkDropListData]="blog.images"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let item of blog.images" cdkDrag>{{item}}</div>
</div>
</mat-card>


