  <div class="py-12 px-4">
      <div
        class="mx-auto py-12 lg:px-10 md:px-6 px-4 lg:max-w-[1440px] bg-white md:max-w-[744px] max-w-[375px]"
      >
        <div class="max-w-[842px] w-full mx-auto">
          <div>
            <p
              class="lg:text-4xl text-3xl font-semibold text-center text-gray-800"
            >
              Thank you!<br />Your Order has been received
            </p>
            <p class="text-base text-center text-gray-600 mt-4">
              We will send you a confirmation email once your order is shipped.
            </p>
            <div class="bg-gray-50 mx-auto mt-9 py-6">
              <p
                class="text-2xl font-semibold leading-normal text-gray-800 px-6"
              >
                Order details
              </p>
              <div class="flex justify-between mt-6 px-6">
                <p class="text-base text-gray-600">Order number</p>
                <p class="text-base font-medium text-gray-800">XYZ-024-997</p>
              </div>
              <div class="flex justify-between mt-6 px-6">
                <p class="text-base text-gray-600">Date</p>
                <p class="text-base font-medium text-gray-800">22-02-2022</p>
              </div>
              <div class="flex justify-between mt-6 px-6">
                <p class="text-base text-gray-600">Payment method</p>
                <p class="text-base font-medium text-gray-800">Credit card</p>
              </div>
              <hr class="mt-6" />
              <div class="md:block hidden">
                <div class="flex flex-col items-end w-full">
                  <div class="flex gap-[165px] mt-6 px-6">
                    <p class="text-base text-gray-600">Subtotal</p>
                    <p class="text-base font-medium text-gray-800">$3500</p>
                  </div>
                  <div class="flex justify-between gap-[208px] mt-6 px-6">
                    <p class="text-base text-gray-600">VAT</p>
                    <p class="text-base font-medium text-gray-800">$170</p>
                  </div>
                  <div class="flex gap-[185px] mt-6 px-6">
                    <p class="text-base font-semibold text-gray-800">Total</p>
                    <p class="text-base font-semibold text-gray-800">$3670</p>
                  </div>
                </div>
              </div>
              <div class="md:hidden block">
                <div class="flex justify-between mt-6 px-6">
                  <p class="text-base text-gray-600">Subtotal</p>
                  <p class="text-base font-medium text-gray-800">$3500</p>
                </div>
                <div class="flex justify-between mt-6 px-6">
                  <p class="text-base text-gray-600">VAT</p>
                  <p class="text-base font-medium text-gray-800">$170</p>
                </div>
                <div class="flex justify-between mt-6 px-6">
                  <p class="text-base font-semibold text-gray-800">Total</p>
                  <p class="text-base font-semibold text-gray-800">$3670</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-9 bg-gray-50 py-6 px-6">
            <p class="text-2xl font-semibold leading-normal text-gray-800">
              Products
            </p>
            <div class="flex justify-between">
              <div class="flex gap-4 mt-6">
                <div>
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/cddew.png"
                    alt=""
                    class="md:block hidden"
                  />
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/kkjjnnbb.png"
                    alt=""
                    class="md:hidden block"
                  />
                </div>
                <div>
                  <p class="text-base text-gray-600 md:block hidden">
                    Amazon Beat Box A-48 High Sound Speaker
                  </p>
                  <p class="text-sm font-medium text-gray-800 lg:mt-4 mt-0">
                    Delivery time : 4-5 days
                  </p>
                  <p
                    class="text-base font-semibold text-gray-800 mt-2 lg:hidden md:block block"
                  >
                    $70
                  </p>
                </div>
              </div>
              <div class="lg:mt-6 mt-3 lg:block md:hidden hidden">
                <p class="text-base font-semibold text-gray-800">$70</p>
              </div>
            </div>
            <p class="text-base text-gray-600 md:hidden block mt-4">
              Amazon Beat Box A-48 High Sound Speaker
            </p>
            <div class="flex justify-between mt-8">
              <div class="flex gap-4 mt-6">
                <div>
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/bxcsd.png"
                    alt=""
                    class="md:block hidden"
                  />
                  <img
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/ppmg.png"
                    alt=""
                    class="md:hidden block"
                  />
                </div>
                <div>
                  <p class="text-base text-gray-600 md:block hidden">
                    Luxe Sports A-48 Sneakers collection
                  </p>
                  <p class="text-sm font-medium text-gray-800 lg:mt-4 mt-0">
                    Delivery time : 4-5 days
                  </p>
                  <p
                    class="text-base font-semibold text-gray-800 mt-2 lg:hidden md:block block"
                  >
                    $70
                  </p>
                </div>
              </div>
              <div class="lg:mt-6 mt-3 lg:block md:hidden hidden">
                <p class="text-base font-semibold text-gray-800">$70</p>
              </div>
            </div>
            <p class="text-base text-gray-600 md:hidden block mt-4">
              Luxe Sports A-48 Sneakers collection
            </p>
          </div>
          <div class="md:mt-9 mt-8 py-6 px-6 md:flex justify-between">
            <div class="">
              <p class="text-xl font-medium leading-tight text-gray-800">
                Customer details
              </p>
              <p class="text-base text-gray-600 mt-4">
                Phone:
                <span class="text-base font-medium text-gray-600"></span
                >053-566-908
              </p>
              <p class="text-base text-gray-600 mt-4">
                Email :
                <span class="text-base font-medium text-gray-600"
                  >Shopall@gmail.com</span
                >
              </p>

              <p class="text-xl font-medium leading-tight text-gray-800 mt-6">
                Bank details
              </p>
              <p class="text-base text-gray-600 mt-4">
                Credit card
                <span class="text-base font-medium text-gray-800">
                  ******0978</span
                >
              </p>
            </div>
            <div class="md:mt-0 mt-6">
              <p class="text-xl font-medium leading-tight text-gray-800">
                Customer details
              </p>
              <p class="text-base text-gray-600 mt-4">
                Phone:
                <span class="text-base font-medium text-gray-600"></span
                >053-566-908
              </p>
              <p class="text-base text-gray-600 mt-4">
                Email :
                <span class="text-base font-medium text-gray-600"
                  >Shopall@gmail.com</span
                >
              </p>

              <p class="text-xl font-medium leading-tight text-gray-800 mt-6">
                Bank details
              </p>
              <p class="text-base text-gray-600 mt-4">
                Credit card
                <span class="text-base font-medium text-gray-800">
                  ******0978</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

