<div class="h-screen">
  <app-header [title]="'Collections'"></app-header>
  <div *ngIf="collection$ | async as collections else loading">
    <div class="flex items-center justify-center">
      <div
        class="grid justify-between grid-cols-1 mt-12 sm:grid-cols-1 lg:grid-cols-1 gap-y-12 lg:gap-x-8  lg:gap-y-8  md:grid-cols-3 md:gap-x-4 md:gap-y-10 2xl:flex 2xl:flex-wrap">
        <div *ngFor="let collection of collections ">
           <app-product-card [collection]="collection"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="flex flex-col items-center justify-center h-[800] mt-20">
    <mat-spinner class="text-gray-100 mat-spinner-color" [diameter]="100"></mat-spinner>
    <p class="text-gray-100 text-2xl">Loading...</p>
  </div>
</ng-template>
