<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
  <div
    class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 sm:p-12 md:pl-16  sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <!-- Logo -->

      <div class="w-12">
        <img src="/favicon.ico" />
      </div>
      <!-- Title -->
      <div class="mt-1 text-4xl text-gray-400 font-extrabold tracking-tight leading-tight">
        Sign In
      </div>
      <br>
      <div class="text-gray-400">Signing in will register you as a cinema-tokyo users. </div>
      <app-login class="text-gray-700 justify-center"></app-login>
    </div>
  </div>
</div>
