<div class="absolute inset-0 -px-20 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
  <app-header [title]="'User Profile'"></app-header>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="h-auto   border-gray-300 rounded-2xl">
      <mat-card>
        <mat-tab-group #tabGroup mat-stretch-tabs="false">

          <!-- <ng-container *ngIf="(userService.isLoggedIn$ | async) as loggedin"> -->
            <div *ngIf="!loggedIn">
              <mat-tab label="Sign In">
                <ng-template matTabContent>
                  <sign-in-classic></sign-in-classic>
                </ng-template>
              </mat-tab>
            </div>

            <div *ngIf="loggedIn">
              
              <mat-tab label="Profile Details">
                <ng-template matTabContent>
                  <app-address></app-address>
                </ng-template>
              </mat-tab>
              <mat-tab label="Sign Out">
                <ng-template matTabContent>
                  <sign-out-fullscreen></sign-out-fullscreen>
                </ng-template>
              </mat-tab>
              <mat-tab label="Purchase">
                <ng-template matTabContent>
                  <stripe-checkout></stripe-checkout>
                </ng-template>
              </mat-tab>
            </div>
          <!-- </ng-container> -->
        </mat-tab-group>
      </mat-card>
    </div>

  </div>

</div>