<mat-toolbar class="flex flex-wrap items-center justify-between p-6 text-white bg-teal-500">

  <button mat-icon-button>
    <mat-icon class="w-16 h-16 text-red-800 bg-teal-800 rounded-lg fill-current" [svgIcon]="'feather:activity'">
    </mat-icon>
  </button>

  <div class="flex items-center flex-shrink-0 mr-6 text-white">
    <svg class="w-8 h-8 mr-2 fill-current" width="54" height="54" viewBox="0 0 54 54"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
    </svg>
    <span class="text-3xl tracking-tight">cinema-tokyo</span>
  </div>
  <div class="block lg:hidden">
    <button
      class="flex items-center px-3 py-2 text-teal-200 border border-teal-400 rounded hover:text-white hover:border-white">
      <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>



  <div class="flex-grow block w-full lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="#" class="block mt-4 mr-4 text-teal-200 lg:inline-block lg:mt-0 hover:text-white">
        Docs
      </a>
      <a href="#" class="block mt-4 mr-4 text-teal-200 lg:inline-block lg:mt-0 hover:text-white">
        Examples
      </a>
      <a href="#" class="block mt-4 text-teal-200 lg:inline-block lg:mt-0 hover:text-white">
        Blog
      </a>
    </div>
    <div>
      <a href="#"
        class="inline-block px-4 py-2 mt-4 text-sm leading-none text-white border border-white rounded hover:border-transparent hover:text-teal-500 hover:bg-white lg:mt-0">Download</a>
    </div>
  </div>
  <button class="text-white" (click)="onClickRefresh()" mat-icon-button matTooltip="Refresh Grid" aria-label="menu">
    <mat-icon
      class="inline-block px-4 pt-2.5 pb-2 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex align-center"
      [svgIcon]="'heroicons_outline:menu'"></mat-icon>
    <span class="fill-space">{{inTitle}} : {{inPartyRef}}</span>
  </button>
  <span class="fill-space"></span>
  <button (click)="onClickRefresh()" mat-icon-button matTooltip="Refresh Grid" aria-label="refresh">
    <mat-icon [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
  </button>

  <button (click)="onClickClone()" mat-icon-button matTooltip="Clone" aria-label="clone">
    <mat-icon [svgIcon]="'mat_outline:content_copy'"></mat-icon>
  </button>
  <button (click)="onClickAdd()" mat-icon-button matTooltip="Add" aria-label="Delete">
    <mat-icon class="side-nav__icon" [svgIcon]="'mat_outline:note_add'"></mat-icon>
  </button>
  <button (click)="onClickDelete()" mat-icon-button matTooltip="Delete" aria-label="Delete">
    <mat-icon class="side-nav__icon" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
  </button>
  <button (click)="onClickBackUp()" mat-icon-button matTooltip="BackUp" aria-label="BackUp">
    <mat-icon class="side-nav__icon" [svgIcon]="'mat_outline:cloud_upload'"></mat-icon>
  </button>
  <button (click)="onClickRestore()" mat-icon-button matTooltip="Restore" aria-label="Restore">
    <mat-icon class="side-nav__icon" [svgIcon]="'mat_outline:restore'"></mat-icon>
  </button>
</mat-toolbar>
