<div class="2xl:container 2xl:mx-auto">
    <div class="py-6 text-center bg-gray-50 lg:py-10 md:py-8">
        <p class="w-10/12 mx-auto text-3xl font-semibold leading-9 text-center text-gray-800 md:w-full lg:text-4xl lg:leading-9 md:leading-7">Autumn Collections</p>
    </div>
    <div class="px-4 py-6 lg:px-20 md:px-6">
        <hr class="w-full my-6 bg-gray-200" />
        <div class="grid grid-cols-1 mt-10 lg:grid-cols-4 sm:grid-cols-2 lg:gap-y-12 lg:gap-x-8 sm:gap-y-10 sm:gap-x-6 gap-y-6 lg:mt-12">
            <div class="relative">
                <div class="absolute top-0 left-0 px-4 py-2 bg-white bg-opacity-50"><p class="text-xs leading-3 text-gray-800">New</p></div>
                <div class="relative group">
                    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50"></div>
                    <img class="w-full" src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/cassie_buttons.jpg?alt=media&token=a08f03b1-63e1-44d4-a414-5dedae827937" alt="A girl Posing Image" />
                    <div class="absolute bottom-0 w-full p-8 opacity-0 group-hover:opacity-100">
                        <button class="w-full py-3 text-base font-medium leading-4 text-gray-800 bg-white">Add to bag</button>
                        <button class="w-full py-3 mt-2 text-base font-medium leading-4 text-white bg-transparent border-2 border-white">Quick View</button>
                    </div>
                </div>
                <p class="mt-4 text-xl font-normal leading-5 text-gray-800 md:mt-6">Wilfred Alana Dress</p>
                <p class="mt-4 text-xl font-semibold leading-5 text-gray-800">$1550</p>
                <p class="mt-4 text-base font-normal leading-4 text-gray-600">2 colours</p>
            </div>
            <div class="relative">
                <div class="absolute top-0 right-0 px-2 py-1 bg-white bg-opacity-50"><p class="text-base leading-4 text-white fonr-normal">XS , S , M , L</p></div>
                <div class="relative group">
                    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50"></div>
                    <img class="w-full" src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/cassie_buttons.jpg?alt=media&token=a08f03b1-63e1-44d4-a414-5dedae827937" alt="A girl Posing Image" />
                    <div class="absolute bottom-0 w-full p-8 opacity-0 group-hover:opacity-100">
                        <button class="w-full py-3 text-base font-medium leading-4 text-gray-800 bg-white">Add to bag</button>
                        <button class="w-full py-3 mt-2 text-base font-medium leading-4 text-white bg-transparent border-2 border-white">Quick View</button>
                    </div>
                </div>
                <p class="mt-4 text-xl font-normal leading-5 text-gray-800 md:mt-6">Wilfred Alana Dress</p>
                <p class="mt-4 text-xl font-semibold leading-5 text-gray-800">$1800</p>
            </div>
            <div>
                <div class="relative group">
                    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50"></div>
                    <img class="w-full" src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/cassie_buttons.jpg?alt=media&token=a08f03b1-63e1-44d4-a414-5dedae827937" alt="A girl Posing Image" />
                    <div class="absolute bottom-0 w-full p-8 opacity-0 group-hover:opacity-100">
                        <button class="w-full py-3 text-base font-medium leading-4 text-gray-800 bg-white">Add to bag</button>
                        <button class="w-full py-3 mt-2 text-base font-medium leading-4 text-white bg-transparent border-2 border-white">Quick View</button>
                    </div>
                </div>
                <p class="mt-4 text-xl font-normal leading-5 text-gray-800 md:mt-6">Wilfred Alana Dress</p>
                <p class="mt-4 text-xl font-semibold leading-5 text-gray-800">$1550</p>
                <p class="mt-4 text-base font-normal leading-4 text-gray-600">2 colours</p>
            </div>
            <div>
                <div class="relative group">
                    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50"></div>
                    <img class="w-full" src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/cassie_buttons.jpg?alt=media&token=a08f03b1-63e1-44d4-a414-5dedae827937" alt="A girl Posing Image" />
                    <div class="absolute bottom-0 w-full p-8 opacity-0 group-hover:opacity-100">
                        <button class="w-full py-3 text-base font-medium leading-4 text-gray-800 bg-white">Add to bag</button>
                        <button class="w-full py-3 mt-2 text-base font-medium leading-4 text-white bg-transparent border-2 border-white">Quick View</button>
                    </div>
                </div>

                <p class="mt-4 text-xl font-normal leading-5 text-gray-800 md:mt-6">Flared Cotton Tank Top</p>
                <p class="mt-4 text-xl font-semibold leading-5 text-gray-800">$1800</p>
            </div>
            <div>
                <div class="relative group">
                    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50"></div>
                    <img class="w-full" src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/cassie_buttons.jpg?alt=media&token=a08f03b1-63e1-44d4-a414-5dedae827937" alt="A girl Posing Image" />
                    <div class="absolute bottom-0 w-full p-8 opacity-0 group-hover:opacity-100">
                        <button class="w-full py-3 text-base font-medium leading-4 text-gray-800 bg-white">Add to bag</button>
                        <button class="w-full py-3 mt-2 text-base font-medium leading-4 text-white bg-transparent border-2 border-white">Quick View</button>
                    </div>
                </div>

                <p class="mt-4 text-xl font-normal leading-5 text-gray-800 md:mt-6">Flared Cotton Tank Top</p>
                <p class="mt-4 text-xl font-semibold leading-5 text-gray-800">$1800</p>
            </div>
            <div>
                <div class="relative group">
                    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50"></div>
                    <img class="w-full" src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/cassie_buttons.jpg?alt=media&token=a08f03b1-63e1-44d4-a414-5dedae827937" alt="A girl Posing Image" />
                    <div class="absolute bottom-0 w-full p-8 opacity-0 group-hover:opacity-100">
                        <button class="w-full py-3 text-base font-medium leading-4 text-gray-800 bg-white">Add to bag</button>
                        <button class="w-full py-3 mt-2 text-base font-medium leading-4 text-white bg-transparent border-2 border-white">Quick View</button>
                    </div>
                </div>

                <p class="mt-4 text-xl font-normal leading-5 text-gray-800 md:mt-6">Wilfred Alana Dress</p>
                <p class="mt-4 text-xl font-semibold leading-5 text-gray-800">$1550</p>
                <p class="mt-4 text-base font-normal leading-4 text-gray-600">2 colours</p>
            </div>
            <div>
                <div class="relative group">
                    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50"></div>
                    <img class="w-full" src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/cassie_buttons.jpg?alt=media&token=a08f03b1-63e1-44d4-a414-5dedae827937" alt="A girl Posing Image" />
                    <div class="absolute bottom-0 w-full p-8 opacity-0 group-hover:opacity-100">
                        <button class="w-full py-3 text-base font-medium leading-4 text-gray-800 bg-white">Add to bag</button>
                        <button class="w-full py-3 mt-2 text-base font-medium leading-4 text-white bg-transparent border-2 border-white">Quick View</button>
                    </div>
                </div>

                <p class="mt-4 text-xl font-normal leading-5 text-gray-800 md:mt-6">Flared Cotton Tank Top</p>
                <p class="mt-4 text-xl font-semibold leading-5 text-gray-800">$1800</p>
            </div>
            <div>
                <div class="relative group">
                    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50"></div>
                    <img class="w-full" src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/cassie_scissors_main.jpg?alt=media&token=a560fa5a-a677-4c3a-9f14-1df0d26f979f" alt="A girl Posing Image" />
                    <div class="absolute bottom-0 w-full p-8 opacity-0 group-hover:opacity-100">
                        <button class="w-full py-3 text-base font-medium leading-4 text-gray-800 bg-white">Add to bag</button>
                        <button class="w-full py-3 mt-2 text-base font-medium leading-4 text-white bg-transparent border-2 border-white">Quick View</button>
                    </div>
                </div>

                <p class="mt-4 text-xl font-normal leading-5 text-gray-800 md:mt-6">Flared Cotton Tank Top</p>
                <p class="mt-4 text-xl font-semibold leading-5 text-gray-800">$1800</p>
            </div>
        </div>

        <div class="flex items-center justify-center">
            <button class="w-full py-5 mt-10 text-base font-medium leading-4 text-white bg-gray-800 hover:bg-gray-700 focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 md:px-16 md:w-auto lg:mt-28 md:mt-12">Load More</button>
        </div>
    </div>
</div>

