<div class="flex flex-col items-center justify-center w-full px-4 py-12 2xl:mx-auto 2xl:container xl:px-20 md:px-6">
    <div class="space-y-10 sm:w-96 md:w-8/12 xl:w-full">
        <div class="flex flex-col items-center justify-center space-y-4 text-center">
            <h1 class="text-3xl font-semibold leading-9 text-center text-gray-800 lg:text-4xl">Latest Scissors Fashion Blog</h1>
            <p class="text-base leading-6 text-center text-gray-600 md:leading-4">Dive deep into the world of fashion with our lastest cuts and slices updates.</p>
        </div>
        <div class="flex flex-col items-center justify-center space-y-6 xl:space-y-8">
            <div class="relative w-full">
                <img class="hidden object-cover  xl:block" [src]="fashion_image_1" alt="clothes" />
                <img class="hidden object-cover w-1/8 md:block xl:hidden" [src]="fashion_image_1" alt="clothes" />
                <img class="w-full md:hidden" [src]="fashion_image_1" alt="scissors" />
                <div class="absolute flex flex-col items-start justify-start p-6 text-left bottom-2 md:bottom-8 inset-x-2 md:inset-x-8 xl:left-8 xl:right-1/2 bg-blur md:p-8">
                    <p class="text-sm leading-none text-gray-600">16 September 2022</p>
                    <p class="mt-2 text-2xl font-semibold leading-6 text-gray-800">The Scirrors Tour</p>
                    <p class="mt-4 text-base leading-6 text-gray-600">Read about how your favourite cutters and pruners. You might want to click read story if you want to know their slices secrets.</p>
                    <a href="javascript:void(0)" class="mt-6 text-base font-medium leading-4 text-gray-800 focus:outline-none focus:underline hover:underline">Read Story</a>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center w-full space-y-6 xl:flex-row xl:space-y-0 xl:space-x-8">
                <div class="relative w-full">
                    <img class="hidden object-cover w-full xl:object-contain xl:block" src="https://i.ibb.co/B2yXD4Y/pexels-tanya-satina-6558010.png" alt="girls" />
                    <img class="hidden object-cover w-full md:block xl:hidden" src="https://i.ibb.co/pndL2sx/pexels-tanya-satina-6558010.png" alt="girls" />
                    <img class="w-full md:hidden" src="https://i.ibb.co/FYFnDJN/Group-2233.png" alt="girls" />
                    <div class="absolute flex flex-col items-start justify-start p-6 text-left bottom-2 md:bottom-8 inset-x-2 md:inset-x-8 bg-blur md:p-8">
                        <p class="text-sm leading-none text-gray-600">23 July 2021</p>
                        <p class="mt-2 text-2xl font-semibold leading-6 text-gray-800">The Wardrobe Tour</p>
                        <p class="mt-4 text-base leading-6 text-gray-600">Read about how your favourite celebrities pick their clothing items to have striking appearances. You might want to click read story if you want to know their fashion secrets.</p>
                        <a href="javascript:void(0)" class="mt-6 text-base font-medium leading-4 text-gray-800 focus:outline-none focus:underline hover:underline">Read Story</a>
                    </div>
                </div>
                <div class="relative w-full">
                    <img class="hidden object-cover w-full xl:object-contain xl:block" src="https://i.ibb.co/B4bchqF/flaunter-b-ETVkpm2u-Mw-unsplash-1.png" alt="girl" />
                    <img class="hidden object-cover w-full md:block xl:hidden" src="https://i.ibb.co/NxcL40w/pexels-michelle-leman-6774877.png" alt="girl" />
                    <img class="w-full md:hidden" src="https://i.ibb.co/yWCt1kH/Group-2235.png" alt="girl" />
                    <div class="absolute flex flex-col items-start justify-start p-6 text-left md:bottom-8 bottom-2 inset-x-2 md:inset-x-8 bg-blur md:p-8">
                        <p class="text-sm leading-none text-gray-600">23 July 2021</p>
                        <p class="mt-2 text-2xl font-semibold leading-6 text-gray-800">The Wardrobe Tour</p>
                        <p class="mt-4 text-base leading-6 text-gray-600">Read about how your favourite celebrities pick their clothing items to have striking appearances. You might want to click read story if you want to know their fashion secrets.</p>
                        <a href="javascript:void(0)" class="mt-6 text-base font-medium leading-4 text-gray-800 focus:outline-none focus:underline hover:underline">Read Story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .bg-blur {
        background: linear-gradient(91.25deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 99.82%);
        backdrop-filter: blur(25px);
    }
</style>

