.image_title {
  height: 4rem;
  padding: 2rem;
  border-left: solid 10px #00578e;
  color: white;
  background-color: #b4b7b8;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 16px;
  margin: 1px;
  text-transform: uppercase;
}
.image_title__heading {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left-center;
  background-color: #ebc3d7;
  position: absolute;
  top: 0rem;
  right: 2rem;
  width: 75%;
}

drop_container {
  width: 100%;
  background-color: #832424;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

drop_container .item {
  color: #0e0101;
  font-family: sans-serif;
  font-size: 30px;
  overflow-y: auto;
}
drop_container .item--1 {
  background: #f5f6fa;
}

drop_container .item--2 {
  background: #f5f6fa;
}

drop_container .item--3 {
  background: #f5f6fa;
}

drop_container .item--4 {
  background: #f5f6fa;
}

drop_container .item--5 {
  background: #f5f6fa;
}

.list {
  background: #f5f6fa;
  font-size: 12px;
  overflow: hidden;
  min-height: 100vh;
  display: block;
  margin: 5px;
  align-items: left;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.lesson:last-child {
  border: none;
}

.drag-drop-list.cdk-drop-list-dragging .drag-drop-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.cdk-drop-list {
  padding: 0.5rem;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 500ms cubic-bezier(1, 1, 0.2, 1);
}
.side-drawer {
  width: 600px;
}
.ag-grid-container {
  width: 100%;
  margin: 1px auto;
  background: #f5f6fa;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  min-height: 100vh;
}
.ag-grid-container .item {
  padding: 0px;
  background-color: white;
  font-family: sans-serif;
  font-size: 30px;
  background-color: orangered;
}
.ag-grid-container .item--1 {
  background-color: orangered;
}
.ag-grid-container .item--2 {
  background-color: yellowgreen;
}
.ag-grid-container .item--3 {
  background-color: blueviolet;
}
.ag-grid-container .item--4 {
  background-color: palevioletred;
}
.mat-drawer {
  background: #f5f6fa;
}
.mat-raise-button {
  margin: 5px;
}
.mat-button {
  margin: 5px;
}
.mat-flat-button {
  margin: 5px;
}
.mat-card {
  margin: 10px;
  width: 500px;
}
.mat-radio-button {
  margin: 5px;
}

.list {
  background: rgb(245, 246, 250);
  font-size: 12px;
  overflow: hidden;
  min-height: 100vh;
  display: block;
  margin: 0;
  align-items: left;
}

