<mat-card class="m-4 text-gray-700 max-w-3/8 filter-article filter-interactive">
  <div mat-dialog-title class="text-3xl mb-3" [ngStyle]="{ 'border-left': '10px solid' }">
    {{ sTitle }}
  </div>


  <div mat-dialog-content>
    <form [formGroup]="mainpageGroup" (ngSubmit)="onUpdate(mainpageGroup.value)">
      <mat-form-field class="m-1 flex-start" [ngStyle]="{ width: '99%' }">
        <mat-label>Landing Page Title</mat-label>
        <input matInput placeholder="Landing Page" formControlName="hero_title" />
      </mat-form-field>

      <mat-form-field class="m-1" [ngStyle]="{ width: '99%' }">
        <mat-label>Features Title</mat-label>
        <input matInput placeholder="Feature" formControlName="features_header" />
      </mat-form-field>

      <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '99%' }" >
        <mat-label>Features Description</mat-label>
        <input matInput placeholder="Description " formControlName="features_subheader" />
      </mat-form-field>

      <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '49%' }" >
        <mat-label>Left CTA</mat-label>
        <input matInput placeholder="Call to Action Left" formControlName="cta_left" />
      </mat-form-field>

      <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '49.5%' }" >
        <mat-label>Right CTA</mat-label>
        <input matInput placeholder="Call to Action Right" formControlName="cta_right" />
      </mat-form-field>

      <section>
        <div mat-dialog-title class="font-bold">
          Contact Information
        </div>
        <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '33%' }" >
          <mat-label>eMail</mat-label>
          <input matInput placeholder="Contact Email" formControlName="contact_email" />
        </mat-form-field>

        <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '32%' }" >
          <mat-label>Telephone</mat-label>
          <input matInput placeholder="Telephone" formControlName="contact_telephone" />
        </mat-form-field>

        <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '33%' }" >
          <mat-label>Shipping</mat-label>
          <input matInput placeholder="Shipping Locations" formControlName="contact_shipping" />
        </mat-form-field>
      </section>

      <!-- <mat-radio-group>
        <mat-radio-button class="m-1" value="true">Active</mat-radio-button>
        <mat-radio-button class="m-1" value="false">InActive</mat-radio-button>
      </mat-radio-group> -->

    </form>
  </div>
  <div mat-dialog-actions class="mt-10">
    <button class="m-1" mat-flat-button (click)="onUpdate(mainPage)" color="primary">
      <mat-icon [svgIcon]="'mat_outline:update'"></mat-icon>
      Update Main Page
    </button>
    <button class="m-1" mat-flat-button (click)="onCreate()" color="primary">
      <mat-icon [svgIcon]="'mat_outline:add'"></mat-icon>
      Create Main Page
    </button>
    <!--
    <button class="m-1" mat-icon-button mat-flat-button (click)="onDelete(product)" color="primary"  [disabled]="!adminGroup.valid"        >
      <mat-icon [svgIcon]="'mat_fill:delete'"></mat-icon>
    </button>
    <button class="m-1"  mat-icon-button mat-flat-button (click)="onImages()" color="primary" [disabled]="!adminGroup.valid"  >
      <mat-icon [svgIcon]="'mat_fill:design_services'"></mat-icon>
    </button> -->
  </div>
</mat-card>
