.mat-raise-button {
    margin: 5px;
  }
.mat-button {
    margin: 5px;
  }

.mat-flat-button {
    margin: 5px;
  }

.mat-card {
    margin: 5px;
    width: 100%;
  }

.mat-radio-button {
    margin: 5px;
  }

  table {
    width: 100%;
  }
