<ng-container *ngIf="productItem$ | async as product">
  <div class="flex flex-col mt-10 mr-20 sm:flex-row sm:space-x-4 md:ml-20 sm:ml-2">
    <h1
      class="flex-auto font-bold leading-tight text-gray-800 sm:w-auto font-garamond focus:outline-none text-1x1 md:text-3xl lg:text-4xl dark:text-white">
      {{ product.description }}
    </h1>
    <span class="flex-auto"></span>
    <button mat-icon-button class="invisible bg-gray-300 sm:visible hover:bg-gray-500 hover:text-gray-100"
      (click)="onBackToInventory()" matTooltip="Back to Inventory">
      <mat-icon class="mb-2" [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
    </button>
  </div>

  <mat-card [class.mat-elevation-z8]="true"
            class="flex flex-col m-10 text-gray-700 filter-article filter-interactive">
    <mat-tab-group class="mt-2 items-centered" mat-stretch-tabs="false" (selectedTabChange)="onTabClick($event)">
      <mat-tab class="m-1 text-bold" label="Details">
        <ng-template matTabContent>
          <div mat-dialog-content>
            <form [formGroup]="prdGroup" class="m-2">
              <div class="flex flex-col sm:flex-col">
                <mat-label class="ml-2 text-base">Title</mat-label>
                <mat-form-field class="m-1 grow" appearance="outline">
                  <!--                    <mat-label>Description</mat-label>-->
                  <input matInput placeholder="Description" formControlName="description" />
                </mat-form-field>

                <mat-label class="ml-2 text-base">Short Description</mat-label>
                <mat-form-field class="m-1 grow" appearance="outline">
                  <input matInput placeholder="Short Description" formControlName="short_description" />
                </mat-form-field>

                <div class="flex flex-col md:flex-row grow">
                  <div class="flex flex-col grow">
                    <mat-label class="ml-2 text-base">Brand</mat-label>
                    <mat-form-field class="m-1 form-element" appearance="outline">
                      <input matInput placeholder="Brand" formControlName="brand" />
                    </mat-form-field>
                  </div>

                  <div class="flex flex-col grow">
                    <mat-label class="ml-2 text-base">Price</mat-label>
                    <mat-form-field type='number' class="m-1 form-element grow" appearance="outline">
                      <input matInput placeholder=0 formControlName="price" />
                    </mat-form-field>
                  </div>

                  <div class="flex flex-col grow">
                    <mat-label class="ml-2 text-base">Quantity Increment</mat-label>
                    <mat-form-field type='number' class="m-1 form-element grow" appearance="outline">
                      <input matInput placeholder=1 formControlName="quantity_increment" />
                    </mat-form-field>
                  </div>

                  <div class="flex flex-col grow">
                    <mat-label class="ml-2 text-base">Category</mat-label>
                    <mat-form-field class="m-1 form-element grow" appearance="outline">

                      <mat-select placeholder="Category" formControlName="category"
                                  (selectionChange)="changeCategory($event.value)">
                        <mat-option *ngFor="let p of categories" [value]="p.name">
                          {{ p.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="flex flex-col grow">
                    <mat-label class="ml-2 text-base">Comments</mat-label>
                    <mat-form-field class="m-1 form-element grow" appearance="outline">
                      <input matInput placeholder="Rating" formControlName="rating" />
                    </mat-form-field>
                  </div>
                </div>

                <div class="flex flex-col grow">
                  <mat-label class="ml-2 text-base">Collection</mat-label>
                  <mat-form-field class="m-1 form-element" appearance="outline">

                    <input matInput placeholder="Featured" formControlName="is_featured" />
                  </mat-form-field>
                </div>

                <div class="flex flex-col grow"><mat-label class="ml-2 text-base">User</mat-label>
                  <mat-form-field class="m-1 form-element" appearance="outline">
                    <input matInput placeholder="User" formControlName="user_updated" />
                  </mat-form-field>
                </div>
              </div>
              <mat-checkbox color="primary" formControlName="purchases_allowed">
                Purchases Allowed
              </mat-checkbox>
              <mat-checkbox color="primary" formControlName="quantity_required">
                Quantity Required
              </mat-checkbox>
              <mat-checkbox color="primary" formControlName="is_active">
                Is Active
              </mat-checkbox>
            </form>
          </div>
          <div mat-dialog-actions>
            <button mat-icon-button (click)="onUpdate(prdGroup.value)" color="primary" aria-label="Add" matTooltip="Update Item">
              <mat-icon [svgIcon]="'mat_outline:update'"></mat-icon>
            </button>

            <button (click)="onImages()" mat-icon-button color="primary" matTooltip="Manage Images">
              <mat-icon [svgIcon]="'mat_outline:image'"></mat-icon>
            </button>
            <button (click)="onSweep()" mat-icon-button color="primary" matTooltip="Sweep empty inventory">
              <mat-icon [svgIcon]="'mat_outline:delete_sweep'"></mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(product)" color="primary" [disabled]="!prdGroup.valid"
                    matTooltip="Delete Item">
              <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
            </button>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Description">
        <ng-template matTabContent>
          <!-- <text-editor [valueContent]="para" ></text-editor> -->
          <dx-html-editor
            (valueChange)="onValueChange($event)"
            height="600px" [(value)]="rich_description">
            <dxo-toolbar>
              <dxi-item name="undo"></dxi-item>
              <dxi-item name="redo"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="size" [acceptedValues]="[
                    '8pt',
                    '10pt',
                    '12pt',
                    '14pt',
                    '18pt',
                    '24pt',
                    '36pt'
                  ]"></dxi-item>
              <dxi-item name="font" [acceptedValues]="[
                    'Arial',
                    'Courier New',
                    'Georgia',
                    'Impact',
                    'Times New Roman',
                    'Verdana'
                  ]"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="bold"></dxi-item>
              <dxi-item name="italic"></dxi-item>
              <dxi-item name="strike"></dxi-item>
              <dxi-item name="underline"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="alignLeft"></dxi-item>
              <dxi-item name="alignCenter"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="link"></dxi-item>
              <dxi-item name="image"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="alignRight"></dxi-item>
              <dxi-item name="alignJustify"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="orderedList"></dxi-item>
              <dxi-item name="bulletList"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="header" [acceptedValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="color"></dxi-item>
              <dxi-item name="background"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="link"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="clear"></dxi-item>
              <dxi-item name="codeBlock"></dxi-item>
              <dxi-item name="blockquote"></dxi-item>
            </dxo-toolbar>
          </dx-html-editor>
          <div mat-dialog-actions>
            <button mat-icon-button (click)="onUpdate(prdGroup.value)"
              color="primary"
              aria-label="Update"
              matTooltip="Update Item" >
              <mat-icon [svgIcon]="'mat_outline:update'"></mat-icon>
            </button>

            <button
                mat-icon-button
                (click)="onImages()"
                color="primary"
                matTooltip="Manage Images">
              <mat-icon [svgIcon]="'mat_outline:image'"> </mat-icon>
            </button>

            <button (click)="onSweep()" mat-icon-button color="primary" matTooltip="Sweep empty inventory">
              <mat-icon [svgIcon]="'mat_outline:delete_sweep'"></mat-icon>
            </button>
            <button mat-icon-button
                    (click)="onDelete(product)"
                    color="primary"
                    matTooltip="Delete Item"> <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
            </button>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Images">
        <ng-template matTabContent>
          <inventory-image-selection [productId]="productId"></inventory-image-selection>
        </ng-template>
      </mat-tab>
      <mat-tab label="Preview">
        <ng-template matTabContent>
          <inventory-preview [product]="product"></inventory-preview>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</ng-container>
