.flex-nav {
  color: white;
}

.flex-main {
  display: flex;
  flex: 1;
}

.flex-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: large;
}

.mat-sidenav-container {
  flex: 1;
  /* Hide scrollbars */
}

.flex-header {
  height: 4rem;
}

.flex-article {
  height: 100%;
  color: white;
  min-width: 0;
  flex: 1 0 0;
}

.footer {
  margin-bottom: -50px;
  height: 50px;
  background-color: red;
}


