 <div class="h-screen flex-container">
  <mat-drawer-container class="flex-1 bg-white">
    <mat-drawer class="flex-1 ml-1 bg-gray-100 " #drawer [mode]="'side'" open
      [@onMainContentChange]="onSideNavChange ? 'open' : 'close'">
      <app-sidenav
      (notifyParentDrawerSide)="setDrawerSide()"
      (notifyParentCloseDrawer)="closeDrawer()"
      (notifyNavBarToggleMenu)="onToggleMenu()"
      (notifyParentDrawerOpen)="openDrawer()">
      </app-sidenav>
    </mat-drawer>
    <main class="text-gray-800 bg-white rounded-lg max-h-content flex-main">
      <article class="bg-white flex-article">
        <ng-content >

        </ng-content>
      </article>
    </main>
  </mat-drawer-container>
  <footer class="mt-auto bg-gray-100 -mb-50px">
    <app-footer></app-footer>
  </footer>
</div>





