 <div class="h-screen flex-container max-w-screen-2xl">
  <mat-drawer-container class="flex-1 bg-fixed  bg-opacity-75 bg-[url('/assets/films_b_and_w.jpg')]">
  
    <mat-drawer class="flex-1 ml-1" #drawer [mode]="'side'" open
      [@onMainContentChange]="onSideNavChange ? 'open' : 'close'">
      <app-sidenav
      (notifyParentDrawerSide)="setDrawerSide()"
      (notifyParentCloseDrawer)="closeDrawer()"
      (notifyNavBarToggleMenu)="onToggleMenu()"
      (notifyParentDrawerOpen)="openDrawer()">
      </app-sidenav>
    </mat-drawer>
    <main class="text-gray-800 bg-transparent rounded-lg max-h-content flex-main">
      <article class="bg-transparent flex-article">
        <ng-content >

        </ng-content>
      </article>
    </main>

  </mat-drawer-container>
  <footer class="mt-auto bg-gray-100">
    <app-footer></app-footer>
  </footer>
</div>





