<div class="flex justify-start items-start py-10 px-4 md:px-6 ">
    <p class="text-4xl font-garamond font-semibold leading-9 text-gray-800"> Bespoke Knitting </p>
    <button
      mat-icon-button
      (click)="onBackToLanding()"
      class="absolute text-gray-700 top-12 mb-20 items-left text-3xl font-semibold align-middle rounded-lg right-30 btn hover:text-white hover:bg-gray-500 dark:hover:bg-gray-800"
    >
      <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
    </button>
</div>

  <div class="2xl:mx-auto 2xl:container mx-4 py-16">
    <div class="w-full relative flex items-center justify-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/400%2FKNITTING_400x400.JPG?alt=media&token=cf00b285-19ea-43d3-9d3d-1f0c6c56748e"
        alt="knitting"
        class="w-full h-full absolute z-0 hidden xl:block"
      />
      <img
      src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/KNITTING.JPG?alt=media&token=11e599c2-e544-44e0-bbbf-bd9d6e1938df"

        alt="knitting"
        class="w-full h-full absolute z-0 hidden sm:block xl:hidden"
      />
      <img
      src="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/KNITTING.JPG?alt=media&token=11e599c2-e544-44e0-bbbf-bd9d6e1938df"

        alt="knitting"
        class="w-full h-full absolute z-0 sm:hidden"
      />
      <div
        class="bg-gray-800 bg-opacity-80 md:my-16 lg:py-16 py-10 w-full md:mx-24 md:px-12 px-4 flex flex-col items-center justify-center relative z-40"
      >
        <h1 class="text-4xl font-semibold leading-9 text-white text-center">
          Bespoke Knitting
        </h1>
        <p class="text-base leading-normal text-center text-white mt-6">
          We create beautiful bespoke knitted wear to meet your exact requirements. <br />

        </p>
        <div
          class="sm:border border-white flex-col sm:flex-row flex items-center lg:w-5/12 w-full mt-12 space-y-4 sm:space-y-0"
        >
          <input
            class="border border-white sm:border-transparent text-base w-full font-medium leading-none text-white p-4 focus:outline-none bg-transparent placeholder-white"
            placeholder="Email Address"
          />
          <button
            class="focus:outline-none text-gray-800 focus:ring-offset-2 focus:ring border border-white sm:border-transparent w-full sm:w-auto bg-white py-4 px-6 hover:bg-opacity-75"
          >
            Contact
          </button>
        </div>
      </div>
    </div>
</div>

<highlight></highlight>
