
<app-header [title]="'Bespoke Knitting'" ></app-header>

<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0 rounded">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2 lg-rounded w-auto h-auto">
      <img class="w-full max-w-fit object-cover lg:h-full" ngSrc="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/uploaded%2F800%2F29420545-7353-424F-AF69-47166EE90914_800x800.JPG?alt=media&token=92df0c55-d61d-443c-9244-552364bd7f41" width="800" height="800" alt="" >
    </div>
  </div>
  <div class="relative px-4 pt-12 pb-16 sm:px-6 sm:pt-16 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div class="lg:col-start-2 lg:pl-8">
      <div class="mx-auto max-w-prose text-base lg:ml-auto lg:mr-0 lg:max-w-lg">
        <h3 class="font-garamond mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Our Process</h3>
        <p class="mt-8 text-lg text-gray-500"></p>
        <div class="font-garamond mt-5 text-gray-500">
          <p>Cassandra Harada has been knitting and making garments with natural fibers for over 22 years.</p>
          <p>She has been designing for publications like “Keitodama” and contributing to seasonal collections for yarn companies like Jamieson’s of Shetland for 15 years.   While designing patterns for original knitwear is a joy, Cassandra really prefers to work with singular customers who are in need of something specific to suit their needs.</p>
          <p>Contact Cassandra @ <a> <button (click)="onContacts()"><strong>Contacts</strong></button></a>
            or at cassandra@tokyo-made-to.com to discuss your needs and schedule a fitting.</p>
          <p>Garments can also be made from measurements or sending a well loved item that fits, in order to achieve a specific shape and silhouette.</p>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
