
    <div class="px-4 py-12">
      <div
        class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] w-full lg:px-10 md:px-6 px-4 py-12 bg-white mx-auto"
      >
        <p
          class="text-3xl font-semibold leading-9 text-center text-gray-800 lg:text-4xl"
        >
          Shopping Cart
        </p>
        <div class="hidden lg:block">
          <div class="grid grid-cols-6 gap-5 mt-8">
            <p
              class="col-span-2 text-lg font-medium leading-tight text-gray-600 lg:text-xl"
            >
              Product
            </p>
            <p
              class="text-lg font-medium leading-tight text-gray-600 lg:pl-0 pl-28 lg:text-xl"
            >
              Quantity
            </p>
            <p
              class="hidden text-xl font-medium leading-tight text-gray-600 lg:block"
            >
              Remove
            </p>
            <p
              class="text-lg font-medium leading-tight text-gray-600 lg:text-xl"
            >
              Price
            </p>
            <p
              class="text-lg font-medium leading-tight text-gray-600 lg:text-xl"
            >
              Total
            </p>
          </div>
          <hr class="mt-6" />

          <div class="grid grid-cols-6 gap-5 mt-8">
            <div class="">
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/redddddfgg.png"
                alt="wooden stool"
                role="img"
              />
            </div>
            <div class="col-span-1 lg:text-xl">
              <p
                class="font-semibold leading-normal text-gray-800 xl:text-2xl lg:text-lg"
              >
                Nike Air Force 1
              </p>
              <p class="text-sm leading-normal text-gray-600 xl:mt-10 lg:mt-2">
                Color: <span class="font-medium"> Red Black</span>
              </p>
              <p class="mt-2 text-sm leading-normal text-gray-600">
                Delivery: <span class="font-medium"> Time: 2 days</span>
              </p>
              <p
                class="mt-2 text-base font-medium leading-none text-gray-800 cursor-pointer hover:underline"
              >
                See details
              </p>
            </div>
            <div>
              <p class="mt-2 text-base leading-none text-gray-600">
                Quantity : 1
              </p>
            </div>
            <div>
              <p
                class="mt-2 text-base font-medium text-red-500 cursor-pointer hover:underline"
              >
                Remove
              </p>
            </div>
            <div>
              <p
                class="mt-2 text-base font-semibold leading-none text-gray-800"
              >
                $210
              </p>
            </div>
            <div>
              <p class="mt-2 text-xl font-medium text-gray-800">$450</p>
            </div>
          </div>
          <hr class="mt-6" />
          <div class="grid grid-cols-6 gap-5 mt-8">
            <div class="">
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/%3Bo.png"
                alt="wooden stool"
                role="img"
              />
            </div>
            <div class="col-span-1 lg:text-xl">
              <p
                class="font-semibold leading-normal text-gray-800 xl:text-2xl lg:text-lg"
              >
                Yeezy 700
              </p>
              <p class="text-sm leading-normal text-gray-600 xl:mt-10 lg:mt-2">
                Color: <span class="font-medium">Energy Green</span>
              </p>
              <p class="mt-2 text-sm leading-normal text-gray-600">
                Delivery: <span class="font-medium"> Time: 2 days</span>
              </p>
              <p
                class="mt-2 text-base font-medium leading-none text-gray-800 cursor-pointer hover:underline"
              >
                See details
              </p>
            </div>
            <div>
              <p class="mt-2 text-base leading-none text-gray-600">
                Quantity : 2
              </p>
            </div>
            <div>
              <p
                class="mt-2 text-base font-medium text-red-500 cursor-pointer hover:underline"
              >
                Remove
              </p>
            </div>
            <div>
              <p class="text-base font-semibold leading-none text-gray-800">
                $120
              </p>
            </div>
            <div>
              <p class="mt-2 text-xl font-medium text-gray-800">$360</p>
            </div>
          </div>
          <hr class="mt-6" />
          <div class="grid grid-cols-6 gap-5 mt-8">
            <div class="">
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/bvczf.png"
                alt="wooden stool"
                role="img"
              />
            </div>
            <div class="col-span-1 lg:text-xl">
              <p
                class="font-semibold leading-normal text-gray-800 xl:text-2xl lg:text-lg"
              >
                Nike Air Jordan `1
              </p>
              <p class="text-sm leading-normal text-gray-600 xl:mt-10 lg:mt-2">
                Color: <span class="font-medium"> Red Black</span>
              </p>
              <p class="mt-2 text-sm leading-normal text-gray-600">
                Delivery: <span class="font-medium"> Time: 2 days</span>
              </p>
              <p
                class="mt-2 text-base font-medium leading-none text-gray-800 cursor-pointer hover:underline"
              >
                See details
              </p>
            </div>
            <div>
              <p class="mt-2 text-base leading-none text-gray-600">
                Quantity: 3
              </p>
            </div>
            <div>
              <p
                class="mt-2 text-base font-medium text-red-500 cursor-pointer hover:underline"
              >
                Remove
              </p>
            </div>
            <div>
              <p class="text-base font-semibold leading-none text-gray-800">
                $190
              </p>
            </div>
            <div>
              <p class="mt-2 text-xl font-medium text-gray-800">$380</p>
            </div>
          </div>
        </div>

        <div class="block lg:hidden">
          <div class="mt-6">
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/789.png"
              alt=""
              class="hidden lg:hidden md:block"
            />
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/erw3r.png"
              alt="pro"
              class="block lg:hidden md:hidden"
            />
            <div class="flex flex-col mt-4">
              <div class="flex items-center justify-between">
                <div class="w-full">
                  <div class="flex justify-between">
                    <p
                      class="text-2xl font-semibold leading-normal text-gray-800"
                    >
                      Nike Air Force 1
                    </p>

                    <p class="mt-2 text-xl font-medium text-gray-800">$450</p>
                  </div>
                  <p class="mt-3 text-sm leading-normal text-gray-600">
                    Color: <span class="font-medium"> Red Black</span>
                  </p>
                  <p class="mt-3 text-sm leading-normal text-gray-600">
                    Delivery: <span class="font-medium"> Time: 2 days</span>
                  </p>
                  <p class="mt-3 text-sm leading-normal text-gray-600">
                    Quantity 1:
                  </p>
                </div>
              </div>
              <div class="items-center justify-between md:flex">
                <div class="flex items-center mt-4 space-x-6">
                  <p
                    class="block text-base font-medium leading-none text-gray-800 hover:underline lg:hidden"
                  >
                    See details
                  </p>
                  <p
                    class="text-base font-medium text-red-500 cursor-pointer hover:underline"
                  >
                    Remove
                  </p>
                </div>
                <div class="flex gap-8 mt-6 md:mt-0">
                  <p class="text-base font-medium leading-none text-gray-800">
                    TOTAL:
                  </p>
                  <p class="text-base font-semibold leading-none text-gray-800">
                    $210
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="mt-6" />
          <div class="mt-6">
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/centerrrrrr.png"
              alt=""
              class="hidden lg:hidden md:block"
            />
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/09787.png"
              alt="pro"
              class="block lg:hidden md:hidden"
            />

            <div class="flex flex-col mt-4">
              <div class="flex items-center justify-between">
                <div class="w-full">
                  <div class="flex justify-between">
                    <p
                      class="text-2xl font-semibold leading-normal text-gray-800"
                    >
                      Yeezy 700
                    </p>

                    <p class="mt-2 text-xl font-medium text-gray-800">$120</p>
                  </div>
                  <p class="mt-3 text-sm leading-normal text-gray-600">
                    Color: <span class="font-medium"> Energy Green</span>
                  </p>
                  <p class="mt-3 text-sm leading-normal text-gray-600">
                    Delivery: <span class="font-medium"> Time: 2 days</span>
                  </p>
                  <p class="mt-3 text-sm leading-normal text-gray-600">
                    Quantity : 2
                  </p>
                </div>
              </div>
              <div class="items-center justify-between md:flex">
                <div class="flex items-center mt-4 space-x-6">
                  <p
                    class="block text-base font-medium leading-none text-gray-800 hover:underline lg:hidden"
                  >
                    See details
                  </p>
                  <p
                    class="text-base font-medium text-red-500 cursor-pointer hover:underline"
                  >
                    Remove
                  </p>
                </div>
                <div class="flex gap-8 mt-6 md:mt-0">
                  <p class="text-base font-medium leading-none text-gray-800">
                    TOTAL:
                  </p>
                  <p class="text-base font-semibold leading-none text-gray-800">
                    $360
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="mt-6" />
          <div class="mt-6">
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/456.png"
              alt=""
              class="hidden lg:hidden md:block"
            />
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/lkhjgh.png"
              alt="pro"
              class="block lg:hidden md:hidden"
            />
            <div class="flex flex-col mt-4">
              <div class="flex items-center justify-between">
                <div class="w-full">
                  <div class="flex justify-between">
                    <p
                      class="text-2xl font-semibold leading-normal text-gray-800"
                    >
                      Nike Air Jordan `1
                    </p>

                    <p class="mt-2 text-xl font-medium text-gray-800">$190</p>
                  </div>
                  <p class="mt-3 text-sm leading-normal text-gray-600">
                    Color: <span class="font-medium"> Red Black</span>
                  </p>
                  <p class="mt-3 text-sm leading-normal text-gray-600">
                    Delivery: <span class="font-medium"> Time: 2 days</span>
                  </p>
                  <p class="mt-3 text-sm leading-normal text-gray-600">
                    Quantity : 3
                  </p>
                </div>
              </div>
              <div class="items-center justify-between md:flex">
                <div class="flex items-center mt-4 space-x-6">
                  <p
                    class="block text-base font-medium leading-none text-gray-800 hover:underline lg:hidden"
                  >
                    See details
                  </p>
                  <p
                    class="text-base font-medium text-red-500 cursor-pointer hover:underline"
                  >
                    Remove
                  </p>
                </div>
                <div class="flex gap-8 mt-6 md:mt-0">
                  <p class="text-base font-medium leading-none text-gray-800">
                    TOTAL:
                  </p>
                  <p class="text-base font-semibold leading-none text-gray-800">
                    $380
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="mt-6" />
        </div>

        <div
          class="flex-row-reverse justify-end gap-4 mt-6 lg:px-10 md:px-6 md:mt-14 lg:mt-10 lg:flex lg:flex-row"
        >
          <button
            class="flex border border-gray-300 lg:max-w-[296px] w-full justify-center py-3 gap-2 items-center"
          >
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.37996 12.5448C6.25329 12.5448 6.12663 12.4981 6.02663 12.3981L1.97996 8.35146C1.78663 8.15812 1.78663 7.83812 1.97996 7.64479L6.02663 3.59812C6.21996 3.40479 6.53996 3.40479 6.73329 3.59812C6.92663 3.79146 6.92663 4.11146 6.73329 4.30479L3.03996 7.99812L6.73329 11.6915C6.92663 11.8848 6.92663 12.2048 6.73329 12.3981C6.63996 12.4981 6.50663 12.5448 6.37996 12.5448Z"
                fill="#1F2937"
              />
              <path
                d="M13.6663 8.5H2.44629C2.17296 8.5 1.94629 8.27333 1.94629 8C1.94629 7.72667 2.17296 7.5 2.44629 7.5H13.6663C13.9396 7.5 14.1663 7.72667 14.1663 8C14.1663 8.27333 13.9396 8.5 13.6663 8.5Z"
                fill="#1F2937"
              />
            </svg>

            <p class="text-base font-medium leading-none text-gray-800">
              Back to shopping
            </p>
          </button>
          <button
            class="text-base font-medium border border-gray-300 lg:max-w-[296px] w-full justify-center py-3 gap-2 bg-gray-800 hover:bg-gray-700 transition duration-300 text-white lg:mt-0 md:mt-6 mt-4"
          >
            Checkout
          </button>
        </div>
      </div>
    </div>
  
