
<section class="mb-32 text-center text-gray-800">

        <h2 class="pb-4 mb-12 text-3xl font-bold text-center">Latest articles</h2>

        <div class="grid gap-6 lg:grid-cols-3 xl:gap-x-12">
            <div class="mb-6 lg:mb-0">
                <div class="relative block bg-white rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative mx-4 -mt-4 overflow-hidden bg-no-repeat bg-cover rounded-lg shadow-lg"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/024.webp" class="w-full" />
                            <a href="#!">
                                <div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full overflow-hidden transition duration-300 ease-in-out bg-fixed opacity-0 hover:opacity-100"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="p-6">
                        <h5 class="mb-3 text-lg font-bold">My paradise</h5>
                        <p class="mb-4 text-gray-500">
                            <small>Published <u>13.01.2022</u> by
                                <a href="" class="text-gray-900">Anna Maria Doe</a></small>
                        </p>
                        <p class="pb-2 mb-4">
                            Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                            placerat vulputate. Ut vulputate est non quam dignissim
                            elementum. Donec a ullamcorper diam.
                        </p>
                        <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light"
                            class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Read
                            more</a>
                    </div>
                </div>
            </div>

            <div class="mb-6 lg:mb-0">
                <div class="relative block bg-white rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative mx-4 -mt-4 overflow-hidden bg-no-repeat bg-cover rounded-lg shadow-lg"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/031.webp" class="w-full" />
                            <a href="#!">
                                <div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full overflow-hidden transition duration-300 ease-in-out bg-fixed opacity-0 hover:opacity-100"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="p-6">
                        <h5 class="mb-3 text-lg font-bold">Travel to Italy</h5>
                        <p class="mb-4 text-gray-500">
                            <small>Published <u>12.01.2022</u> by
                                <a href="" class="text-gray-900">Halley Frank</a></small>
                        </p>
                        <p class="pb-2 mb-4">
                            Suspendisse in volutpat massa. Nulla facilisi. Sed aliquet
                            diam orci, nec ornare metus semper sed. Integer volutpat
                            ornare erat sit amet rutrum.
                        </p>
                        <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light"
                            class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Read
                            more</a>
                    </div>
                </div>
            </div>

            <div class="mb-0">
                <div class="relative block bg-white rounded-lg shadow-lg">
                    <div class="flex">
                        <div class="relative mx-4 -mt-4 overflow-hidden bg-no-repeat bg-cover rounded-lg shadow-lg"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/081.webp" class="w-full" />
                            <a href="#!">
                                <div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full overflow-hidden transition duration-300 ease-in-out bg-fixed opacity-0 hover:opacity-100"
                                    style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="p-6">
                        <h5 class="mb-3 text-lg font-bold">Chasing the sun</h5>
                        <p class="mb-4 text-gray-500">
                            <small>Published <u>10.01.2022</u> by
                                <a href="" class="text-gray-900">Joe Svan</a></small>
                        </p>
                        <p class="pb-2 mb-4">
                            Curabitur tristique, mi a mollis sagittis, metus felis mattis
                            arcu, non vehicula nisl dui quis diam. Mauris ut risus eget
                            massa volutpat feugiat. Donec.
                        </p>
                        <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light"
                            class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Read
                            more</a>
                    </div>
                </div>
            </div>
        </div>    
</section>


<!-- Section: Design Block -->
<!-- <div class="px-6 py-20 2xl:mx-auto 2xl:container xl:px-20 lg:px-10">
    <div class="justify-center lg:flex">
        <div class="2xl:w-7/12 lg:w-8/12 md:w-10/12">
            <img src="https://i.ibb.co/ZY43FRd/blog-1-desktop.png" alt="fingerprint recognition" class="w-auto lg:w-full" />
            <div class="mt-4">
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <p class="text-base leading-4 text-gray-500">5 feb</p>
                        <p class="ml-12 text-base leading-none text-gray-500">5 min read</p>
                    </div>
                    <div class="flex items-center">
                        <svg width="64" height="2" viewBox="0 0 64 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M64 1H0" stroke="#6B7280" />
                        </svg>
                        <p class="ml-2 text-base leading-none text-gray-500">Jeff Bill</p>
                    </div>
                </div>
                <h1 class="mt-4 text-2xl font-semibold text-gray-800 lg:text-3xl">Chip fingerprint technology for secure transaction</h1>
                <p class="mt-2 text-base leading-6 text-gray-600">The emerge of internet of Things has brought in, rather urgently, a need for low-cost security technology. While passwords and other such forms of encription are software base, there is also a need for security level</p>
            </div>
        </div>
        <div class="flex flex-col items-center justify-between w-full lg:ml-6 lg:mt-0 mt-7 2xl:w-3/12 lg:w-4/12 lg:flex-col sm:flex-row">
            <div class="lg:w-auto sm:w-1/2">
                <img src="https://i.ibb.co/d6jQJyY/blog-2-desktop.png" alt="flying letters" class="w-full" />
                <div class="mt-4">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <p class="text-base leading-4 text-gray-500">5 feb</p>
                            <p class="ml-12 text-base leading-none text-gray-500">5 min read</p>
                        </div>
                        <div class="flex items-center">
                            <svg width="64" height="2" viewBox="0 0 64 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M64 1H0" stroke="#6B7280" />
                            </svg>
                            <p class="ml-2 text-base leading-none text-gray-500">Jeff Bill</p>
                        </div>
                    </div>
                    <h1 class="mt-4 text-2xl font-semibold leading-6 text-gray-800">Internet of things</h1>
                    <p class="mt-2 text-base leading-6 text-gray-600">The emerge of internet of Things has brought in a need for low-cost security technology.</p>
                </div>
            </div>
            <div class="mt-6 lg:mt-6 sm:mt-0 lg:ml-0 sm:ml-6 lg:w-auto sm:w-1/2">
                <img src="https://i.ibb.co/9cN11LT/blog-3-desktop.png" alt="robotic arm" class="w-full" />
                <div class="mt-4">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <p class="text-base leading-4 text-gray-500">5 feb</p>
                            <p class="ml-12 text-base leading-none text-gray-500">5 min read</p>
                        </div>
                        <div class="flex items-center">
                            <svg width="64" height="2" viewBox="0 0 64 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M64 1H0" stroke="#6B7280" />
                            </svg>
                            <p class="ml-2 text-base leading-none text-gray-500">Jeff Bill</p>
                        </div>
                    </div>
                    <h1 class="mt-4 text-2xl font-semibold leading-6 text-gray-800">Internet of things</h1>
                    <p class="mt-2 text-base leading-6 text-gray-600">The emerge of internet of Things has brought in a need for low-cost security technology.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->


