<nav class="relattive flex-auto p-2 sm:p-6">
  <div class="text-center  text-gray-400 mr-20 text-right">{{emailName}}</div>
  <div class="items-center justify-between sm:space-x-10 sm:my-6">
    <div class="flex flex-row sm:flex-row sm:space-x-4 sm:mr-20 sm:mt-10 sm:ml-2 bg-white">
      <div class="block">
        <a (click)="onToggleSideNav()" matTooltip="Toggle Navigation"
          class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-700 hover:text-gray-100 dark:hover:bg-gray-100">
          <mat-icon [svgIcon]="'mat_outline:menu'"></mat-icon>
        </a>
      </div>
      <h1
        class="flex-col inline-block align-middle sm:ml-4 sm:w-auto font-garamond focus:outline-none font-bold text-3xl lg:text-4xl  text-gray-800 dark:text-white">
        {{ title }}
      </h1>
      <span class="flex-auto"></span>


      <div class="hidden md:block">
        <a (click)="onBack()" matTooltip="Back"
          class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-700 hover:text-gray-100 dark:hover:bg-gray-100">
          <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
        </a>
      </div>

      <div class="hidden md:block">
        <a (click)="onHome()" matTooltip="Home"
          class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-700 hover:text-gray-100 dark:hover:bg-gray-100">
          <mat-icon [svgIcon]="'mat_outline:dashboard_customize'"></mat-icon>
        </a>
      </div>

      <div class="hidden md:block">
        <a (click)="onThoughts()" matTooltip="Thoughts"
          class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl hover:bg-gray-700 hover:text-gray-100  dark:hover:bg-gray-700">
          <mat-icon [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
        </a>
      </div>

      <div class="hidden md:block">
        <a (click)="onCollections()" matTooltip="Special Collections"
          class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl  hover:bg-gray-700 hover:text-gray-100 dark:hover:bg-gray-700">
          <mat-icon [svgIcon]="'mat_outline:shop_2'"></mat-icon>
        </a>
      </div>

      <div class="hidden md:block">
        <a (click)="onShop()" matTooltip="Shop"
          class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl  grow hover:bg-gray-700 hover:text-gray-100  dark:hover:bg-gray-700">
          <mat-icon [svgIcon]="'mat_outline:shopping_basket'"></mat-icon>
        </a>
      </div>

      <div class="hidden md:block">
        <a (click)="openWishList()" matTooltip="Wish List"
          class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-700 hover:text-gray-100  dark:hover:bg-gray-700">
          <mat-icon [matBadge]=wishCount [matBadgeHidden]="wishCount===0"
            [svgIcon]="'heroicons_outline:gift'"></mat-icon>
        </a>
      </div>

      <div class="hidden md:block">
        <a (click)="openShoppingCart()" matTooltip="Shopping Cart"
          class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-700 hover:text-gray-100  dark:hover:bg-gray-700">
          <mat-icon [matBadge]=cartCount [matBadgeHidden]="cartCount===0"
            [svgIcon]="'mat_outline:shopping_cart'"></mat-icon>
        </a>
      </div>

      <div class="hidden md:block">
        <a (click)="onProfile()" matTooltip="Toggle Navigation" matTooltip="User Profile"
          class="flex items-center p-2 font-normal text-gray-700 rounded-lg text-1xl grow hover:bg-gray-700 hover:text-gray-100 dark:hover:bg-gray-100">
          <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
        </a>
      </div>
    </div>
    <div class="flex flex-col ml-5 sm:flex-row md:ml-10 mr-20 mt-1 sm:ml-10 bg-white">
      <ng-container>
        <h1 *ngIf="sub_title != undefined"
          class="flex-col inline-block align-middle sm:w-auto font-garamond focus:outline-none font-bold text-1xl sm:text-2xl text-gray-500 dark:text-white">
          {{ sub_title }}
        </h1>
        <span class="flex-auto"></span>
      </ng-container>
    </div>
  </div>
</nav>