<ng-container *ngIf="statuses | async as partyGql">
    <div class="ag-grid-container">
        <mat-drawer-container>
            <mat-drawer #drawer [opened]="false" mode="side" [position]="'end'" [disableClose]="false">
                <mat-card>
                    <h1 mat-dialog-title>Status Update</h1>
                    <div mat-dialog-content>
                        <form [formGroup]="formGroup" #myForm="ngForm">
                            <mat-form-field>
                                <input matInput placeholder="Type" required formControlName="status" />
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Description" required formControlName="description" />
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Update User" formControlName="updateusr" />
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Update Date" formControlName="updatedte" />
                            </mat-form-field>
                        </form>
                    </div>

                    <div mat-dialog-actions>
                        <button mat-button (click)="onUpdate()" [disabled]="!myForm.form.valid" mat-flat-button
                            color="primary">
                            Update
                        </button>

                        <button mat-button (click)="onCreate()" [disabled]="!myForm.form.valid" mat-flat-button
                            color="primary">
                            Insert
                        </button>

                        <button mat-button (click)="onDelete()" [disabled]="!myForm.form.valid" mat-flat-button
                            color="primary">
                            Delete
                        </button>

                        <button mat-button (click)="onCloseDrawer()" mat-flat-button color="warn">
                            Close
                        </button>
                    </div>
                </mat-card>
            </mat-drawer>
            <mat-drawer-content>
                <grid [cols]="cols" [rows]="partyGql" (notifyFileUpload)="onFileUpload($event)"
                    (notifyOpenDialog)="onNotify($event)">
                </grid>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</ng-container>