<mat-card>
  <div mat-dialog-title class="h-10 m-2">  {{ sTitle }} </div>
  <mat-tab-group #tabGroup mat-stretch-tabs="false">
    <mat-tab label="Inventory Details">
      <ng-template matTabContent>
        <div mat-dialog-content>
          <form [formGroup]="prdGroup" (ngSubmit)="onUpdate(prdGroup.value)" class="form" >

            <mat-form-field [ngStyle]="{ width: '100%' }" >
              <input matInput placeholder="Description" formControlName="description" />
            </mat-form-field>

            <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }" >
              <mat-label>Brand</mat-label>
              <input matInput placeholder="Brand" formControlName="brand" />
            </mat-form-field>

            <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
              <mat-label>Price</mat-label>
              <input matInput placeholder="Price" formControlName="price" />
            </mat-form-field>

            <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
              <mat-label>Category</mat-label>
              <mat-select placeholder="Category" formControlName="category"
                (selectionChange)="changeCategory($event.value)">
                <mat-option *ngFor="let p of categories" [value]="p.name">
                  {{ p.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }" >
              <mat-label>Rating</mat-label>
              <input matInput placeholder="Rating" formControlName="rating" />
            </mat-form-field>

            <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }" >
              <mat-label>Collection</mat-label>
              <input matInput placeholder="Featured" formControlName="is_featured" />
            </mat-form-field>

            <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }" >
              <mat-label>User</mat-label>
              <input matInput placeholder="User" formControlName="user_updated" />
            </mat-form-field>

            <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }" >
              <mat-label>Date Added</mat-label>
              <input matInput placeholder="Created Date" type="date" id="date_created"
                formControlName="date_created" />
            </mat-form-field>

            <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }" >
              <mat-label>Date Updated</mat-label>
              <input matInput placeholder="Updated Date" type="date" id="date_updated"
                formControlName="date_updated" />
            </mat-form-field>
          </form>
        </div>
        <div mat-dialog-actions>
          <button mat-icon-button  (click)="onUpdate(product)" color="primary" aria-label="Add">
            <mat-icon [svgIcon]="'mat_outline:update'"></mat-icon>
          </button>
          <button mat-icon-button  (click)="onCreate()" color="primary"
            [disabled]="!prdGroup.valid">
            <mat-icon [svgIcon]="'mat_outline:add'"></mat-icon>
          </button>
          <button mat-icon-button  (click)="onDelete(product)" color="primary"
            [disabled]="!prdGroup.valid">
            <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
          </button>
          <button mat-icon-button  (click)="closeDrawer()" color="warn">
            <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
          </button>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Detailed Description">
      <ng-template matTabContent>
        <!-- <text-editor [valueContent]="para" ></text-editor> -->
        <dx-html-editor height="600px" [(value)]="rich_description">
          <dxo-toolbar>
            <dxi-item name="undo"></dxi-item>
            <dxi-item name="redo"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="size" [acceptedValues]="[
                '8pt',
                '10pt',
                '12pt',
                '14pt',
                '18pt',
                '24pt',
                '36pt'
              ]"></dxi-item>
            <dxi-item name="font" [acceptedValues]="[
                'Arial',
                'Courier New',
                'Georgia',
                'Impact',
                'Lucida Console',
                'Tahoma',
                'Times New Roman',
                'Verdana'
              ]"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="bold"></dxi-item>
            <dxi-item name="italic"></dxi-item>
            <dxi-item name="strike"></dxi-item>
            <dxi-item name="underline"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="alignLeft"></dxi-item>
            <dxi-item name="alignCenter"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="link"></dxi-item>
            <dxi-item name="image"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="alignRight"></dxi-item>
            <dxi-item name="alignJustify"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="orderedList"></dxi-item>
            <dxi-item name="bulletList"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="header" [acceptedValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="color"></dxi-item>
            <dxi-item name="background"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="link"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="clear"></dxi-item>
            <dxi-item name="codeBlock"></dxi-item>
            <dxi-item name="blockquote"></dxi-item>
          </dxo-toolbar>
        </dx-html-editor>
      </ng-template>
    </mat-tab>
    <mat-tab label="Inventory Images">
      <ng-template matTabContent>
        <app-gallery-lightbox [galleryData]="imageArray" [showCount]="true">
        </app-gallery-lightbox>

        <div mat-dialog-actions class="mt-10">
          <button class="m-1" (click)="onImages()" mat-flat-button color="primary" aria-label="Add">
            <mat-icon [svgIcon]="'mat_outline:upload'"></mat-icon>
            Upload Images
          </button>

          <button class="m-1" (click)="onImages()" mat-flat-button color="primary" aria-label="Add">
            <mat-icon [svgIcon]="'mat_outline:image'"></mat-icon>
            Select Images
          </button>
        </div>
        <br />
        <p>
          Each image should have four 400x400 picture of the item.
          Importing an image will create a 400px imagine automatically.
        </p>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
