<ng-container *ngIf="productItem$ | async as product">
  <mat-toolbar class="w-full text-4xl font-bold pt-20 pl-20 pr-20">
    <mat-toolbar-row>
      <span class="font-garamond">{{ product.description }}</span>
      <span class="flex-auto"></span>
      <button mat-icon-button class="bg-gray-300 hover:bg-gray-500 hover:text-gray-100" (click)="onBackToInventory()">
        <mat-icon class="mb-2" [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <ng-container *ngIf="sub_title != undefined">
        <p class="text-xl text-gray-600 xl:w-7/12 mx-auto xl:mx-0">
          {{ sub_title }}
        </p>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="flex items-center justify-center w-full pl-20 pr-20">
  <mat-card class="flex flex-col w-full text-gray-700 filter-article filter-interactive">
    <mat-tab-group #tabGroup mat-stretch-tabs="false">
      <mat-tab label="Details">
        <ng-template matTabContent>
          <div mat-dialog-content>
            <form [formGroup]="prdGroup" (ngSubmit)="onUpdate(prdGroup.value)" class="form">

              <mat-form-field [ngStyle]="{ width: '97%' }">
                <input matInput placeholder="Description" formControlName="description" />
              </mat-form-field>

              <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
                <mat-label>Brand</mat-label>
                <input matInput placeholder="Brand" formControlName="brand" />
              </mat-form-field>

              <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
                <mat-label>Price</mat-label>
                <input matInput placeholder="Price" formControlName="price" />
              </mat-form-field>

              <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
                <mat-label>Category</mat-label>
                <mat-select placeholder="Category" formControlName="category"
                  (selectionChange)="changeCategory($event.value)">
                  <mat-option *ngFor="let p of categories" [value]="p.name">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
                <mat-label>Rating</mat-label>
                <input matInput placeholder="Rating" formControlName="rating" />
              </mat-form-field>

              <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
                <mat-label>Collection</mat-label>
                <input matInput placeholder="Featured" formControlName="is_featured" />
              </mat-form-field>

              <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
                <mat-label>User</mat-label>
                <input matInput placeholder="User" formControlName="user_updated" />
              </mat-form-field>

              <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
                <mat-label>Date Added</mat-label>
                <input matInput placeholder="Created Date" type="date" id="date_created"
                  formControlName="date_created" />
              </mat-form-field>

              <mat-form-field class="m-1 form-element" [ngStyle]="{ width: '48%' }">
                <mat-label>Date Updated</mat-label>
                <input matInput placeholder="Updated Date" type="date" id="date_updated"
                  formControlName="date_updated" />
              </mat-form-field>
            </form>
          </div>
          <div mat-dialog-actions>
            <button mat-icon-button (click)="onUpdate()" color="primary" aria-label="Add">
              <mat-icon [svgIcon]="'mat_outline:update'"></mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(product)" color="primary" [disabled]="!prdGroup.valid">
              <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
            </button>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Description">
        <ng-template matTabContent>
          <!-- <text-editor [valueContent]="para" ></text-editor> -->
          <dx-html-editor height="600px" [(value)]="rich_description">
            <dxo-toolbar>
              <dxi-item name="undo"></dxi-item>
              <dxi-item name="redo"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="size" [acceptedValues]="[
                '8pt',
                '10pt',
                '12pt',
                '14pt',
                '18pt',
                '24pt',
                '36pt'
              ]"></dxi-item>
              <dxi-item name="font" [acceptedValues]="[
                'Arial',
                'Courier New',
                'Georgia',
                'Impact',
                'Lucida Console',
                'Tahoma',
                'Times New Roman',
                'Verdana'
              ]"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="bold"></dxi-item>
              <dxi-item name="italic"></dxi-item>
              <dxi-item name="strike"></dxi-item>
              <dxi-item name="underline"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="alignLeft"></dxi-item>
              <dxi-item name="alignCenter"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="link"></dxi-item>
              <dxi-item name="image"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="alignRight"></dxi-item>
              <dxi-item name="alignJustify"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="orderedList"></dxi-item>
              <dxi-item name="bulletList"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="header" [acceptedValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="color"></dxi-item>
              <dxi-item name="background"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="link"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="clear"></dxi-item>
              <dxi-item name="codeBlock"></dxi-item>
              <dxi-item name="blockquote"></dxi-item>
            </dxo-toolbar>
          </dx-html-editor>
        </ng-template>
      </mat-tab>
      <mat-tab label="Images">
        <ng-template matTabContent>
          <image-selection [images]="imageArray" [productId]="productId"></image-selection>
        </ng-template>
      </mat-tab>
      <mat-tab label="Preview">
        <ng-template matTabContent>
          <inventory-preview [inventoryImages]="imageArray" [product]="product"></inventory-preview>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
</ng-container>
