.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.images-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.list {
  flex-direction: column;
  width: 100%;
  border: dashed 1px rgb(81, 50, 139);
  background: rgb(245, 246, 250);
  font-size: 10px;
  overflow: hidden;
  display: flex;
  margin: 0;
  align-items: left;
}

.cdk-drop-list {
  padding: 0.5rem;
}

.cdk-drag-preview {
  box-sizing: border-box;
   border-radius: 4px;
   box-shadow: 8px 8px 10px 1px rgba(155, 34, 34, 0.14)
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 500ms cubic-bezier(0.2, 0.2, 0.2, 0.2);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 500ms cubic-bezier(1, 1, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
