
<div class="h-screen">
  <mat-drawer-container>
    <mat-drawer-content>
      <div cdkDropListGroup class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-6 gap-1 w-full">
        <!-- NOT_USED -->
        <div class="col-start-1 col-span-5  lg-rounded" cdkScrollable>
          <div class="sticky m-1 h-8 text-left p-1  bg-gray-200 top-0 z-50">All Images</div>
          <div cdkDropList [id]="IN_NOT_USED" [cdkDropListData]="not_usedImages" (cdkDropListDropped)="drop($event)">
            <div class="flex flex-wrap">
              <div *ngFor="let item of not_usedImages" cdkDrag>
                <div class="flex-none object-cover p-1">
                  <img  (dblclick)="onAddImage(item)"
                  class="hover:cursor-pointer h-[150px] w-[150px] object-cover object-center max-w-sm rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30 "
                  [ngSrc]="item.imageSrc200" [alt]="item.caption" width="150" height="150">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-start-2 md:col-start-6 col-span-1 rounded-lg" cdkScrollable>
          <div class="sticky m-1 h-8 text-center p-1  bg-gray-200 top-0 z-50">Images</div>
          <div cdkDropList [id]="blogId" [cdkDropListData]="blogImages"  (cdkDropListDropped)="drop($event)">
            <div class="flex flex-wrap blog-list list">
              <div *ngFor="let item of blogImages" cdkDrag>
                <div class="flex-none object-cover p-1 ">
                  <img [ngSrc]="item.imageSrc200" [alt]="item.caption" class="hover:cursor-pointer w-full md:h-[150px] md:w-[150px] object-cover object-center items-center max-w-sm rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30 " width="300" height="300">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
