<nav [@divState]="state">
  <ul class="flex bg-gray-800 f">
    <li>
      <a href="#"
        class="flex items-center p-2 text-2xl font-normal text-gray-300 rounded-lg hover:bg-gray-800 dark:hover:bg-gray-700">
        <mat-icon [svgIcon]="'mat_outline:dashboard'"></mat-icon>
        <span class="ml-3">Dashboard and Home</span>
      </a>
      <mat-nav-list>
        <app-nav-list-item *ngFor="let item of navItems" [item]="item">
        </app-nav-list-item>
      </mat-nav-list>
  </ul>
  <div class="legal">&copy; 2021 Broadridge Financial Solutions, Inc.</div>
</nav>
