
<app-header class="bg-gray-100" [title]="'Follow Us'"></app-header>
<div class="container max-w-6xl px-6 mx-auto my-16 text-gray-900 md:px-0"></div>
  <!-- Creations Header -->
<app-tw-lightbox></app-tw-lightbox>

<ng-container *ngIf="featuredList$ | async as galleryList">
 <section class="scroll-mt-20" id="gallery">

    <div class="container px-6 mx-auto my-16 text-gray-900 max-w-7xl md:px-0">
      <div class="flex items-center justify-center px-4 py-1 2xl:contianer 2xl:mx-auto lg:px-4 md:px-4">
        <div
          class="flex flex-col items-start space-y-5 md:w-auto lg:flex-row lg:justify-center lg:items-center lg:space-x-2">
          <div class="flex flex-col items-start justify-start space-y-2">
            <h1 class="text-xl leading-5 text-gray-800 md:text-2xl lg:text-4xl md:leading-6 lg:leading-9 font-garamond">
              Social Media</h1>
            <p class="text-base max-w-[280px] leading-2 text-gray-600">To see what we’re making in the atelier today,
              please have a look at our social media!</p>
            <a class="pb-px text-lg text-gray-600 border-transparent leading-2 hover:bg-gray-600 hover:text-gray-900 hover:rounded"
              href="https://www.facebook.com/profile.php?id=100083068317439">@Facebook</a>
            <a class="text-lg text-gray-600 border-transparent leading-2 m-1pb-px hover:bg-gray-600 hover:text-gray-900 hover:rounded"
              href="https://www.instagram.com/made.to.atelier/">@made.to.atelier</a>
            <a class="pb-px text-lg text-gray-600 leading-2 hover:bg-gray-600 hover:text-gray-900 hover:rounded"
              href="https://www.instagram.com/cassandra_harada/">@cassandra_harada</a>
          </div>
          <div class="flex items-center justify-center">
            <app-gallery [imageCollection]="galleryList"></app-gallery>
          </div>

        </div>
      </div>
    </div>
  </section>

</ng-container>

