<ng-container *ngIf="featuredList$ | async as galleryList">
  <app-header class="bg-white" [title]="'Image Gallery'"></app-header>
  <div>
    <!-- <iframe class="embed-responsive-item h-[800px] w-full p-20"
      src="https://www.youtube.com/embed/vlDzYIIOYmM?enablejsapi=1&amp;origin=https%3A%2F%2Fmdbootstrap.com"
      allowfullscreen="" data-gtm-yt-inspected-2340190_699="true" id="240632615">
    </iframe> -->
  </div>
  <div class="bg-white">
    <!-- <app-tw-lightbox class="hidden" [imageCollection]="galleryList"></app-tw-lightbox> -->
    <div class="px-6 mx-auto text-gray-900 max-w-7xl md:px-0 h-[1000px]">
      <div class="flex items-center justify-center grow">
        <div
          class="flex flex-col items-start space-y-5 md:w-auto lg:flex-row lg:justify-center lg:items-center lg:space-x-2">

          <div class="flex items-center justify-center grow">
            <app-gallery [imageCollection]="galleryList"></app-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="embed-responsive embed-responsive-21by9 relative w-2/3 content-center overflow-hidden"
  style="padding-top: 42.857143%">
    <iframe
    class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
    src="https://www.youtube.com/embed/vlDzYIIOYmM?enablejsapi=1&amp;origin=https%3A%2F%2Fmdbootstrap.com"
    allowfullscreen=""
    data-gtm-yt-inspected-2340190_699="true"
    id="240632615"></iframe>
    </div> -->

</ng-container>
