/* You can add global styles to this file, and also import other style files */
@import "~firebaseui/dist/firebaseui.css";

::-webkit-scrollbar {
  width: 0px;
  height: 2px;
  overflow-y: scroll;
  overflow-x: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #00578e;
  border-radius: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Garamond";
  src: url("assets/inter/CormorantGaramond-Regular.ttf");
}

.mdc-notched-outline__notch
{
  border-right: none;
}

#hero {
  background-image: url('assets/films_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  float: left;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  height: 5rem;
  width: 10rem;
  /* overflow: hidden; */
  text-indent: 100%;
  white-space: nowrap;
  background-size: 80% auto;
  background-position: 5px center;
  background-repeat: no-repeat;
}


