<app-header [title]="'Data Policy'"></app-header>
<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0 rounded m-10">
    <div class="text-gray-700">
<h1 class="test-bold">Data Protection Policy</h1>

<p>Policy prepared by:             	        	        	Cassandra Harada (Made To) </p>

<h2>Introduction</h2>

<p>The purpose of the this document is to explain the use and policy of data which is used by Made To in the application.
Made To needs to gather and use certain information about individuals. 


These can include customers, suppliers, business contacts, employees and other people the organisation has a relationship with or may need to contact.

This policy describes how this personal data will be collected, handled and stored to meet the company&rsquo;s data protection standards &mdash; and to comply with the law.</p>

<h2>Necessity of a Data Policy</h2>

<li>Complies with data protection law and follow good practice</li>

<li>Protects the rights of customers and partners</li>

<li>Is open about how it stores and processes individuals&rsquo; data</li>

<li>Protects itself from the risks of a data breach</li>
<br>

<h2>Data protection law</h2>

<p>The Japanese APPI regulation (adopted on May 30, 2017) describes how organisations &mdash; including Made To &mdash; must collect, handle and store personal information. These rules apply regardless of whether data is stored electronically, on paper or on other materials. To comply with the law, personal information must be collected and used fairly, stored safely and not disclosed unlawful</p>
<br>

<p>The General Data Protection Regulation is underpinned by eight important principles. These say that personal data must :</p>
<li>Be processed fairly and lawfully</li>
<li>Be obtained only for specific, lawful purpoose</li>
<li>Be adequate, relevant and not excessive</li>
<li>Be accurate and kept up to date</li>
<li>Not be held for any longer than necessary</li>
<li>Processed in accordance with the rights of data subjects</li>
<li>Be protected in appropriate ways</li>
<li>Not be transferred outside of Japan, unless that country or territory also ensures an adequate level of protection</li>
<br>
<h2 class="mt-2">People, risks and responsibilities</h2>

<h2>Policy scope</h2>

<p>This policy applies to:</p>

<li>The head office of Made To</li>

<li>All branches of Made To</li>

<li>All staff and volunteers of Made To</li>

<li>All contractors, suppliers and other people working on behalf of Made To</li>

<li>It applies to all data that the company holds relating to living individuals, even if that information technically falls outside of the General Data Protection Regulation 2016/679. This can include:</li>

<p>Names of individuals</p>

<p>Postal addresses</p>

<p>Email addresses</p>

<p>Telephone numbers</p>

<p>&#8230;plus any other information relating directly or indirectly to individuals</p>

<p>Data protection risks</p>

<p>This policy helps to protect Made To from some very real data security risks, including:</p>

<p>Breaches of confidentiality. For instance, information being given out inappropriately.</p>

<p>Failing to offer choice. For instance, all individuals should be free to choose how the company uses data relating to them.</p>

<p>Reputational damage. For instance, the company could suffer if hackers successfully gained access to sensitive data.</p>
  
<h2>Responsibilities</h2>

<p>Everyone who works for or with Made To has some responsibility for ensuring data is collected, stored and handled appropriately.</p>

<p>Each team that handles personal data must ensure that it is handled and processed in line with this policy and data protection principles.</p>

<p>However, these people have key areas of responsibility:</p>

<p>The Tech Head, Murray Toews is ultimately responsible for ensuring that Made To meets its legal obligations.</p>

<p>The Data Protection Officer, Murray Toews is responsible for:</p>

<p>Keeping the board updated about data protection responsibilities, risks and issues.</p>

<p>Reviewing all data protection procedures and related policies, in line with an agreed schedule.</p>

<p>Arranging data protection training and advice for the people covered by this policy.</p>

<p>Handling data protection questions from staff and anyone else covered by this policy.</p>

<p>Dealing with requests from individuals to see the data Made To holds about them (also called &lsquo;subject access requests&rsquo;).</p>

<p>Checking and approving any contracts or agreements with third parties that may handle the company&rsquo;s sensitive data.</p>

<p>The IT manager, Murray Toews, is responsible for:</p>

<p>Ensuring all systems, services and equipment used for storing data meet acceptable security standards.</p>

<p>Performing regular checks and scans to ensure security hardware and software is functioning properly.</p>

<p>Evaluating any third-party services the company is considering using to store or process data. For instance, cloud computing services.</p>

<p>The marketing manager, Murray Toews, is responsible for:</p>

<p>Approving any data protection statements attached to communications such as emails and letters.</p>

<p>Addressing any data protection queries from journalists or media outlets like newspapers.</p>

<p>Where necessary, working with other staff to ensure marketing initiatives abide by data protection principles.</p>

<p>General staff guidelines</p>

<p>The only people able to access data covered by this policy should be those who need it for their work.</p>

<p>Data should not be shared informally. When access to confidential information is required, employees can request it from their line managers.</p>

<p>Made To will provide training to all employees to help them understand their responsibilities when handling data.</p>

<p>Employees should keep all data secure, by taking sensible precautions and following the guidelines below.</p>

<p>In particular, strong passwords must be used and they should never be shared.</p>

<p>Personal data should not be disclosed to unauthorised people, either within the company or externally.</p>

<p>Data should be regularly reviewed and updated if it is found to be out of date. If no longer required, it should be deleted and disposed of.</p>

<p>Employees should request help from their line manager or the data protection officer if they are unsure about any aspect of data protection.</p>

<h1>Data storage</h1>

<p>These rules describe how and where data should be safely stored. Questions about storing data safely can be directed to the IT manager or data controller.</p>

<p>When data is stored on paper, it should be kept in a secure place where unauthorised people cannot see it.</p>

<p>These guidelines also apply to data that is usually stored electronically but has been printed out for some reason:</p>

<p>When not required, the paper or files should be kept in a locked drawer or filing cabinet.</p>

<p>Employees should make sure paper and printouts are not left where unauthorised people could see them, like on a printer.</p>

<p>Data printouts should be shredded and disposed of securely when no longer required.</p>

<p>When data is stored electronically, it must be protected from unauthorised access, accidental deletion and malicious hacking attempts:</p>

<p>Data should be protected by strong passwords that are changed regularly and never shared between employees.</p>

<p>If data is stored on removable media (like a CD or DVD), these should be kept locked away securely when not being used.</p>

<p>Data should only be stored on designated drives and servers, and should only be uploaded to an approved cloud computing services.</p>

<p>Servers containing personal data should be sited in a secure location, away from general office space.</p>

<p>Data should be backed up frequently. Those backups should be tested regularly, in line with the company&rsquo;s standard backup procedures.</p>

<p>Data should never be saved directly to laptops or other mobile devices like tablets or smart phones.</p>

<p>All servers and computers containing data should be protected by approved security software and a firewall.</p>

<p>Data use</p>

<p>Personal data is of no value to Made To unless the business can make use of it. However, it is when personal data is accessed and used that it can be at the greatest risk of loss, corruption or theft:</p>

<p>When working with personal data, employees should ensure the screens of their computers are always locked when left unattended.</p>

<p>Personal data should not be shared informally. In particular, it should never be sent by email, as this form of communication is not secure.</p>

<p>Data must be encrypted before being transferred electronically. The IT manager can explain how to send data to authorised external contacts.</p>

<p>Personal data should never be transferred outside of the Japanese Economic Area.</p>

<p>Employees should not save copies of personal data to their own computers. Always access and update the central copy of any data.</p>

<p>Data accuracy</p>

<p>The law requires Made To to take reasonable steps to ensure data is kept accurate and up to date.</p>

<p>The more important it is that the personal data is accurate, the greater the effort Made To should put into ensuring its accuracy.</p>

<p>It is the responsibility of all employees who work with data to take reasonable steps to ensure it is kept as accurate and up to date as possible.</p>

<p>Data will be held in as few places as necessary. Staff should not create any unnecessary additional data sets.</p>

<p>Staff should take every opportunity to ensure data is updated. For instance, by confirming a customer&rsquo;s details when they call.</p>

<p>Made To will make it easy for data subjects to update the information Made To holds about them. For instance, via the company website.</p>

<p>Data should be updated as inaccuracies are discovered. For instance, if a customer can no longer be reached on their stored telephone number, it should be removed from the database.</p>

<p>It is the marketing manager&rsquo;s responsibility to ensure marketing databases are checked against industry suppression files every six months.</p>

<p>Subject access requests</p>

<p>All individuals who are the subject of personal data held by Made To are entitled to:</p>

<p>Ask what information the company holds about them and why.</p>

<p>Ask how to gain access to it.</p>

<p>Be informed how to keep it up to date.</p>

<p>Be informed how the company is meeting its data protection</p>

<p>obligations.</p>

<p>If an individual contacts the company requesting this information, this is called a subject access request.</p>

<p>Subject access requests from individuals should be made by email, addressed to the data controller at [email address]. The data controller can supply a standard request form, although individuals do not have to use this.</p>

<p>Individuals cannot be charged to honour a subject access request. The data controller will aim to provide the relevant data within 30 days.</p>

<p>The data controller will always verify the identity of anyone making a subject access request before handing over any information.</p>

<p>Disclosing data for other reasons</p>

<p>In certain circumstances, the APPI allows personal data to be disclosed to law enforcement agencies without the consent of the data subject.</p>

<p>Under these circumstances, Made To will disclose requested data. However, the data controller will ensure the request is legitimate, seeking assistance from the board and from the company&rsquo;s legal advisers where necessary.</p>

<p>Providing information</p>

<p>Made To aims to ensure that individuals are aware that their data is being processed, and that they understand:</p>

<p>How the data is being used</p>

<p>How to exercise their rights</p>

<p>To these ends, the company has a privacy statement, setting out how data relating to individuals is used by the company.</p>

      </div>
  </div>
</div>


