<div class="flex-container">
  <header class="m-1 bg-gray-700 flex-header">
    <mat-toolbar class="text-white bg-gray-700 rounded-lg">
      <button class="transition hover:rotate-180" [ngClass]="{ clicked: isClicked }" type="button"
        (click)="onToggleMenu()" mat-icon-button matTooltip="Toggle Side Nav" aria-label="Toggle">
        <mat-icon id="icon" (click)="doAnimate()" [ngClass]="{ animate: doAnimation }" class="side-nav__icon"
          [svgIcon]="'heroicons_outline:menu'">
        </mat-icon>
      </button>
      <span class="mb-2 logo" routerLink="/home"></span>
      <span class="flex flex-1 text-2xl"></span>

      <div class="sm:visible xl:visible md:visible lg:visible">
        <a routerLink="home" matTooltip="Home"
          class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
          <mat-icon [svgIcon]="'mat_outline:dashboard_customize'"></mat-icon>
        </a>
      </div>
      <div class="sm:visible xl:visible md:visible lg:visible">
        <a routerLink="shop" matTooltip="Shopping"
          class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
          <mat-icon [svgIcon]="'mat_outline:shopping_basket'"></mat-icon>
        </a>
      </div>
      <div class="sm:visible  xl:visible md:visible lg:visible">
        <a routerLink="blog" matTooltip="Thoughts"
          class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
          <mat-icon [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
        </a>
      </div>
      <div class="sm:visible  xl:visible md:visible lg:visible">
        <a routerLink="collections" matTooltip="Special Collections"
          class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl pr- grow hover:bg-gray-800 dark:hover:bg-gray-700">
          <mat-icon [svgIcon]="'mat_outline:shop_2'"></mat-icon>
        </a>
      </div>

      <div *ngIf="isLoggedIn">
        <div class="sm:visible  xl:visible md:visible lg:visible">
          <a routerLink="shop/payment" matTooltip="Shopping Cart"
            class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
            <mat-icon [svgIcon]="'mat_outline:shopping_cart'"></mat-icon>
          </a>
        </div>
      </div>

      <div *ngIf="!isLoggedIn">
        <!-- <a routerLink="/authentication/sign-in/split-screen" matTooltip="Log In" -->
        <a routerLink="/authentication/sign-in/classic" matTooltip="Log In"
          class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
          <mat-icon [svgIcon]="'mat_outline:login'"></mat-icon>
        </a>
      </div>

      <div *ngIf="isLoggedIn">
        <a routerLink="/authentication/sign-out/fullscreen" matTooltip="Log Out"
          class="flex items-center p-2 font-normal text-gray-300 rounded-lg text-1xl grow hover:bg-gray-800 dark:hover:bg-gray-700">
          <mat-icon [svgIcon]="'mat_outline:logout'"></mat-icon>
        </a>
      </div>

    </mat-toolbar>
  </header>
  <mat-sidenav-container class="flex-1">
    <mat-sidenav class="ml-1 bg-gray-700 rounded-lg " #drawer mode="over" closed
      [@onMainContentChange]="onSideNavChange ? 'open' : 'close'">
      <app-sidenav (notifyParentCloseDrawer)="closeDrawer()"></app-sidenav>
    </mat-sidenav>
    <main class="ml-2 mr-1 text-gray-800 bg-gray-100 rounded-lg flex-main">
      <article class="flex-article">
        <ng-content>

        </ng-content>
      </article>
    </main>
  </mat-sidenav-container>
</div>
