<div class="flex min-h-full ml-20 mr-20">
  <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <!-- Logo -->
      <div class="w-12">
        <img src="/favicon.ico" />
      </div>

      <!-- Title -->
   
      <!-- <div class="flex items-baseline mt-0.5 font-medium text-gray-400">
        <div>Don't have an account?</div>
        <a class="ml-1 text-gray-500 hover:underline" [routerLink]="['/sign-up']">Sign up
        </a>
      </div> -->

      <!-- Alert -->
      <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{ alert.message }}
      </fuse-alert>

      <!-- Sign in form -->
      <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
        <!-- Email field -->
        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight text-gray-400">
          Sign Out
        </div>


        <p><br></p>
        <h2 class="text-gray-400">Signing out will take you back to the home page. </h2>
         <!-- Submit button -->
        <button class="fuse-mat-button-large w-full mt-6  bg-gray-800 text-gray-100 hover:text-gray-800 hover:bg-gray-100 hover:border-gray-800" mat-flat-button
          [disabled]="signInForm.disabled" (click)="signOut()">
          <span *ngIf="!signInForm.disabled"> Complete Sign Out </span>
          <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'">
          </mat-progress-spinner>
        </button>

        <!-- Separator -->
        <!-- <div class="flex items-center mt-8">
          <div class="flex-auto mt-px border-t"></div>
          <div class="mx-2 text-gray-600">Or continue with :</div>
          <div class="flex-auto mt-px border-t"></div>
        </div> -->

        <!-- <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"

        [disabled]="signInForm.disabled" (click)="signUpEmail()">
        <span *ngIf="!signInForm.disabled"> Registration </span>
        <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </button> -->


        <!-- Single sign-on buttons -->
        <!-- <div class="flex items-center mt-8 space-x-4">
          <button class="flex-auto" type="button" mat-stroked-button>
            <mat-icon class="icon-size-5" [svgIcon]="'feather:facebook'"></mat-icon>
          </button>
          <button class="flex-auto" type="button" mat-stroked-button>
            <mat-icon class="icon-size-5" [svgIcon]="'feather:twitter'"></mat-icon>
          </button>
          <button class="flex-auto" type="button" mat-stroked-button>
            <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
          </button>
        </div> -->
      </form>
    </div>
  </div>

</div>

