<app-header [title]="'Ready to Wear'"></app-header>

<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
    <div class="absolute top-0 bottom-0 left-3/4 hidden w-screen bg-gray-50 lg:block"></div>
    <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="text-lg font-semibold text-indigo-600"></h2>
        <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl"></h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:col-start-2 lg:row-start-1">
        <!-- <svg class="absolute top-0 right-0 -mt-20 -mr-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
        </svg> -->
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img class="rounded-lg object-cover object-center shadow-lg"
                ngSrc="https://firebasestorage.googleapis.com/v0/b/made-to-cassie.appspot.com/o/800%2F73E845C7-9390-48D5-BFA5-D38BE3510D28_800x800.jpeg?alt=media&token=395dbdaf-fd01-48d8-af10-4dbe6efa1dbc"
                alt="Bespoke Tailoring" width="800" height="800" />
            </div>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="mx-auto max-w-prose text-base lg:max-w-none"></div>
        <div class="prose  mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
          <p>
            In the studio we are constantly experimenting with new fibres,
            patterns, and shapes that bring us joy. We have made a variety of
            ready to wear accessories and sweaters available for immediate
            purchase. Each item is knit by hand, on bamboo needles, with 100%
            wool or other natural fibre yarns. By buying a ready to wear piece,
            you are not only getting a sturdy garment you can wear as soon as we
            can ship it to you, but you are investing in our studio, our hand
            making and keeping culture, tradition and art alive. If you’d like
            to read about and join in a conversation regarding the processes we
            use to make our clothes, please have a look at the <a> <button class="text-gray-700"
              (click)="onThoughts()"><strong>thoughts</strong></button></a> page
            where we’ll be discussing all of these things, and more.
          </p>
        </div>

        <div class="prose prose-indigo mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
          <h2 class="text-bold text-gray-700">
            Care and Handling instructions for Ready to Wear Garments: and leave
            the rest as is.
          </h2>
          <p>
            The hand knit garment you have purchased from made to is 100%
            natural fibers, therefore requires an extra bit of care. If you are
            not accustomed to this process, please give it a try, as it’s very
            simple. All of our garments can also be put out for dry cleaning.
          </p>

          <p>
            <strong>Step 1.</strong> Fill a basin (sink, bathtub, etc) full of
            warm tap water (no hotter than 40C). add your favorite no-rinse wool
            wash to the basin and swirl gently.
          </p>

          <p>
            <strong>Step 2.</strong> Place your item into the basin and without
            agitating, press down on the garment so water soaks into the fibers.
            If there are any spills or spots on the garment, rub very gently to
            dissolve.
          </p>

          <p>
            <strong>Step 3.</strong> Let the garment soak for about an hour.
            This will allow any grit to fall out of the fibers, and into the
            bottom of the basin
          </p>

          <p>
            <strong>Step 4.</strong> After the allowed soaking time, take the
            garment out of the basin and gently squeeze the excess water out. If
            you have a top loading washing machine, using the spin cycle is a
            good way to help dry the garment. If the spin cycle is not an
            option, rolling the garment in a towel and squeezing a second time
            is also an option.
          </p>

          <p>
            <strong>Step 5.</strong> After all excess water has been squeezed
            out, depending on the garment, lay flat or hang to dry.
          </p>

          <p>
            <strong>Step 6.</strong> For an extra crisp finish, press the
            garment with a steam iron (pressing and lifting only, not pushing or
            dragging the iron across the fabric) Use the iron to press out any
            marks left by hangers or any stretching you feel has occurred.
          </p>

          <p>
            I hope these instructions were helpful. At made to we are deeply
            dedicated to the long wear of our handmade garments and are more
            than happy to assist in teaching our customers how to care for their
            beloved woolens. For any questions regarding this process please
            send an email to cassandra@tokyo-made-to.com.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
