
<div class="relative mx-auto max-w-7xl">
  <div class="text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Thoughts and Images</h2>
    <p class="mx-auto mt-3 max-w-2xl text-xl text-gray-500 sm:mt-4">Some of our thought and images from in and around Tokyo</p>
  </div>
  <button  mat-icon-button (click)="backToHome()" class="sm-hidden lg:visible md:visible absolute top-12 mb-20 items-left text-3xl font-semibold text-gray-700 align-middle rounded-lg right-30 btn hover:text-white hover:bg-gray-500 dark:hover:bg-gray-700" >
      <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
  </button>

<div class="px-4 py-12" *ngIf="blogImages$ | async as blogImages">
  <div class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] mx-auto bg-white py-12 lg:px-10 md-px-6 px-4">

    <div class="text-4xl text-gray-900 lg:max-w-[624px] w-full lg:mt-8 md:mt-6 mt-4">  {{blog.title}} </div>

    <div class="gap-4 mt-6 lg:mt-12 md:mt-8 justify-evenly">
      <p class="max-w-lg text-base text-center text-gray-700 md:text-left" [innerHTML]="blog.paragraph | safe: 'html'"></p>
    </div>

    <div class="sm:invisible md:visible" *ngIf="blogImages?.length > 0">
      <img [ngSrc]="blogImages[0].url" width="400" height="600" alt="caps" class="rounded-lg " />
    </div>

    <div class="gap-4 mt-6 lg:flex lg:mt-12 justify-evenly ">
      <p class="max-w-[580px] p-1 text-base text-center text-gray-700 bg-transparent -mt-100 top-48 md:text-left bg-blur"
      [innerHTML]="blog.body | safe: 'html'"></p>
    </div>

    <div class="sm:invisible md:visible" *ngIf="blogImages?.length > 0">
      <img [ngSrc]="blogImages[1].url" width="400" height="400" alt="caps" class="rounded-lg "/>
    </div>


    <div class="gap-4 mt-6 lg:flex lg:mt-12 justify-evenly ">
      <p class="max-w-[580px] p-1 text-base text-center text-gray-700 bg-transparent -mt-100 top-48 md:text-left bg-blur"
      [innerHTML]="blog.conclusion | safe: 'html'"></p>
    </div>

  </div>

  <style>
    .bg-blur {
      background: linear-gradient(91.25deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 99.82%);
      backdrop-filter: blur(25px);
    }
  </style>



