<div class="px-4 py-12" *ngIf="blogImages$ | async as blogImages">
  <div class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] mx-auto bg-white py-12 lg:px-10 md-px-6 px-4" >

    <div class="text-4xl text-gray-900 lg:max-w-[624px] w-full lg:mt-8 md:mt-6 mt-4">
      {{blog.title}}
    </div>

    <div class="top-48 gap-4 mt-6  lg:mt-12 md:mt-8 justify-evenly">
      <p class="max-w-lg text-base text-gray-700 text-center md:text-left" [innerHTML]="blog.paragraph" ></p>
    </div>

    <img [src]="blogImages[0].url" alt="caps" class="rounded-lg h-140 w-140" />

  <div class="gap-4 mt-6 lg:flex lg:mt-12 md:mt-8 justify-evenly ">
    <p class="bg-transparent -mt-100 p-1 top-48 max-w-lg text-base text-gray-700 text-center md:text-left bg-blur" [innerHTML]="blog.body" ></p>
  </div>

  <img [src]="blogImages[1].url" alt="caps" class="rounded-lg h-140 w-140" />

  <div class="top-48 gap-4 mt-6 lg:flex lg:mt-12 md:mt-8 justify-evenly">
    <p class="bg-transparent -mt-50 p-1 max-w-lg text-base text-gray-700 text-center md:text-left bg-blur" [innerHTML]="blog.conclusion" ></p>
  </div>
</div>

<style>
  .bg-blur {
      background: linear-gradient(91.25deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 99.82%);
      backdrop-filter: blur(25px);
  }
</style>

